h3 form {
  font-size: 14px;
}

#calendar {
  width: 100px;
}

.card-header a {
  display: none;
}

.card-header:hover a {
  color: var(--bs-gray-900);
  display: inline;
}

.card-header.finished {
  background-color: var(--bs-success);
  color: #fff;
}

.card-header.finished a {
  color: #fff;
}
