h3 form {
  font-size: 14px;
}

#calendar {
  width: 100px;
}

.card-header {
  cursor: pointer;
}

.card-header a {
  display: none;
}

.card-header:hover a {
  display: inline;
}

.card-header .chevron {
  transition: all 0.5s;
}

.card-header.collapsed .chevron {
  transform: rotate(180deg);
}
