h3 form {
  font-size: 14px;
}

#calendar {
  width: 100px;
}

.card-header {
  cursor: pointer;
}

.card-header a {
  display: none;
}

.card-header:hover a {
  color: var(--c-222);
  display: inline;
}

.card-header.finished {
  background-color: var(--bs-success);
  color: #fff;
}

.card-header.finished a {
  color: #fff;
}

.card-header .chevron {
  transition: all 0.5s;
}

.card-header.collapsed .chevron {
  transform: rotate(180deg);
}
