/* Styles for pages which only admins can see. */
.navbar {
  margin-bottom: 0;
}

.panel-admin .defWrapper {
  padding: 0 3px;
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 0.8em;
}

.defStructuredWrapper {
  background-color: #f5f7f9;
}

.select2-container--default
.select2-selection--multiple
.select2-selection__choice.select2-highlighted {
  background-color: #aaa;
}
