/* Styles for pages which only admins can see. */
.navbar {
  margin-bottom: 0;
}

main a:visited {
  color: #551a8b;
}

.panel-admin .defWrapper {
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 0.8em;
}

.select2-container--default
.select2-selection--multiple
.select2-selection__choice.select2-highlighted {
  background-color: #aaa;
}
