abbr {
  border-bottom: 1px dotted #aaa;
  cursor: help;
}

.header {
  background: #ddffee;
  border: 1px solid #66dd88;
  font-family: sans-serif;
  margin-bottom: 5px;
}

.header .title {
  float: left;
  font-weight: bold;
  padding: 2px 5px;
}

.header .links {
  float: right;
  font-size: 70%;
  margin-top: 3px;
  padding-right: 5px;
}

table {
  white-space: nowrap;
}

.common {
  border-collapse: collapse;
}

.common tr td,
.common tr th {
  border-left: 1px solid #cccccc;
  padding: 2px 10px;
}

.common tr .noLeftBorder,
.common tr .noLeftBorder {
  border-left: 1px solid #FFF;
}

.editableFields tr td {
  padding-right: 10px;
  vertical-align: top;
}

.discreet {
  text-decoration: none;
  color: blue;
}

hr {
	background: #aaaaaa;
	border: none; 
	height: 1px;
}

.small {
  font-size: 80%;
}

.deemph {
  color: #777777;
}

.flexHeader {
  font-family: sans-serif;
  font-size: 70%;
  margin: 0px 5px;
}

.flexFrame {
  margin: 0px;
}

.defDetails {
  color: #999999;
  font-family: sans-serif;
  font-size: 80%;
}

.defDetails a {
  color: #777777;
}

.defDetails a:hover {
  color: #555555;
}

.debugInfo {
  border-top: 1px solid #777777;
  font-size: 75%;
  margin-top: 20px;
  color: #777777;
}

.adminRecentlyVisited {
  background: #f8f8ff;
  border: 1px solid #000;
  float: right;
  font-family: sans-serif;
  font-size: 80%;
  margin-left: 5px;
  margin-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  white-space: nowrap;
}

.adminRecentlyVisited .title {
  font-weight: bold;
}

.typo {
  color: red;
  margin-left: 30px;
}

.verifyModel {
  border: 1px solid #000;
  margin-top: 10px;
  padding-left: 5px;
}

.verifyModel .modelName {
  font-weight: bold;
  font-size: 130%;
}

.verifyModel .paradigm {
  margin-left: 40px;
}

.verifyModel .buttons {
  margin-top: 10px;
}

.verifyYes {
  color:green;
}

.verifyNo {
  color: red;
}

.verifySkip {
  color: gray;
}

.flexExplanation {
  font-size: 90%;
  margin-left: 50px;
}

.blLexem {
  border: 1px solid #000;
  margin-top: 10px;
}

.blLexemTitle {
  background: #dddddd;
  border-bottom: 1px solid #000;
  padding-left: 10px;
}

.blLexemTitle .name {
  font-weight: bold;
  font-size: 120%;    
}

.isLoc {
  color: green;
  font-weight: bold;
}

.isNotLoc {
  color: red;
  text-decoration: line-through;
}

.blLexemTitle a {
  margin-left: 5px;
  vertical-align: 10%;
}

.blLexemBody {
  padding-left: 10px;
}

.blParadigm {
  margin-bottom: 5px;
}

.blInflection {
  color: #777777;
  margin-left: 40px;
}

.blDefinitions {
  border: 1px solid #777777;
  margin: 10px 40px;
  padding: 5px;
}

.blDefinitions a {
  color: #000;
  text-decoration: none;
}

.cm_lexemDiv {
  margin-left: 50px;
}

.bulkLabelComment {
  font-size: 90%;
  margin-left: 30px;
}

.noBorder img {
  border: 0;
}

.mlNotes {
  margin: 5px 0px;
}

.spaced {
  letter-spacing: 3px;
}

.inline {
  display: inline;
}

/* Select the dark icon set for the magnifier and the X for elFinder's search box.
   For some reason, by default they show as white on white. */
.ui-widget-header .ui-icon {
	background-image: url("lightness-1.10.3/images/ui-icons_222222_256x240.png");
}

/* Minor jQueryUI dialog adjustments */
.ui-dialog {
  font-size: 90%;
}

.ui-dialog .ui-dialog-buttonpane {
  padding: 0;
}

/* tinymce adjustments */

/* show the resize button, but not the status bar */
.mce-path {
  display: none !important;
}

#tinymceButtonWrapper {
  float: right;
}

.select2LexemWarnings {
  color: red;
}

.tooltip {
  width: 138px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tooltip2 {
  background: url("../img/icons/information.png") no-repeat;
  display: inline-block;
  width: 16px;
}
