#gallery {
  float: right;
}

#gallery img {
  display: block;
}

#prototypeCanvas, 
#prototypeTagsToggleButton {
  display: none;
}

#activeCanvas {
  position: absolute;
  top: 5px;
  left: 5px;
}

#tagsToggle {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background-color: #fff;
  cursor: pointer;
}
