#gallery {
  float: right;
  padding-left: 10px;
}

#gallery img {
  box-shadow: 2px 2px 10px gray;
  display: block;
  margin-bottom: 5px;
}

#prototypeCanvas, 
#prototypeTagsToggleButton {
  display: none;
}

#activeCanvas {
  position: absolute;
  top: 5px;
  left: 5px;
}

#tagsToggle {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background-color: #fff;
  cursor: pointer;
}

@media (max-width: 480px) {
  #gallery {
    float: none;
    margin-top: 10px;
    padding-left: 0;
  }

  #gallery img {
    display: inline;
    margin-bottom: 5px;
  }
}
