/* stylesheet for dexonline custom style. Do Not include here responsive tweaks, use responsive.css instead */

/*********** navbar and its elements ***********/

.navbar-brand > img {
  margin-top: -13px;
  margin-left: 16px;
}

.navbar-default {
  background-color: #FFF;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #e8e8e8;
  box-shadow: 0 0 8px 0 rgba(0,0,0,.1);
}

#logo-nav {
  width: 173px;
}

.hamburger-menu {
  margin-top: 16px;
}

.navbar-default .avatar {
  border-radius: 4px;
  margin: -16px 5px -14px;
}

/* Accomodate non-collapsible donate link. */
.navbar-toggle {
  margin-left: 20px;
}

.glyphicon-credit-card {
  top: 2px;
  padding-right: 4px;
}


/*********** search form ***********/

#searchForm {
  margin-bottom: 25px;
}

#searchField {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

#searchClear {
  color: #761818;
  cursor: pointer;
  pointer-events: auto;
}

#advancedAnchor {
  float: left;
  text-decoration: underline;
  cursor: auto;
  padding-top: 7px;
}

#searchForm .form-control:focus {
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.075), 0 0 4px #ddd;
  box-shadow: 0 1px 1px rgba(0,0,0,.075), 0 0 4px #ddd;
}

#advSearch {
  padding: 5px 0 5px 0;
}

#advSearch .checkbox {
  margin-top: 6px;
}

#select2-sourceDropDown-results li {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* autocomplete options */
#ui-id-1 {
  background: #FFF;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 0 6px 8px 0px #999;
}

#ui-id-1 a:hover {
  background: #eee;
  border-color: #eee;
  border-radius: 0;
  cursor: pointer;
  color: #761818;
}


/*********** banner ***********/

.banner-section {
  overflow: hidden;
}

.fakeBanner {
  background: #777;
  color: white;
  font-size: 20px;
  height: 90px;
  max-width: 728px;
  padding-top: 30px;
  text-align: center;
}


/*********** footer ***********/

.footer {
  padding-top: 1rem;
}

.fbBottom {
  overflow-x: hidden;
}


/*********** definitions ***********/

/* 
  Make Firefox abbr underlining consistent with other browsers.
  Reference: https://github.com/dexonline/dexonline/issues/485
*/
abbr[title] {
  text-decoration: none;
}

.defWrapper {
  margin: 1.6em 0; /* top/bottom margins to match the line-height */
  font-size: 1.15em; /* define the font-size on the wrapper, for better encapsulation */
  line-height: 1.6;
}

.def {
  color: black;
  cursor: pointer;
}

.defDetails {
  margin: 0; /* remove paragraph margin */
  font-size: 0.85em; 
  line-height: 1.88; /* equivalent line height: 1.6 / 0.85em */
}

.spaced {
  letter-spacing: 3px;
  /* prevent ligatures, since %fig.%, %refl.% etc. look bad when spaced. */
  -webkit-font-variant-ligatures: no-common-ligatures;
  font-variant-ligatures: no-common-ligatures;
}

.deemph {
  color: #ccc;
}

.emph {
  color: black;
}

.defWrapper .glyphicon-comment {
  color: #1E83C2;
  padding-right: 10px;
}

.panel-comment {
  margin-top: 20px;
  margin-left: 30px;
}

.panel-comment .panel-body {
  padding: 0px 15px 15px;
}

.panel-comment:before {
  background-color: #FFF;
  box-shadow: -4px 2px 2px 0 #ddd;
  content: "\00a0";
  display: block;
  height: 20px;
  left: 20px;
  position: relative;
  top: -6px;
  transform: rotate( 135deg );
  width: 20px;
}

.callout {
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
  margin: 20px 0;
  overflow: hidden;
  padding: 10px 20px;
}

.callout-info {
  border-left-color: #1e83c2;
}

.callout-info h3 {
  color: #1e83c2;
}


/************** labels inside headers **************/

h3 .tagList {
  margin-left: 10px;
}

h3 .label {
  font-size: 12px;
  vertical-align: middle;
}

/************** scanned page modal **************/

#pageModal .modal-dialog {
  width: 95%;
}

#pageModal .alert {
  display: none;
}

#pageImage {
  width: 100%;
}

#pageModalSpinner {
  display: none;
  height: 70px;
  left: 50%;
  margin-left: -35px;
  position: fixed;
  top: 20%;
  width: 70px;
  z-index: 2000;
}

/*********** tables ***********/

.table-caption {
    padding: 10px;
    font-weight: bold;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.table-caption .glyphicon {
    cursor: pointer;
}

.table-striped-column-odd > tbody > tr td:nth-of-type(odd),
.table-striped-column-even > tbody > tr td:nth-of-type(even) {
  background-color: #f9f9f9;
}

.sourceShortName {
  background: #DDD;
  border-radius: 2px;
  color: #444;
  font-size: 80%;
  margin-left: 10px;
  padding: 3px 5px;
}

/*********** favorites ***********/

dd.favoriteDefs {
  margin-bottom: 1em;
}

/*********** links in alerts ***********/

.alert .alert-link {
  text-decoration: underline;
}

/*********** misc helpers ***********/

.text-small {
  font-size: 10px;
}

.text-medium {
  font-size: 18px;
}

.text-big {
  font-size: 24px;
}

a.disabled {
  pointer-events: none;  
}

.tag-tooltip {
  cursor: help;
}

.vcenter {
  vertical-align: middle;
}

/* vertical spacing */
/* as suggested by http://pdenya.com/2013/08/08/vertical-space-in-bootstrap/ */
.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

/* articles images (imported from wiki */

div.tright {
  margin: .5em 0 1.3em 1.4em;
  clear: right;
  float: right;
}

div.thumb {
  margin-bottom: .5em;
  width: auto;
  background-color: transparent;
}

html .thumbimage {
  border: 1px solid #ccc;
}

div.thumbinner {
  border: 1px solid #ccc;
  padding: 3px;
  background-color: #f9f9f9;
  font-size: 94%;
  text-align: center;
  overflow: hidden;
}
