.meaningTree {
  margin-bottom: 10px;
  margin-top: 0px;
  padding-left: 0px;
}

.meaningTree ul {
  padding-left: 30px;
}

.meaningTree li {
  list-style: none;
}

.meaningTree .meaningContainer {
  padding: 2px 5px;
}

.meaningTree .bc {
  font-weight: bold;
  margin-right: 5px;
}

.meaningTree .bc:after {
  content: ".";
}

.meaningTree .htmlRep {
  font-size: 14px;
  margin-right: 10px;
}

.meaningTree .mention {
  border-bottom: 1px dotted #444;
  color: #000;
  text-decoration: none;
}

.meaningTree .htmlEtymology {
  font-size: 13px;
  margin-right: 10px;
}

.meaningTree .htmlEtymology:not(:empty)::before {
  content: "Etimologie: ";
  color: #040;
}

.meaningTree .htmlComment {
  font-size: 11px;
}

.meaningTree .tag-group {
  padding-right: 20px;
}

.meaningTree .tag-group a {
  color: #444;
}

.meaningTree .label-tag {
  background: #fcece3;
  color: #444;
}

.meaningTree .label-source {
  background: #eee;
  color: #444;
}

.meaningTree .label-relation-1 {
  background: #e5fce8;
  color: #444;
}

.meaningTree .label-relation-2 {
  background: #fce5e5;
  color: #444;
}

.meaningTree .label-relation-3 {
  background: #fff;
  color: #444;
}

.meaningTree .label-relation-4 {
  background: #fff;
  color: #444;
}

.textcomplete-dropdown {
  max-height: 155px;
  overflow-y: scroll;
}

.textcomplete-item a {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 500px;
}
