.meaningTree {
  margin-bottom: 10px;
  margin-top: 0px;
  padding-left: 0px;
}

.meaningTree ul {
  padding-left: 30px;
  margin-left: 10px;
}

.meaningTree ul ul {
  padding-left: 30px;
  margin-left: 10px;
}

.meaningTree li {
  list-style: none;
}

.meaningTree .meaningContainer {
  padding: 2px 5px;
}

.meaningTree .bc:not(:empty) {
  margin-right: 5px;
  vertical-align: top;
}

.meaningTree .typeName:not(:empty) {
  display: inline-block;
  font-weight: bold;
  margin-right: 5px;
  margin-bottom: 3px;
  color: #555;
}

.meaningTree .html {
  font-size: 14px;
  margin-right: 10px;
}

.meaningTree .mention {
  border-bottom: 1px dotted #444;
  color: #000;
  text-decoration: none;
}

.meaningTree .tag-group {
  padding-right: 5px;
}

.meaningTree .tag-group a {
  color: #444;
}

.meaningTree .label-default {
  background: #fff;
  border: 1px solid #ccc;
  font-weight: normal;
}

.meaningTree .label-source {
  background: #eee;
  color: #444;
  cursor: help;
  font-weight: normal;
}

.meaningTree .label-relation-1 {
  background: #e5fce8;
  color: #444;
  font-weight: normal;
  margin-right: 3px;
}

.meaningTree .label-relation-2 {
  background: #fce5e5;
  color: #444;
  font-weight: normal;
}

.meaningTree .label-relation-3 {
  background: #fff;
  color: #444;
  font-weight: normal;
}

.meaningTree .label-relation-4 {
  background: #fff;
  color: #444;
  font-weight: normal;
}

.textcomplete-dropdown {
  max-height: 155px;
  overflow-y: scroll;
}

.textcomplete-item a {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 500px;
}

.etymologyBc {
  font-weight: bold;
}

.primaryMeaning {
  margin-top: 10px;
}

.primaryMeaning .bc {
  font-size: 18px;
  font-weight: bold;
}

.primaryMeaning .meaningBody {
  font-size: 18px;
}

.secondaryMeaning .bc,
.etymology {
  font-weight: bold;
}

.secondaryMeaning .meaningBody {
  width: 90%;
}

.meaningContainer .defDetails {
  padding-left: 42px;
}

.exampleLink {
  color: #555;
}

.exampleBody {
  color: #555;
}

.examples {
  overflow: hidden;
  padding-left: 42px;
  padding-top: 10px;
}

.examples ul {
  margin-left: 0 !important;
  padding-left: 0 !important;
}

.tree-heading {
  border-bottom: 1px solid #999;
  font-weight: bold;
  padding-bottom: 10px;
}

.tree-body {
  margin-bottom: 40px;
  padding-left: 20px;
}

.tab-pane > ul {
  margin-left: 20px;
}

.tab-pane > ul {
  margin-bottom: 20px;
}

@media (max-width: 991px) {
  .primaryMeaning .meaningBody {
    width: 93%;
  }
}

@media (max-width: 480px) {
  .primaryMeaning .meaningBody {
    width: 90%;
  }

  .secondaryMeaning .meaningBody {
    width: 86%;
  }

  .meaningContainer .defDetails {
    padding-left: 32px;
  }

  .meaningTree ul {
    padding-left: 20px;
    margin-left: 0;
  }

  .meaningTree ul ul {
    padding-left: 28px;
    margin-left: 0;
  }
}

@media (max-width: 320px) {
  .panel-body {
    padding: 0;
  }

  .meaningContainer .defDetails {
    padding-left: 4px;
  }

  .meaningTree ul,
  .meaningTree ul ul {
    padding-left: 0;
    margin-left: 0;
  }
}
