.meaningTree {
  margin-bottom: 10px;
  margin-top: 0px;
  padding-left: 0px;
}

.meaningTree ul {
  padding-left: 30px;
  margin-left: 10px;
  border-left: 1px solid rgba(138,109,59,0.75);
}

.meaningTree ul ul {
  padding-left: 30px;
  margin-left: 10px;
  border-left: 1px solid rgba(138,109,59,0.50);
}

.meaningTree li {
  list-style: none;
}

.meaningTree .meaningContainer {
  padding: 2px 5px;
}

.meaningTree .bc:not(:empty) {
  margin-right: 5px;
  vertical-align: top;
}

.meaningTree .typeName:not(:empty) {
  margin-right: 5px;
  color: #777;
}

.meaningTree .htmlRep {
  font-size: 14px;
  margin-right: 10px;
}

.meaningTree .mention {
  border-bottom: 1px dotted #444;
  color: #000;
  text-decoration: none;
}

.meaningTree .tag-group {
  padding-right: 20px;
}

.meaningTree .tag-group a {
  color: #444;
}

.meaningTree .label-tag {
  background: #fcece3;
  color: #444;
  font-weight: normal;
}

.meaningTree .label-source {
  background: #fdf7c7;
  color: #444;
  font-weight: normal;
}

.meaningTree .label-relation-1 {
  background: #e5fce8;
  color: #444;
  font-weight: normal;
}

.meaningTree .label-relation-2 {
  background: #fce5e5;
  color: #444;
  font-weight: normal;
}

.meaningTree .label-relation-3 {
  background: #fff;
  color: #444;
  font-weight: normal;
}

.meaningTree .label-relation-4 {
  background: #fff;
  color: #444;
  font-weight: normal;
}

.textcomplete-dropdown {
  max-height: 155px;
  overflow-y: scroll;
}

.textcomplete-item a {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 500px;
}

.meaningTree .htmlRep.meaningBody,
.meaningContainer .bc {
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
  color: #444;
  padding-top: 25px;
}

.meaningTree .htmlRep.meaningBody {
  width: 90%;
}

.meaningContainer .defDetails {
  padding-left: 35px;
}

.exampleBody {
  color: #8a6d3b;
}

.tree .panel-body {
  padding-top: 0;
  margin-top: -10px;
}

.panel-default.tree {
  border-color: #fff;
  box-shadow: none;
}

.tree .panel-heading {
  background-color: #8a6d3b;
  color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.tab-pane h3,
.tab-pane > ul {
  margin-left: 20px;
}

.tab-pane > ul {
  margin-bottom: 20px;
}
