.paraLexeme {
  margin-bottom: 10px;
}

.lexemeName {
  font-weight: bold;
}

.lexeme {
  border-collapse: collapse;
  margin-left: 0;
  margin-top: 5px;
}

.lexeme td {
  border: 1px solid #dddddd;
  padding: 0px 10px;
}

.lexeme .inflection {
  color: #555555;
  font-style: italic;
  font-size: small;
  text-align: center;
}

.lexeme .form {
  font-style: italic;
}

.lexeme .spacer {
  height: 2px;
}

.lexeme tr .person {
  text-align: right;
}

.noParadigm {
  color: #555555;
  font-style: italic;
  padding-left: 80px;
  white-space: nowrap;
}

.lexemeMorphology {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.lexemeMorphology li {
  display: inline;
}

.lexemeMorphology li + li:before {
  content: '/';
}

.lexemeMorphology .value {
  font-style: italic;
}

.lexemeNotes,
.lexemeSources {
  font-size: 75%;
  color: green;
}

.paradigmDiv {
  white-space: nowrap;
}

.paradigmLink {
  font-size: small;
}

.commaList {
  display: inline;
  list-style: none;
  padding: 0px;
}

.commaList li {
  display: inline;
}

.commaList li::after {
  content: ', ';
}

.commaList li:last-child::after {
  content: '';
}

li.elision {
  color: saddlebrown;
  cursor: help;
}

li.elisionShown {
  display: inline;
}

li.elisionHidden {
  display: none;
}

.elisionLegend {
  color: saddlebrown;
  font-style: italic;
}

li.notRecommended {
  color: #1010c0;
  cursor: help;
}

li.notRecommendedShown {
  display: inline;
}

li.notRecommendedHidden {
  display: none;
}

.notRecommendedLegend {
  color: #1010c0;
  font-style: italic;
}

.variantParadigm {
  display: none;
}

/*
  Fix the inflection arrow for Google Chrome
  Reference: https://github.com/dexonline/dexonline/issues/484
*/
#inflArrow {
  font-family: serif;
}
