.paraLexem {
  margin-bottom: 10px;
}

.paraEdit {
  background: url("../img/icons/pencil.png") no-repeat;
  font-size: 16px;
  padding-left: 16px;
  text-decoration: none;
}

.lexemName {
  font-weight: bold;
}

.lexem {
  border-collapse: collapse;
  margin-left: 0;
  margin-top: 5px;
}

.lexem td {
  border: 1px solid #dddddd;
  padding: 0px 10px;
}

.lexem .inflection {
  color: #555555;
  font-style: italic;
  font-size: small;
  text-align: center;
}

.lexem .form {
  font-style: italic;
}

.accented {
  text-decoration: underline;
}

.lexem .spacer {
  height: 2px;
}

.lexem tr .person {
  text-align: right;
}

.noParadigm {
  color: #555555;
  font-style: italic;
  padding-left: 80px;
  white-space: nowrap;
}

.isLoc {
  color: green;
  cursor: help;
  font-weight: bold;
}

.lexemNotes,
.lexemSources {
  font-size: 75%;
  color: green;
}

#paradigmDiv {
  margin: 5px 50px;
  padding: 5px;
  white-space: nowrap;
}

.paradigmLink {
  font-size: small;
}

.notInLoc {
  color: #c01010;
  cursor: help;
  font-style: italic;
}

.notRecommended {
  color: #1010c0;
  cursor: help;
  font-style: italic;
}

.notRecommendedLegend {
  color: #1010c0;
  font-style: italic;
}
