/* stylesheet only for custom tweaks regarding responsive layout on ALL pages */

@media (max-width: 767px) {
  .navbar-collapse {
     clear:both;
  }

  .navbar-default .navbar-collapse {
    background-color: #f8f8f8;
  }

  #logo-narrow {
    margin-top: -4px;
  }
}

@media (max-width: 992px) {
  #logo-wide {
    display: none;
  }

  .navbar-brand > img {
    margin-left: 0;
  }
}

@media (min-width: 993px) {
  #logo-narrow {
    display: none;
  }

  header .container {
    padding: 0;
  }

  .widget>div {
    min-height: 88px;
  }
}

@media (min-width: 768px) {
  .navbar-right {
    margin-right: 0;
  }
}
