.apLexemeForm {
  display: inline-block;
  font-weight: bold;
  font-size: 120%;
  width: 30em;
}

.apLetter:hover {
  color: #00ff00;
  cursor: pointer;
}

.card-admin {
  border: 1px solid var(--c-ddd);
  margin: 10px 0px;
  padding: 5px;
}
