; Configuration file for a DEX online installation

; Locations of the AdoDB and AdoDB Active Record files
adoDbActiveRecordClass = adodb/adodb-active-record.inc.php
adoDbClass = adodb/adodb.inc.php

; Modules that are allowed to run and possibly serve a banner instead of the bannerType choice below.
; These will be invoked in the order they are listed until one of them serves a banner.
; If none of them has a relevant banner, we fall back to bannerType.
; adsModulesH[] = diverta
; adsModulesH[] = someOtherModule

; Type of banner to be served.
; Banner sizes are dictated by the skin. See templates/common/bits/banner.ihtml.
; Choices are "openx", "adsense", "fake" or "none".
; The option "fake" displays a placeholder banner and can be used in development/beta (so as not to steal real impressions from campaigns).
bannerType = adsense

; Contact email, sprinkled throughout the site
contact = contact@dexonline.ro

; AdoDB connection
database = mysql://root@localhost/DEX

; Show some debug information when this user is logged in.
debugUser = reggie

; Show our web host logo
hostedBy =

; LOC versions (for scrabble users). Each version should have a corresponding LOC_* database.
; See also mysql_loc_prefix
locVersions[] = 4.0 10/09/2007
locVersions[] = 4.1 01/11/2008
locVersions[] = 5.0 01/24/2011
locVersions[] = 6.0 current

; Whether or not to log query-related information
logSearch = 1

; Full name of the log file
logPath = /var/log/dex-query.log

; For each query, log at most this many results
; If set to zero, then log only query information, but not the results
logResults = 0

; Log this fraction of queries, sampled uniformly at random
; Possible values: 0.00 <= logSampling <= 1.00
logSampling = 0.10

; Whether to use the memcached server
memcache = 1

; If this site is a mirror, certain features will be disabled: user login, typo reporting etc.
mirror = 0

; Prefix for the LOC databases.
mysql_loc_prefix = LOC_

; Available skins
skins[] = zepu
skins[] = polar

; Location of the smarty class file.
smartyClass = smarty/Smarty.class.php

[skin-zepu]
; Display banners  after the search box.
adsense_mainPage = "id=1220723485&width=728&height=90"
adsense_beforeResults = "id=2401834072&width=728&height=90"
openx_mainPage = 216368
openx_beforeResults = 201501

[skin-polar]
; No tweaks here
adsense_top = "id=2054526829&width=728&height=90"
openx_top = 121346
