; Configuration file for a DEX online installation

; Locations of the AdoDB and AdoDB Active Record files
adoDbActiveRecordClass = adodb/adodb-active-record.inc.php
adoDbClass = adodb/adodb.inc.php

; Modules that are allowed to run and possibly serve a banner instead of the bannerH and bannerV choices below
; These will be invoked in the order they are listed until one of them serves a banner.
; If none of them has a relevant banner, we fall back to bannerH and bannerV
; adsModulesH[] = module1
; adsModulesH[] = module2

; Types of banners to be served for the horizontal and vertical banner.
; Banner sizes are always leaderboard (728x90, 90x728).
; Choices are "openx", "adsense", "fake" or "none".
; The option "fake" displays a placeholder banner and can be used in development/beta (so as not to steal real impressions from campaigns).
bannerH = none
bannerV = none

; Contact email, sprinkled throughout the site
contact = contact@dexonline.ro

; AdoDB connection
database = mysql://root@localhost/DEX

; Show some debug information when this user is logged in.
debugUser = reggie

; Show our web host logo
hostedBy =

; LOC versions (for scrabble users). Each version should have a corresponding LOC_* database.
; See also mysql_loc_prefix
locVersions[] = 4.0 09/18/2007
locVersions[] = 5.0 current

; Whether or not to log query-related information
logSearch = 1

; Full name of the log file
logPath = /var/log/dex-query.log

; For each query, log at most this many results
; If set to zero, then log only query information, but not the results
logResults = 0

; Log this fraction of queries, sampled uniformly at random
; Possible values: 0.00 <= logSampling <= 1.00
logSampling = 0.10

; Whether to use the memcached server
memcache = 1

; If this site is a mirror, certain features will be disabled: user login, typo reporting etc.
mirror = 0

; Prefix for the LOC databases.
mysql_loc_prefix = LOC_

; Available skins
skins[] = zepu
skins[] = polar

; Location of the smarty class file.
smartyClass = smarty/Smarty.class.php
