; Configuration file for a dexonline installation
; Some entire sections are optional. Please refer to each section's comments.

[global]

; LOC versions (for scrabble users)
locVersions[] = 4.0 2007-10-09
locVersions[] = 4.1 2008-01-11
locVersions[] = 5.0 2011-01-24
locVersions[] = 6.0 2018-02-11
defaultLocVersion = 5.0

; Max number of bookmarks/user
maxBookmarks = 500

protocol = http

; API formats

; Enable XML response when appending /xml to the definition URL
xmlApi = 1;
; Enable JSON response when appending /json to the definition URL
jsonApi = 1;

; This section handles donations through a third party.
[euplatesc]
; Key for euplatesc.ro or 0 to disable the donation box.
euPlatescKey = 0
; Merchant ID for euplatesc.ro or 0 to disable the donation box.
euPlatescMid = 0

[mail]

; Contact email, sprinkled throughout the site
contact = contact@dexonline.ro

name['contact@dexonline.ro'] = 'dexonline'

password['contact@dexonline.ro'] = ''

smtpServer = 'tls://host:port';

; WotD email settings
[WotD]
; Sender of WotD reminders (and receiver of WotD by email)
sender = sending-user@example.com

; Recipients of WotD reminders (in addition to the targeted WotD artists)
rcpt-info[] = info-user-1@example.com
rcpt-info[] = info-user-2@example.com
rcpt-error[] = error-user-1@example.com
rcpt-error[] = error-user-2@example.com

; Password to be sent with each image
password = foobar

; Image size
wotdImageHeight = 300
wotdImageWidth = 300

; We only accept WotD images for days within $interval days of today.
interval = 31

; connection info for OTRS (used to process donations automatically)
; NOTE: passwords are sent unencrypted. Do not run this from the outside.
[otrs]

restUrl = http://otrs.dexonline.ro/otrs/nph-genericinterface.pl/Webservice/rest
login = ""
password = ""

[tags]

; Animate lexemes have forms for the vocative case
animateLexeme[] = "admite vocativul"

partOfSpeech = "parte de vorbire"

rareGlyphsTagId = 416

[parsers]

; parser[urlName] = ParserClassName (file should reside in phplib/parser/)
parser[mda2] = Mda2Parser

tagsToIgnore[] = 404 ; incomplete definition
tagsToIgnore[] = 405 ; missing etymology
