.siteIdentity {
  max-width: 316px;
  margin: 30px auto 35px;
}

.siteIdentity g {
  stroke: var(--c-logo-home);
}

.tagline {
  color: var(--bs-gray-800);
  font-size: 14px;
  letter-spacing: 1px;
  text-align: right;
  margin: -2px auto 0;
}

.website-statement {
  color: var(--bs-gray-600);
}

/********************* Home page widgets *********************/
.widgets {
  margin-top: 25px;
}

.widget {
  margin: 10px;
  padding: 15px 1rem;
  border: 1px solid var(--bs-gray-400);
  border-radius: 4px;
  color: var(--bs-gray-600) !important;
}

.widget.aotm:hover {
  border-color: #1de3ce;
}

.widget.games:hover {
  border-color: var(--bs-primary);
}

.widget.random-word:hover {
  border-color: #ffc03f;
}

.widget.social:hover {
  border-color: #3b5998;
}

.widget.wotd:hover {
  border-color: #e31db2;
}

.widget.wotm:hover {
  border-color: #25d228;
}

.widget h4,
.widget-value {
  display: inline-block;
}

.widget h4::first-letter {
  text-transform: uppercase;
}

/* used in widgets/games.tpl, but only appears on the home page */
.list-games {
  margin-bottom: 0;
  padding-left: 18px;
}

@media (max-width: 320px) {
  .list-games {
    font-size: 11px;
  }
}

.customise-widgets {
  padding-right: 25px;
  font-size: 12px;
}
