html.light {
  --c-social-svg: #303030;
}

html.dark {
  --c-social-svg: #b2b2b2;
}

.siteIdentity {
  max-width: 316px;
  margin: 30px auto 35px;
}

.siteIdentity g {
  stroke: var(--c-logo-home);
}

.tagline {
  color: var(--bs-gray-800);
  font-size: 14px;
  letter-spacing: 1px;
  text-align: right;
  margin: -2px auto 0;
}

.website-statement {
  color: var(--bs-gray-600);
  font-style: italic;
}

/********************* Home page widgets *********************/
.widgets {
  margin-top: 25px;
}

.widget {
  margin: 10px;
  padding: 15px 1rem;
  border: 1px solid var(--bs-gray-400);
  border-radius: 4px;
  color: var(--bs-gray-600) !important;
}

.widget.aotm:hover {
  border-color: var(--bs-blue);
}

.widget.games:hover {
  border-color: var(--bs-primary);
}

.widget.random-word:hover {
  border-color: var(--bs-yellow);
}

.widget.social:hover {
  border-color: #303030;
}

.widget.social svg {
  height: 32px;
  width: 32px;
}

.social-1 path:nth-child(4),
.social-2 path,
.social-3 path {
  fill: var(--c-social-svg);
}

.social-4 g {
  fill: var(--c-social-svg);
  stroke: var(--c-social-svg);
}

.widget.wotd:hover {
  border-color: var(--bs-pink);
}

.widget.wotm:hover {
  border-color: var(--bs-teal);
}

.widget h4,
.widget-value {
  display: inline-block;
}

.widget h4::first-letter {
  text-transform: uppercase;
}

/* temporary workaround until fix scss */
.widget {
  padding: 10px 0.75rem !important;
}

/* used in widgets/games.tpl, but only appears on the home page */
.list-games {
  margin-bottom: 0;
  padding-left: 18px;
}

@media (max-width: 320px) {
  .list-games {
    font-size: 11px;
  }
}

.customise-widgets {
  padding-right: 25px;
  font-size: 12px;
}
