/* used from bits/wotdArchive.tpl, but only included (via Ajax) in wotd.tpl */
.wotdArchiveTable {
  table-layout: fixed;
  text-align: center;
  vertical-align: middle;
}

.wotdArchiveTable .wotdDoM {
  text-align: right;
}

.wotdArchiveTable td {
  height: 112px;
  width: 90px;
}

.wotd-navigation {
  height: 29px;
}

.wotd-navigation span {
  font-size: 28px;
}

@media (max-width: 767px) {
  .wotdArchiveTable tbody td {
    background: #fff;
    border: none;
    display: block;
    font-size: 1.2em;
    height: 138px;
    width: auto;
  }

  .wotdArchiveTable thead,
  .wotdArchiveTable tbody td:not(.activeMonth) {
    display: none;
  }

  .wotdArchiveTable tbody td > div {
    display: inline-block;
  }

  .wotdArchiveTable .wotdDoM {
    width: 7%;
  }

  .wotd-link {
    text-align: right;
    width: 88%;
  }
}

@media (max-width: 320px) {
  .wotdArchiveTable .wotdDoM {
    width: 8%;
  }

  .wotd-link {
    width: 70%;
  }

  .thumb {
    min-width: 18%;
  }
}
