.panel-admin .defWrapper:not(:last-child) {
  padding: 0 30px 3px 3px;
  border-bottom: 1px dotted #CCC;
}

.panel-admin .entryWrapper {
  padding: 0 30px 10px 3px;
  border-bottom: 1px double #CCC;
  margin-bottom: 10px;
}

.panel-admin .btn {
  margin-bottom: 5px;
}

.panel-heading .btn {
  min-width: 100px;
}