@media (min-width: 1201px) {
  .paymentSection {
    min-height: 210px;
  }

  form.payPal {
    margin-top: 35px;
  }
}

@media (max-width: 1200px) {
  .paymentSection {
    min-height: 230px;
  }

  form.payPal {
    margin-top: 45px;
  }
}

@media (max-width: 991px) {
  .paymentSection {
    min-height: 100px;
  }

  form.payPal {
    margin-top: 0;
  }
}

.onlineDonationButton {
  padding: 0;
  background: #D4EFFA url("../../img/donate.png") 0px 0px no-repeat;
  border: 0px;
  border-radius: 12px;
  cursor: pointer;
  width: 252px;
  height: 34px;
}

.paymentSection .panel-body {
  font-size: 12px;
}

.bankTransfer .form-group {
  margin-bottom: 5px;
}

.bankTransfer label {
  padding-right: 10px;
}

.select-donated-sum,
.donor-email {
  display: inline-block;
  width: 70%;
}

.donate-labels {
  min-width: 60px;
}
