.onlineDonationButton {
  padding: 0;
  background: #D4EFFA url("../../img/donate.png") 0px 0px no-repeat;
  border: 0px;
  border-radius: 12px;
  cursor: pointer;
  width: 252px;
  height: 34px;
}

.paymentSection {
  font-size: 12px;
}

.bankTransfer strong {
  padding-right: 10px;
}
