# Only allow access to this subdirectory from the known mirrors.
Order Deny,Allow
Deny from all

# voronet.francu.com
Allow from 89.122.154.49

# dictionare.edu.ro
Allow from 193.231.32.39

# hyperion.elvsoft.net
Allow from 194.117.236.180
