#hangman {
  overflow: hidden;
}

#hangman .controls .btn {
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-radius: 4px;
	border: 1px solid var(--bs-gray-500);
	color: var(--bs-gray-700);
	cursor: pointer;
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 0;
	padding: 4px 12px;
}

#hangman .controls .btn:hover {
	background: var(--bs-gray-400);
}

.graphics label,
.newGameControls label {
	display: block;
	text-align: left;
	padding-left: 5px;
	font-size: 13px;
}

.newGameControls button {
  width: 100px;
  margin-top: 4px;
}

#hangman #hintButton {
	background-color: var(--bs-yellow);
	background-image: linear-gradient(to bottom, #fbb450, #f89406);
  border: 0;
  color: #444;
  margin: 4px 2px 0;
	text-shadow: none;
  width: 230px;
}

#hangman #hintButton:hover {
	background: #f89406;
	background-position: 0px -15px;
}

#hangman .graphics {
  float: left;
  margin-left: 10px;
  margin-bottom: 10px;
}

#hangman .hangmanPic {
  background: url("../../img/hangman/hangman.png") -1510px -10px no-repeat;
  margin-top: 10px;
  width: 230px;
  height: 275px;
}

#hangman .imageLicense {
  color: var(--bs-gray-600);
  font-size: 9px;
  text-align: right;
  width: 230px;
}

#hangman .controls {
  float: left;
  margin-left: 30px;
  margin-top: 30px;
  width: 300px;
}

#hangman .newGameControls {
  float: left;
  margin-left: 30px;
  margin-top: 30px;
}

#hangman .output {
  clear: both;
  padding-top: 10px;
  padding-left: 10px;
}

#hangman .letters {
  text-align: center;
  border: 1px solid var(--bs-gray-600);
  padding: 4px 2px 2px 2px;
}

#hangman .letterButtons {
  margin: 4px 2px;
  width: 40px;
  background: var(--bs-gray-200);
}

#hangman .buttonGuessed,
#hangman .buttonGuessed:hover {
  font-weight: bold;
  background: var(--bs-primary);
  color: #fff;
}

#hangman .buttonHinted,
#hangman .buttonHinted:hover {
  background: #b2d9b2 !important;
  border: 1px solid var(--bs-green);
  color: var(--bs-green);
  font-weight: bold;
}

#hangman .buttonMissed,
#hangman .buttonMissed:hover {
  font-weight: bold;
  background-color: #da4f49;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
  color: #fff;
}

#resultsWrapper {
  display: none;
}

.modal-dialog {
  top: 30%;
}
