.millArea .word {
  margin-left: 5px;
  margin-right: 5px;
}

#questionPage,
#resultsPage,
#defCard {
  display: none;
}

.questionImage {
  display: inline-block;
  margin-right: 10px;
  text-align: center;
}

.questionNumber {
  color: var(--bs-gray-600);
}
