html.light {
  --c-btn-custom1-bg: bisque;
  --c-btn-custom2-bg: rosybrown;
  --c-btn-custom3-bg: sienna;
}

html.dark {
  --c-btn-custom1-bg: #6a5439;
  --c-btn-custom2-bg: #503030;
  --c-btn-custom3-bg: #773d22;
}

.treeWrapper {
  margin-bottom: 3px;
  max-height: 300px;
  overflow-y: auto;
}

.popover {
  max-width: 100%;
}

.btn-custom:hover {
  filter: brightness(0.9);
}

.btn-custom1 {
  background-color: var(--c-btn-custom1-bg);
}

.btn-custom2 {
  background-color: var(--c-btn-custom2-bg);
}

.btn-custom3 {
  background-color: var(--c-btn-custom3-bg);
}
