.sourceComplete0 {
  color: var(--c-444);
}

.sourceComplete1 {
  color: #cc0000;
}

.sourceComplete2 {
  color: orange;
}

.sourceComplete3 {
  color: #dac003;
}

.sourceComplete4 {
  color: blue;
}

.sourceComplete5 {
  color: green;
}

.sourceName {
  cursor: help;
}

.popover {
  min-width: 500px;
}
