.sourceComplete0 {
  background-color: var(--bs-gray-600);
}

.sourceComplete1 {
  background-color: var(--bs-red);
}

.sourceComplete2 {
  background-color: var(--bs-orange);
  color: var(--bs-body-color);
}

.sourceComplete3 {
  background-color: var(--bs-yellow);
  color: var(--bs-body-color);
}

.sourceComplete4 {
  background-color: var(--bs-blue);
  color: var(--bs-body-color);
}

.sourceComplete5 {
  background-color: var(--bs-green);
}

.sourceName {
  cursor: help;
}

.popover {
  min-width: 500px;
}
