Order Deny,Allow
Allow from all

RewriteEngine on
Options -MultiViews
# Uncomment the next line when running dexonline from within a user directory
# RewriteBase /~username/dexonline/www/

# Note: this directive only works for actually broken URLS.  Once Apache
# passes control to PHP, we are responsible for providing the content of the
# 404 page as well.  See
# http://stackoverflow.com/questions/437256/why-wont-my-php-app-send-a-404-error
ErrorDocument 404 /404

# search pages
RewriteRule ^text(-([^/]+))?/(.*)$ search.php?cuv=$3&source=$2&text=1 [L]
RewriteRule ^definitie(-([^/]+))?/([^/]+)(/([0-9]+))?(/expandat)?(/(paradigma|sinteza))?(/xml|/json)?$ search.php?cuv=$3&source=$2&defId=$5&tab=$8&all=$6&format=$9 [PT,L]
RewriteRule ^intrare(-([^/]+))?/([^/]+)(/([0-9]+))?(/(paradigma|sinteza))?(/xml|/json)?$ search.php?cuv=$3&source=$2&entryId=$5&tab=$7&format=$8 [PT,L]
RewriteRule ^lexem/([^/]+)(/([0-9]+))?$ search.php?cuv=$1&lexemeId=$3 [PT,L]

# Append .php when a file by that name exists
RewriteCond %{REQUEST_URI} /[-a-zA-Z]+$
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule (.*)$ $1.php [L]

# Special case for index.php
RewriteRule ^$ index.php [L]

# Pass everything else through the router
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^.*$ router.php [L]
