.tree-status-1 {
  display: none;
}

.defWrapper .rep {
  margin-top: 10px;
}

.defWrapper .internal {
  font-family: courier;
}

.defWrapper .hiddenRep {
  display: none;
}

.defWrapper .typo {
  padding: 10px 0;
  border-bottom: #CCC 1px dashed;
}
