.ambigAbbrev {
  white-space: nowrap;
}

.ambigAbbrev span {
  margin: 0 3px;
}

.previewAbbrev {
  border-bottom: 1px dotted var(--bs-gray-600);
}

.previewWord {
  /* currently empty -- non-abbreviations have no style */
}
