/**
 * Entry point for the Bootstrap light theme.
 *
 * If you modify this file, remember to recompile the CSS file by running
 * tools/recompileCss.sh.
 **/

/* color overrides */
$primary:   #00852a;
$secondary: #006cd1;

$red:       #ad1700; /* also $danger */
$pink:      #ab0065;
$orange:    #ff9800;
$green:     #006615; /* also $success */
$blue:      #15bed1;

html.light {
  --c-logo-home: #212529;
  --c-logo-nav: #3a3a3a;
  --c-navbar-bg: white;
  --c-navbar-border: #e8e8e8;
  --c-notice: #212529;
  --c-notice-bg: #e2e3e5;
  --c-read-more-top: rgba(255, 255, 255, 0.8);
  --c-search-shadow: #ddd;
  --c-tag: white;
  --c-tag-bg: var(--bs-secondary);
}

@import "common.scss";

/* autocomplete overrides */
#ui-id-1 {
  box-shadow: 0 6px 8px 0px var(--bs-gray-400);
}

#ui-id-1 .ui-menu-item-wrapper:hover {
  border-color: var(--bs-gray-200);
  color: inherit;
}
