/**
 * If you modify this file, remember to recompile the CSS file by running
 * tools/recompileCss.sh
 **/

/* color overrides */
$info: #1e83c2;
$primary: #761818;
$light: #d5d5d5;
$warning: #be9105; /* slightly darker, so that text looks readable on a white background */

/* Bootstrap overrides */
$dropdown-link-hover-color: $primary;
$font-family-sans-serif: Open Sans, Arial, sans-serif;
$font-size-base: 0.875rem;
$input-btn-focus-blur: 8px;
$input-focus-border-color: $primary;
$legend-font-size: 1.25rem;
$link-decoration: none;
$link-hover-decoration: underline;
$navbar-light-hover-color: $primary;

@import "third-party/bootstrap/bootstrap";

@include media-breakpoint-down(lg) {
  /* navbar logo: show just the computer, not the "dexonline" word */
  .navbar-brand {
    overflow: hidden;
    width: 44px;
  }
}

/************************* navbar media queries *************************/

@include media-breakpoint-up(lg) {
  .navbar .container {
    padding: 0px;
  }
}

/*********************** search form media queries ***********************/

@include media-breakpoint-down(md) {
  #advancedAnchor {
    padding: 9px 9px 5px 0px;
  }
}

/************************* widget media queries *************************/

@include media-breakpoint-up(md) {
  .widget {
    min-height: 215px;
  }
}

@include media-breakpoint-up(xl) {
  .widget {
    min-height: 136px;
  }
}

/************************ donation media queries ************************/

@include media-breakpoint-up(xl) {
  .paymentSection {
    min-height: 210px;
  }

  form.payPal {
    margin-top: 35px;
  }
}

@include media-breakpoint-only(lg) {
  .paymentSection {
    min-height: 230px;
  }

  form.payPal {
    margin-top: 45px;
  }
}
