table.searchTable {
	width: 100%;
	margin: 0px;
}

table.searchTable tr td {
	text-align: center;
	width: 1%;
	white-space: nowrap;
}

form.searchForm input, form.searchForm select {
	font-size: 10px;
}

body.footer {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background: #eeeeee;
	margin: 2px;
	padding: 0px;
	font-size: 0.7em;
  text-align: center;
}

a.ref {
  color: blue;
  text-decoration: none;
}

a.ref:visited {
  color: blue;
  text-decoration: none;
}

a.ref:hover {
	color: #ff0080;
}

span.hint {
  color: green;
  font-size: 80%;
}
