#offlineClients {
  border-collapse: collapse;
  margin: 20px auto 0px auto;
  font-size: small;
}

#offlineClients tr.color1 {
  background-color: #f8f8f8;
}

#offlineClients tr.color2 {
  background-color: #eeeeee;
}

#offlineClients td {
  border: 1px solid #aaaaaa;
  padding: 5px;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
}

#offlineClients td.clientHeader {
  font-weight: bold;
  text-align: left;
  vertical-align: middle;
}

#offlineClients td.empty {
  background-color: white;
  border-left: 0px;
  border-top: 0px;
  width: 100px;
}

#offlineClients .clientName {
  font-weight: bold;
}

#offlineClients td.columnHeader {
  text-align: center;
}

#offlineClients td.option {
  text-align: center;
  vertical-align: middle;
}

#offlineClients .optionDesc {
  font-size: 75%;
  font-weight: normal;
  padding-left: 20px;
  white-space: normal;
}

.lexemTags {
  font-size: 75%;
  color: green;
}

table.sources {
  border-width: 1px;
}

table.sources th, table.sources td {
  -moz-border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  text-align: center;
  font-size: 80%;
}

table.sources td {
  color: blue;
}

