/* Full text highlight. Keep the number of colors in sync with Definition::highlight(). */
.fth {
  color: white;
  border-width: 1.5px;
  border-style: outset;
}

.fth0 {
  background: #cc0000;
}

.fth1 {
  background: #cc6600;
}

.fth2 {
  background: #008800;
}

.fth3 {
  background: #000088;
}

.fth4 {
  background: #880088;
}

table.sources {
  border-width: 1px;
}

table.sources th, table.sources td {
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  text-align: center;
  font-size: 80%;
  color: blue;
}

table.sources td {
  color: blue;
}

#typoDiv {
  background: #f8f8f8;
  border: 1px solid #777;
  border-radius: 4px;
  display: none;
  margin-top: 10px;
  padding: 8px;
  position: absolute;
  width: 400px;
  z-index: 100;
}

#typoDivNote {
  background: url("../img/icons/information.png") no-repeat;
  height: 16px;
  padding-left: 20px;
}

#typoDivCloseButton {
  background: url("../img/icons/cross16.png") no-repeat;
  cursor: pointer;
  float: right;
  height: 16px;
  margin-top: -5px;
  margin-right: -5px;
  width: 16px;
}

#typoDivConfirmation {
  text-align: center;
}

.tocnumber { 
    display: none;
}

blockquote {
    border: 1px solid; 
    padding: 2px 6px;
}

.btn,
.commonShadow {
  -webkit-box-shadow: 1px 1px 2px #999;
  -moz-box-shadow: 1px 1px 2px #999;
  box-shadow: 1px 1px 2px #999;
}

.btn:hover,
.commonShadow:hover,
#mainMenu li ul,
#userMenu li ul {
  -webkit-box-shadow: 1px 1px 2px #555;
  -moz-box-shadow: 1px 1px 2px #555;
  box-shadow: 1px 1px 2px #555;
}

.pop-up-shadow,
#typoDiv {
  -webkit-box-shadow: 5px 5px 10px #555;
  -moz-box-shadow: 5px 5px 10px #555;
  box-shadow: 5px 5px 10px #555;
}

.pop-up-shadow {
  min-width: 500px;
}


/* Unelte table, Surse table, Licențe table */
.minimalistTable,
.wikiArticle table {
  border-collapse: collapse;
  border: 0;
  margin: 0;
  width: 100%;
}

.minimalistTable tr,
.minimalistTable td,
.wikiArticle tr,
.wikiArticle td {
  border: 0;
}

.minimalistTable td,
.wikiArticle td {
  padding: 2px 10px;
}

.minimalistTable td:nth-child(even),
.wikiArticle td:nth-child(even) {
  background: #F2F2F2;
}

.minimalistTable td:first-of-type,
.wikiArticle td:first-of-type {
  text-align: left;
}

.minimalistTable th,
.wikiArticle th {
  background: #FFF;
  border: 0;
  border-bottom: 2px solid #BFBFBF;
  font-weight: normal;
  padding: 2px 10px;
  text-align: left;
  vertical-align: bottom;
}

.toolsTable {
  font-size: 12px;
  text-align: center;
  margin: 20px 0;
}

.toolsTable th,
#manualTopPager td {
  text-align: center;
}

.licences td,
.wikiArticle td {
  padding: 6px 10px;
}

.sourceShortName {
  color: #444;
}

.licences .sourceShortName {
  background: #DCDCDC;
  border-radius: 2px;
  font-size: 80%;
  margin-left: 10px;
  padding: 3px 5px;
}

.licences .author,
.licences .dictionary-name {
  max-width: 300px;
}

span.tooltip2 {
  background: url("../img/icons/information.png") no-repeat;
  display: inline-block;
  width: 16px;
}

#manualTop,
#bulkTop {
  width: 694px;
  margin: 15px auto;
}

#manualTopPager img,
#manualTopPager input {
  margin-top: 6px;
}

#manualTopPager select {
  margin-left: 15px;
}

.numerical {
  text-align: right;
}

.toolsTable.minimalistTable tr,
.licences.minimalistTable tr,
#sources.minimalistTable tr,
.wikiArticle tr {
  border-bottom: 1px solid #DDD;
}

#manualTop.minimalistTable tr:nth-child(3n),
#bulkTop.minimalistTable tr:nth-child(3n) {
  border-bottom: 1px solid #DDD;
}

