#textareaSubtitle {

	position: relative;
	width: 100%;
}

#textareaSubtitle span {

	color: blue;
	font-size: 20px;
	font-family: serif;
	font-weight: 900;
}


#textarea_div {

	position: relative;
	width: 600px;
	margin: 0 auto;
}


textarea {

	position: relative;

	width: 580px;
	height: 250px;

	resize: none;

	margin: 10px;

	border:1px solid gray;
	background-color:#EEEEF6;
}

#text_input {

	position: relative;
	text-align:left;

	overflow-y: scroll;

	width: 580px;
	height: 250px;

	resize: none;

	margin: 10px;

	border:1px solid gray;
	background-color:#EEEEF6;
}
