.tip {
  margin: 10px;
  text-align: center;
}

.tip span {
  background: #e3f2fa;
  border: 1px solid #90c9e8;
  border-radius: 8px;
  padding: 10px;
}

#mtTree li {
  cursor: pointer;
  list-style: none;
}

.expand {
  float: left;
  width: 24px;
  height: 24px;
}

.expand.visible {
  background: url("../img/icons/add.png") 3px 5px no-repeat;
}

.value {
  min-height: 25px;
  padding: 3px;
}

#mtTree .selected ul {
  background: #e3f2fa;
}

#menuBar {
  background-color: #90c9e8;
  display: none;
  padding: 3px;
}

#menuActions {
  float: right;
}
