div.header {
  background: #ddffee;
  border: 1px solid #66dd88;
  font-family: sans-serif;
  margin-bottom: 5px;
}

div.header div.title {
  float: left;
  font-weight: bold;
  padding: 2px 5px;
}

div.header div.links {
  float: right;
  font-size: 70%;
  margin-top: 3px;
  padding-right: 5px;
}

table {
  white-space: nowrap;
}

table.errorMessage {
  border: 2px solid #cc0000;
  border-collapse: collapse;
  margin: 10px auto;
}

table.errorMessage tr td {
  font-weight: bold;
  padding: 0px 5px;
  text-align: left;
  white-space: nowrap;
}

table.common {
  border-collapse: collapse;
}

table.common tr td, table.common tr th {
  border-left: 1px solid #cccccc;
  padding: 2px 10px;
}

table.common tr td.noLeftBorder, table.common tr th.noLeftBorder {
  border-left: 1px solid white;
}

table.editableFields tr td {
  padding-right: 10px;
  vertical-align: top;
}

table.editableFields tr td.buttonRow {
  text-align: center;
}

a.discreet {
  text-decoration: none;
  color: blue;
}

hr {
	background: #aaaaaa;
	border: none; 
	height: 1px;
}

span.small {
  font-size: 80%;
}

span.deemph {
  color: #777777;
}

body.flexHeader {
  font-family: sans-serif;
  font-size: 70%;
  margin: 0px 5px;
}

body.flexFrame {
  margin: 0px;
}

span.defDetails {
  color: #999999;
  font-family: sans-serif;
  font-size: 80%;
}

span.defDetails a {
  color: #777777;
}

span.defDetails a:hover {
  color: #555555;
}

div.debugInfo {
  border-top: 1px solid #777777;
  font-size: 75%;
  margin-top: 20px;
  color: #777777;
}

div.adminRecentlyVisited {
  background: #f8f8ff;
  border: 1px solid black;
  float: right;
  font-family: sans-serif;
  font-size: 80%;
  margin-left: 5px;
  margin-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  white-space: nowrap;
}

div.adminRecentlyVisited div.title {
  font-weight: bold;
}

span.typo {
  color: red;
  margin-left: 30px;
}

div.lexemSectionHeader {
  font-size: 110%;
  font-weight: bold;
}

div.lexemSection {
  margin-left: 20px;
  margin-bottom: 10px;
}

div.verifyModel {
  border: 1px solid black;
  margin-top: 10px;
  padding-left: 5px;
}

div.verifyModel span.modelName {
  font-weight: bold;
  font-size: 130%;
}

div.verifyModel div.paradigm {
  margin-left: 40px;
}

div.verifyModel div.buttons {
  margin-top: 10px;
}

.verifyYes {
  color:green;
}

.verifyNo {
  color: red;
}

.verifySkip {
  color: gray;
}

div.flexExplanation {
  font-size: 90%;
  margin-left: 50px;
}

div.blLexem {
  border: 1px solid black;
  margin-top: 10px;
}

div.blLexemTitle {
  background: #dddddd;
  border-bottom: 1px solid black;
  padding-left: 10px;
}

div.blLexemTitle span.name {
  font-weight: bold;
  font-size: 120%;    
}

span.isLoc {
  color: green;
  font-weight: bold;
}

span.isNotLoc {
  color: red;
  text-decoration: line-through;
}

div.blLexemTitle a {
  margin-left: 5px;
  vertical-align: 10%;
}

div.blLexemBody {
  padding-left: 10px;
}

div.blParadigm {
  margin-bottom: 5px;
}

span.blInflection {
  color: #777777;
  margin-left: 40px;
}

div.blDefinitions {
  border: 1px solid #777777;
  margin: 10px 40px;
  padding: 5px;
}

div.blDefinitions a {
  color: black;
  text-decoration: none;
}

table.editModel {
  border-collapse: collapse;
  margin-top: 10px;
  margin-bottom: 10px;
}

table.editModel tr th {
  text-align: left;
}

table.editModel tr th.input {
  padding-left: 10px;
}

table.editModel tr td.input {
  padding-left: 10px;
}

.fieldColumn {
  float: left;
  width: 200px;
}

.checkboxColumn {
  float: left;
  width: 60px;
}

table.editModel tr td.addSign {
  vertical-align: bottom;
}

table.editModel tr.exponent td {
  border-bottom: 1px solid #aaaaaa;
}

table.editModel tr.even {
  background: #ddd;
}

table.editModel p {
  margin: 0;
  padding: 0;
}

table.changedForms {
  border-collapse: collapse;
}

table.changedForms tr.header, table.changedForms tr.exponent {
  font-weight: bold;
}

table.changedForms tr td.model {
  color: #777777;
  padding: 0px 10px;
}

table.changedForms tr td {
  border: 1px solid #cccccc;
  padding: 0px 10px;
}

div.cm_lexemDiv {
  margin-left: 50px;
}

textarea.commentTextArea {
  font-family: serif;
  font-size: 100%;
}

table.ap_lexemRow {
  border-collapse: collapse;
  border-bottom: 1px solid #cccccc;
}

table.ap_lexemRow tr td.ap_lexemForm {
  float: left;
  font-weight: bold;
  font-size: 120%;
  width: 30em;
}

span.ap_letter:hover {
  color: #00ff00;
  cursor: pointer;
}

a.ap_discreetLink {
  color: #777777;
  margin-left: 50px;
}

input.miniDefTarget {
  font-family: serif;
  font-weight: bold;
}

div.bulkLabelComment {
  font-size: 90%;
  margin-left: 30px;
}

a.noBorder img {
  border: 0;
}

ul.mlNotes {
  margin: 5px 0px;
}

span.spaced {
  letter-spacing: 3px;
}

div.flashMessage {
  font-weight: bold;
  margin: 10px auto;
  padding: 10px 10px 10px 40px;
  width: 40em;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

div.errorType {
  background: url("../img/icons/exclamation.png") no-repeat 10px center;
  border: 2px solid #eea77e;
  color: #c00;
}

div.infoType {
  background: url("../img/icons/info.png") no-repeat 10px center;
  border: 2px solid #a7ee7e;
  color: green;
}

.ui-widget {
  font-size: 10px;
}

span.tooltip {
  background: url("../img/icons/information.png") no-repeat;
  display: inline-block;
  width: 16px;
}

.ui-tooltip {
  font-size: 12px;
}

.select2Edit {
  background: url("../img/icons/pencil.png") no-repeat;
  padding-left: 16px;
  text-decoration: none;
}

/* Selectarea setului de iconite inchise la culoare pentru a aparea 
x-ul si lupa in bara de cautare de la elFinder */
.ui-widget-header
.ui-icon {
	background-image: url("lightness-1.10.3/images/ui-icons_222222_256x240.png")
}
