.hangmanArea {
  border: 2px dotted #BFBFBF;
  padding: 10px;
  border-radius: 4px;
}

.hangmanArea .paragraphTitle {
  font-family: "Segoe Print", "Lucida Sans Unicode", Baskerville, Georgia;
  color: #109E1B;
  font-size: 18px;
}

#hangman {
  overflow: hidden;
}

#hangman .btn {
	color: #555;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-repeat: repeat-x;
	padding: 4px 12px;
	margin-bottom: 0;
	font-size: 14px;
	line-height: 20px;
	cursor: pointer;
	border-radius: 4px;
	border: 1px solid #BFBFBF;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

#hangman .btn:hover {
	background: #CCC;
}

#hangman .graphics label,
#hangman .newGameControls label {
	display: block;
	text-align: left;
	padding-left: 5px;
	font-size: 13px;
}

#hangman .newGame {
  width: 100px;
  margin-top: 4px;
	color: #fff;
	background-color: #49AFCD;
	background-image: -moz-linear-gradient(top, #5BC0DE, #2F96B4);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5BC0DE), to(#2F96B4));
	background-image: -webkit-linear-gradient(top, #5BC0DE, #2F96B4);
	background-image: -o-linear-gradient(top, #5BC0DE, #2F96B4);
	background-image: linear-gradient(to bottom, #5BC0DE, #2F96B4);
}

#hangman .newGame:hover {
	background: #2F96B4;
	background-position: 0px -15px;
}

#hangman #hintButton {
	background-color: #FAA732;
	background-image: -moz-linear-gradient(top, #FBB450, #F89406);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FBB450), to(#F89406));
	background-image: -webkit-linear-gradient(top, #FBB450, #F89406);
	background-image: -o-linear-gradient(top, #FBB450, #F89406);
	background-image: linear-gradient(to bottom, #FBB450, #F89406);
	text-shadow: none;
}

#hangman #hintButton:hover {
	background: #F89406;
	background-position: 0px -15px;
}

#hangman .graphics {
  float: left;
  margin-left: 10px;
  margin-bottom: 10px;
}

#hangman .hangmanPic {
  background: url("../img/hangman/hangman.png") -1510px -10px no-repeat;
  margin-top: 10px;
  width: 230px;
  height: 275px;
}

#hangman .imageLicense {
  color: #777;
  font-size: 9px;
  text-align: right;
  width: 230px;
}

#hangman .controls {
  float: left;
  margin-left: 30px;
  margin-top: 30px;
  width: 300px;
}

#hangman .newGameControls {
  float: left;
  margin-left: 30px;
  margin-top: 30px;
}

#hangman .output {
  clear: both;
  padding-top: 10px;
  padding-left: 10px;
}

#hangman .letters {
  text-align: center;
  border: 1px solid #777;
  padding: 4px 2px 2px 2px;
}

#hangman .letterButtons {
  margin: 4px 2px;
  width: 40px;
  background: #EFEFEF;
}

#hangman #hintButton {
  margin-left: 3px;
  width: 230px;
}

#hangman .buttonGuessed,
#hangman .buttonGuessed:hover {
  font-weight: bold;
  background: #109E1B;
  color: #FFF;
}

#hangman .buttonHinted,
#hangman .buttonHinted:hover {
  background: #B2D9B2;
  border: 1px solid #008000;
  color: green;
  font-weight: bold;
}

#hangman .buttonMissed,
#hangman .buttonMissed:hover {
  font-weight: bold;
  background-color: #DA4F49;
  background-image: -moz-linear-gradient(top, #EE5F5B, #BD362F);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#EE5F5B), to(#BD362F));
  background-image: -webkit-linear-gradient(top, #EE5F5B, #BD362F);
  background-image: -o-linear-gradient(top, #EE5F5B, #BD362F);
  background-image: linear-gradient(to bottom, #EE5F5B, #BD362F);
  color: #FFF;
}

#hangman #resultsWrapper {
  display: none;
  clear: both;
}

.notice-item {  /* jQuery custom selector */
  background: #333;
  border: 2px solid #999;
  border-radius: 6px;
  color: #eee;
  display: block;
  font-size: 16px;
  padding: 6px;
  text-align: center;
  line-height: 38px;

  /* Center of the screen */
  position: absolute;
  left: 50%;
  top: 300px;
  height: 60px;
  width: 300px;
  margin-left: -100px;
}

.notice-item-close { /* jQuery custom selector */
  display: none;
}
