.lexemEditActions {
  margin: 5px 0px;
}

.box {
  border: 1px solid #444;
  -webkit-box-shadow: 2px 2px 5px #424242;
  box-shadow: 2px 2px 5px #424242;
  -moz-box-shadow: 2px 2px 5px #424242;
  margin-bottom: 10px;
  margin-right: 10px;
}

.boxTitle {
  background: #444 url("../img/icons/cog.png") no-repeat 5px 6px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 5px 5px 25px;
}

.boxContents {
  padding: 5px;
}

#stemNode {
  display: none;
}

#meaningTreeContainer {
  overflow: auto;
}

#meaningTree .id, #meaningTree .internalRep, #meaningTree .internalComment, #meaningTree .sourceIds,
#meaningTree .meaningTagIds, #meaningTree .synonymIds, #meaningTree .antonymIds {
  display: none;
}

#meaningTree .htmlRep {
  font-size: 14px;
  margin-right: 10px;
}

#meaningTree .tag {
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  font-size: 10px;
  margin-right: 5px;
  padding: 1px 4px;
}

#meaningTree .sources span {
  background: #f7eada;
  border-color: #e0c29d;
}

#meaningTree .meaningTags span {
  background: #dbf7da;
  border-color: #9fe09d;
}

#meaningTree .synonyms span {
  background: #daebf7;
  border-color: #9dc5e0;
}

#meaningTree .antonyms span {
  background: #f7dcda;
  border-color: #e0a19d;
}

.meaningEditor label {
  display: inline-block;
  width: 77px;
}

.meaningEditor td {
  vertical-align: top;
}

.leftColumn {
  padding-right: 10px;
}

#editorInternalRep {
  height: 190px;
  width: 510px;
}

#editorInternalComment {
  width: 390px;
}

abbr {
  border-bottom: 1px dotted #aaa;
  cursor: help;
}

div.defInternalRep {
  font-family: courier;
  margin-top: 10px;
}

div.defHtmlRep {
  display: none;
  margin-top: 10px;
}

.commentInternalRep {
  color: #333;
  margin-left:15px;
  margin-top: 5px;
  padding: 5px;
}

span.defDetails {
  color: #999999;
  font-family: sans-serif;
  font-size: 80%;
}

span.defDetails a {
  color: #777777;
}

span.defDetails a:hover {
  color: #555555;
}

div.addDefinition {
  margin-top: 10px;
}

td.rightColumn {
  padding-left: 30px;
}

input.miniDefTarget {
  font-family: serif;
  font-weight: bold;
}

input[name=cloneLexem] {
  background: #e5e5e5 url("../img/icons/page_white_copy.png") 2px 0px no-repeat;
  padding-left: 20px;
}

input[name=deleteLexem] {
  background: #e5e5e5 url("../img/icons/cross16.png") 2px 0px no-repeat;
  padding-left: 20px;
}

input[name=mergeLexem] {
  background: #e5e5e5 url("../img/icons/add.png") 2px 0px no-repeat;
  padding-left: 20px;
}

input[name=refreshLexem] {
  background: #e5e5e5 url("../img/icons/arrow_refresh.png") 2px 0px no-repeat;
  padding-left: 20px;
}

input[name=saveLexem] {
  background: #e5e5e5 url("../img/icons/disk.png") 2px 0px no-repeat;
  padding-left: 20px;
}

input[readonly] {
  background-color: #f4f4f4;
}

.select2-container-multi, .select2-result {
  font-size: 12px;
}
