body {
  margin: 2px;
}

.box {
  display: none;
}

#stemNode {
  display: none;
}

#wmCanvas {
  margin: 2px;
}

#meaningTree {
  margin-bottom: 10px;
  margin-top: 0px;
  padding-left: 0px;
}

#meaningTree ul {
  padding-left: 10px;
}

#meaningTree li {
  background: url("../img/icons/page_white_text.png") 0px 3px no-repeat;
  list-style: none;
  padding-left: 16px;
}

#meaningTree .meaningContainer {
  padding: 2px 5px;
}

#meaningTree li.selected > .meaningContainer {
  background: #90c9e8;
}

#meaningTree li.selected ul {
  background: #e3f2fa;
}

#meaningTree .id, #meaningTree .internalRep, #meaningTree .internalComment, #meaningTree .sourceIds,
#meaningTree .meaningTagIds, #meaningTree .synonymIds, #meaningTree .antonymIds {
  display: none;
}

#meaningTree .breadcrumb {
  font-weight: bold;
  margin-right: 5px;
}

#meaningTree .breadcrumb:after {
  content: ".";
}

#meaningTree .htmlRep {
  font-size: 14px;
  margin-right: 10px;
}

#meaningTree .htmlComment {
  font-size: 11px;
}

#meaningTree .tag {
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  font-size: 10px;
  margin-right: 5px;
  padding: 1px 4px;
  white-space: nowrap;
}

#meaningTree .sources span {
  background: #f7eada;
  border-color: #e0c29d;
}

#meaningTree .meaningTags span {
  background: #dbf7da;
  border-color: #9fe09d;
}

#meaningTree .synonyms span {
  background: #daebf7;
  border-color: #9dc5e0;
}

#meaningTree .antonyms span {
  background: #f7dcda;
  border-color: #e0a19d;
}

#meaningMenu .arrowButton {
  float: right;
  padding: 0em 1em;
}

.meaningEditor label {
  display: inline-block;
  width: 77px;
}

.meaningEditor td {
  vertical-align: top;
}

.leftColumn {
  padding-right: 10px;
}

#editorInternalRep {
  height: 190px;
  width: 510px;
}

#editorInternalComment {
  width: 390px;
}

abbr {
  border-bottom: 1px dotted #aaa;
  cursor: help;
}

.defWrapper .rep {
  margin-top: 10px;
}

.defWrapper .internal {
  font-family: courier;
}

.defWrapper .hidden {
  display: none;
}

.commentInternalRep {
  color: #333;
  margin-left:15px;
  margin-top: 5px;
  padding: 5px;
}

span.defDetails {
  color: #999999;
  font-family: sans-serif;
  font-size: 80%;
}

span.defDetails a {
  color: #777777;
}

span.defDetails a:hover {
  color: #555555;
}

div.structured a.toggleStructuredLink {
  background: url("../img/icons/bullet_green.png") 0px 1px no-repeat;
  padding-left: 14px;
}

div.unstructured a.toggleStructuredLink {
  background: url("../img/icons/bullet_red.png") 0px 1px no-repeat;
  padding-left: 14px;
}

div.addDefinition {
  margin-top: 10px;
}

td.rightColumn {
  padding-left: 30px;
}

input.miniDefTarget {
  font-family: serif;
  font-weight: bold;
}

#structStatus {
  width: 172px;
}

input[name=cloneLexem] {
  background: #e5e5e5 url("../img/icons/page_white_copy.png") 2px 0px no-repeat;
  padding-left: 20px;
}

input[name=deleteLexem] {
  background: #e5e5e5 url("../img/icons/cross16.png") 2px 0px no-repeat;
  padding-left: 20px;
}

input[name=mergeLexem] {
  background: #e5e5e5 url("../img/icons/add.png") 2px 0px no-repeat;
  padding-left: 20px;
}

input[name=refreshLexem] {
  background: #e5e5e5 url("../img/icons/arrow_refresh.png") 2px 0px no-repeat;
  padding-left: 20px;
}

input[name=saveLexem] {
  background: #e5e5e5 url("../img/icons/disk.png") 2px 0px no-repeat;
  padding-left: 20px;
}

input[readonly] {
  background-color: #f4f4f4;
}

.select2-container-multi, .select2-result {
  font-size: 12px;
}

.lexemEditActions {
  margin: 0px 0px;
}

.lexemEditActions .links {
  float: right;
  padding: 3px 10px;
}

.lexemEditActions .links a {
  padding-left: 10px;
}

/* Paradigm tabs settings */
#lmTab_stem {
  display: none;
}

.ui-tabs {
  font-family: serif;
  font-size: 16px;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
  padding: 2px 10px;
}

.ui-tabs .ui-tabs-panel {
  padding: 5px;
}

.ui-icon-close {
  cursor: pointer;
  margin: 5px 3px;
}

#addLexemModel {
  position: absolute;
  right: 20px;
  top: 8px;
}

/* Window manager settings */
.titlebaricon {
  display: none;
}

.titlebartext {
  left: 10px;
  top: 3px
}

.closebut {
  display: none;
}

.windowtitlebar > .horizbuts {
  width: 39px;
}

.windowcontent {
  padding: 3px;
}

.select2-drop {
  z-index: 200000 !important; /* Make it work with the window manager */
}
