#mill {
  margin: 20px 0px 10px 0px;
}

.millArea {
  border: 2px dotted rgb(151, 212, 230);
  padding: 10px;
  border-radius: 4px;
}

.millArea form {
  margin-bottom: 10px;
}

.millArea .btn {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-repeat: repeat-x;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid rgb(204, 204, 204);
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.millArea .optionButtons {
  width: 100%;
  height: auto;
  text-align: left;
  color: #555;
  margin: 10px 0px;
  padding: 10px;
  background-image: -moz-linear-gradient(top, white, rgb(230, 230, 230));
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(rgb(230, 230, 230)));
  background-image: -webkit-linear-gradient(top, white, rgb(230, 230, 230));
  background-image: -o-linear-gradient(top, white, rgb(230, 230, 230));
  background-image: linear-gradient(to bottom, white, rgb(230, 230, 230));
}

.millArea .optionButtons:hover {
  background: rgb(230, 230, 230);
}

.millArea .word {
  font-weight: bold;
  font-size: 26px;
  text-align: left;
  margin-right: 5px;
}

.millArea .buttonHinted,
.millArea .buttonHinted:hover {
  background: #B2D9B2;
  border: 1px solid green;
  color: green;
}

.millArea .buttonMissed,
.millArea .buttonMissed:hover {
  background-color: rgb(218, 79, 73);
  background-image: -moz-linear-gradient(top, rgb(238, 95, 91), rgb(189, 54, 47));
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgb(238, 95, 91)), to(rgb(189, 54, 47)));
  background-image: -webkit-linear-gradient(top, rgb(238, 95, 91), rgb(189, 54, 47));
  background-image: -o-linear-gradient(top, rgb(238, 95, 91), rgb(189, 54, 47));
  background-image: linear-gradient(to bottom, rgb(238, 95, 91), rgb(189, 54, 47)); /*#ffeaea;*/
  color: white;
}

.millArea .buttonGuessed,
.millArea .buttonGuessed:hover {
  background: green;
  color: white;
}

#questionPage,
#resultsPage,
#definitionsSection {
  display: none;
}

.questionImage {
  display: inline-block;
  margin-right: 10px;
}

.questionNumber {
  display: inline-block;
  margin-left: -10px;
  color: #777;
}

.millArea #resultsPage p,
.millArea .paragraphTitle {
  font-family: "Segoe Print", "Lucida Sans Unicode", Baskerville, Georgia; /* fonts available in "Windows 7, Windows XP, Mac OS, other", in this order */
  color: rgb(16, 158, 27);
  font-size: 18px;
}

.difficultyButtons,
#newGameButton,
#definitionsButton { 
  background-color: rgb(73, 175, 205);
  background-image: -moz-linear-gradient(top, rgb(91, 192, 222), rgb(47, 150, 180));
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgb(91, 192, 222)), to(rgb(47, 150, 180)));
  background-image: -webkit-linear-gradient(top, rgb(91, 192, 222), rgb(47, 150, 180));
  background-image: -o-linear-gradient(top, rgb(91, 192, 222), rgb(47, 150, 180));
  background-image: linear-gradient(to bottom, rgb(91, 192, 222), rgb(47, 150, 180));
}

.difficultyButtons:hover,
#newGameButton:hover { 
  background-color: rgb(47, 150, 180);
  background-position: 0 -15px;
}

