/* mobile theme redesigned by Sonia Andriu */

@import "common.css";
@import "mobileAndDesktop.css";

/* GLOBAL */
html, body, div {
  font-family: Verdana, Arial, sans-serif;
  border: 0;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

body {
  width: 99%;
  height: 100%;
}

a, a:visited {
  color: #761818;
}

table {
  border: 1px;
  margin: 0;
  padding: 0;
}


/* HEADER */
#menu {
  width: 100%; /*320px; */
  height: 22px;
  margin: 0px auto;
  padding: 8px 0px 0px 3px;
  text-align: center;
  background: #444;
}

#menu a {
  color: #fff;
  padding: 0px 5px;
  text-decoration: none;
}

#logoHomePage {
  width: 230px;
  margin: 2px auto; /* auto=centered */
  height: 60px;
}

#logoOtherPages {
  width: 115px;
  margin: 2px auto; /* auto=centered */
  height: 30px;
}

#searchArea {
  width: 100%; /*320px;*/
  margin: 10px 0px 20px -10px;
  text-align: center;
}

#searchField {
  width: 70%;
  border: 1px solid #761818;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 10px 10px;
  margin-left: 15px;
  outline: 0;
}

#searchButton {
  background: #761818;
  color: #fff;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 1px solid #444;
  margin-left: -6px;
  padding: 10px 20px;
}

/* CONTENT */
#contentProper {
  padding: 0px 5px;
}

#wotdMobile {
  width: 160px;
  margin: 5px auto 0px; /* auto=centered */
  padding: 5px 0px;
  text-align: center;
  background: #444;
  border-radius: 4px;
  color: #fff;
}

#wotdMobile a {
  color: #fff;
}

#wotdPrevNext .prev {
  float: left;
}

#wotdPrevNext .next {
  float: right;
}

#likes {
  width: 100%; /*320px;*/
  height: 10%; /*30px;*/
  margin: 15px auto 5px;
  text-align: center;
}

body #paradigmDiv {
  margin: 0;
}


/* FOOTER */
footer {
  font-size: 12px;
  width: 100%; /*320px;*/
  height: 40px;
  margin-bottom: 2px;
  padding-top: 5px;
}

footer ul {
  list-style-type: none;
  padding-left: 5px;
}

footer ul li {
  margin: 5px 0;
}

footer a,
footer a:visited {
  padding-right: 5px;
}

footer ul li.desktopLink {
  background: url("../img/icons/computer.png") 0px -2px no-repeat;
  padding-left: 20px;
  margin-bottom: 12px;
}

.licenceLink,
.hostingLink {
  display: inline-block;
}

.licenceLink:after {
  content: '•';
}


/* OTHERS */
#saveButton {
  border-radius: 4px;
  border: 1px solid #444;
  margin: 0px 0px 10px 5px;
  padding: 3px;
}

.warning {
  color: #761818;
}

#faq {
  padding-left: 3px;
}

.noBorder {
  border: none;
}

#linguisticArticles {
  margin-bottom: 5px;
}

.resultBar {
  padding-bottom: 5%;
}

.defDetails {
  color :#999;
  display: block;
  font-size: 12px;
}

.defDetails a {
  text-decoration: none;
}

.scrabbleSection {
  margin-bottom: 10px;
}

.scrabbleSection .title {
  background: #ccc;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-size: 120%;
  font-weight: bold;
  padding: 5px;
}

.scrabbleSection .body {
  border: 1px solid black;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 5px;
}

.locDiff .del {
  color: red;
}

.locDiff .ins {
  color: green;
}

/* only small resolution devices in portrait mode */
@media only screen and (max-width: 320px) {

  #faq {
    max-width: 90%;
    padding: 0px 3px;
  }  

  table {
    max-width: 300px;
  }
  
  body #hangman #hintButton {
    width: 204px;
  }

}

/* only big resolution devices in portrait mode */
@media only screen and (max-width: 480px) {
  
  #wotdMobile {
    margin: 23% auto; /*80px auto;*/
  }
 
  #logoHomePage {
    height: 65px;
    padding-top: 5px;
  }

  #logoOtherPages {
    height: 35px;
    padding-top: 5px;
  }

  #linguisticArticles {
    margin-bottom: 30%; 
  }

}


/* mobile improvements for Mill game */
body .millArea {
  border: 0px;
}

body .millArea .btn {
  display: block;
  margin-bottom: 10px;
  padding: 10px; /* mobile buttons must be bigger */
  width: 92%;
}

body .questionImage {
  width: 60px;
  margin-bottom: 5px;
}


/* mobile improvements for Hangman game */
body .hangmanArea {
	border: 0px;
}

body #hangman .controls,
body #hangman .newGameControls {
	float: none;
	clear: both;
	margin-left: 0px;
	padding-top: 10px;
	width: 100%;
}

body #hangman .btn {
	min-height: 40px;
	margin: 5px;
}
