/* mobile theme redesigned by Sonia Andriu */

@import "common.css";
@import "mobileAndDesktop.css";

/* GLOBAL */
html, body, div, input {
  font-family: Verdana, Arial, sans-serif;
  border: 0;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
}

a, a:visited {
  color: #761818;
}

table {
  border: 1px;
  margin: 0;
  padding: 0;
}

/* HEADER */
.frame {
  min-width: 320px;
  max-width: 100%;
  margin: 0px auto;
}

#menu {
  width: 100%; /*320px; */
  height: 22px;
  margin: 0px auto;
  padding: 8px 0px 0px 3px;
  text-align: center;
  background: #444;
}

#menu a {
  color: #fff;
  padding: 0px 5px;
  text-decoration: none;
}

#logoHomePage {
  width: 230px;
  margin: 2px auto; /* auto=centered */
  height: 60px;
}

#logoOtherPages {
  width: 115px;
  margin: 2px auto; /* auto=centered */
  height: 30px;
}

#searchArea {
  width: 100%; /*320px;*/
  height: 45px;
  margin: 5px 10px;
  text-align: center;
}

#searchField {
  width: 70%;
  height: 28px;
  border: 1px solid #761818;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 0;
  margin-right: -5px; 
}

#searchButton {
  background: #761818;
  color: #fff;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 1px solid #444;
  margin-right: 10px;
  height: 30px;
  padding: 0px 4px;
}

/* CONTENT */
#wotdMobile {
  width: 160px;
  margin: 5px auto 0px; /* auto=centered */
  padding: 5px 0px;
  text-align: center;
  background: #444;
  border-radius: 4px;
  color: #fff;
}

#wotdMobile a {
  color: #fff;
}

#wotdPrevNext .prev {
  float: left;
}

#wotdPrevNext .next {
  float: right;
}

#likes {
  width: 100%; /*320px;*/
  height: 10%; /*30px;*/
  margin: 15px auto 5px;
  text-align: center;
}

#desktopLink {
  background: url("../img/icons/computer.png") 0px -2px no-repeat;
  padding-left: 20px;
}

/* FOOTER */
#footer {
  text-align: center;
  font-size: 12px;
  width: 100%; /*320px;*/
  height: 40px;
  margin-bottom: 2px;
  padding-top: 5px;
}

#footer a, #footer a:visited {
  padding-right: 5px;
}

/* OTHERS */
#saveButton {
  border-radius: 4px;
  border: 1px solid #444;
  margin: 0px 0px 10px 5px;
  padding: 3px;
}

.warning {
  color: #761818;
}

#faq {
  padding-left: 3px;
}

.noBorder {
  border: none;
}

#linguisticArticles {
  margin-bottom: 5px;
}

.resultBar {
  padding-bottom: 5%;
}

.defDetails {
  color :#999;
  display: block;
  font-size: 12px;
}

.defDetails a {
  text-decoration: none;
}

/* only small resolution devices in portrait mode */
@media only screen and (max-width: 319px) {

  #faq {
    max-width: 90%;
    padding: 0px 3px;
  }  

  table {
    max-width: 300px;
  }

}

/* only big resolution devices in portrait mode */
@media only screen and (max-width: 479px) {
  
  #wotdMobile {
    margin: 23% auto; /*80px auto;*/
  }
 
  #logoHomePage {
    height: 65px;
    padding-top: 5px;
  }

  #logoOtherPages {
    height: 35px;
    padding-top: 5px;
  }

  #linguisticArticles {
    margin-bottom: 30%; 
  }

}


/* mobile improvements for Mill game */
body .millArea {
  border: 0px;
}

body .millArea .btn {
  display: block;
  margin-bottom: 10px;
  padding: 10px; /* mobile buttons must be bigger */
  width: 92%;
}

body .questionImage {
  width: 60px;
  margin-bottom: 5px;
}

