@import "common.css";

html, body, div.pagediv{height:100%;}

body {
  background-color: white;
  color: black;
  margin: 0px;
  font-family: serif;
}

div.header {
  color: black;
  border-collapse: collapse;
  font-family: sans-serif;
  padding: 0;
  white-space: nowrap;
  width: 100%;
}

div.title {
  font-size: 130%;
  font-weight: bold;
  padding-right: 10px;
  text-align: center;
  white-space: nowrap;
}

div.searchBoxContainer {
  text-align: center;
}

a.noBorder img {
  border: 0;
}

form.searchForm {
  margin: 0;
}

span.definitionBodyCheckbox {
  font-family: sans-serif;
  font-size: 80%;
  margin-left: 10px;
}

span.formPlug {
  color: #444444;
  font-size: 70%;
}

div.linkBar {
  font-size: 80%;
  margin-bottom: 5px;
  text-align: center;
  background: #add8e6;
  padding: 2px;
  border: 1px solid;
}

div.linkBar a {
  white-space: nowrap;
}

span.stopWords {
  color: #777777;
}

table.footer {
  font-family: sans-serif;
  font-size: 80%;
  margin-top: 10px;
  width: 100%;
}

table.footer tr td {
  vertical-align: top;
  text-align: center;
}

table.footer tr td.narrow {
  text-align: center;
  white-space: nowrap;
  width: 1%;
}

span.def {
  cursor: pointer;
}

span.defDetails {
  color: #999999;
  font-family: sans-serif;
  font-size: 80%;
}

span.defDetails a {
  color: #777777;
}

span.defDetails a:hover {
  color: #555555;
}

div.defComment {
  border: 1px dashed gray;
  font-size: 90%;
  margin-left: 2em;
  margin-top: -8px;
  padding-left: 4px;
}

div.resultBar {
  font-family: sans-serif;
  font-size: 85%;
  font-weight: bold;
  margin-top: 5px;
}

div.abbrev {
  float: right;
  font-weight: normal;
}

a.inflLink {
  font-weight: normal;
  margin-left: 15px;
}

a.inflLink:focus {
  outline: none;
}

div.guideConfirmationMessage {
  border: 2px solid #00cc00;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 3px;
  text-align: center;
  width: 30em;
}

table.rightWrong {
  border-collapse: collapse;
  border-spacing: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 94%;
}

table.rightWrong tr th {
  background: #eeeeee;
  border: 1px solid #cccccc;
}

table.rightWrong tr td {
  border: 1px solid #cccccc;
  padding: 4px;
  vertical-align: top;
}

table.rightWrong tr td.right {
  color: #006600;
  width: 25%;
}

table.rightWrong tr td.wrong {
  color: #660000;
  width: 25%;
}

table.rightWrong tr td.notes {
  width: 50%;
}

table.rightWrong tr td.actions {
  font-family: sans-serif;
  font-size: 80%;
  vertical-align: middle;
}

div.guideEntryAddLink {
  font-family: sans-serif;
  font-size: 80%;
  text-align: center;
}

div.debugInfo {
	font-size: 75%;
	color: #777;
}

pre.code {
  background: #dcf0ff;
  border: 1px solid blue;
  margin-left: 3em;
  margin-right: 3em;
  padding: 5px;
}

div.randomTip {
  background: #dcf0ff;
  border: 1px solid blue;
  font-family: sans-serif;
  font-size: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 3px 6px;
  width: 40%;
}

div.scrabbleModelName {
  font-weight: bold;
}

pre.exportSample {
  background: #ddffdd;
  border: 1px solid black;
  padding: 5px;
  font-weight: bold;
}

span.deemph {
  color: #777777;
}

span.help {
  color: #777777;
  font-size: 85%;
}

table.userEdit td {
  padding-bottom: 5px;
  vertical-align: top;
}

table.fullheight {
	height: 100%;
	width: 100%;
}
