@import "common.css";

html, body {
	margin: 0; 
	padding: 0;
}

BODY {
  text-align:center;
	background: #a1acb9;
}

A:link, A:visited {
    text-decoration: none !important;
    color: #0072C2; 
}

A:hover, A:active {
    text-decoration: none;
    background-color: #f6f8fa;
    color: #FF6E00;
} 

.continut {
    top:0;
    width:760px;
    position:relative;
    text-align:left;
    margin:auto;
	font-family: Tahoma,Arial,Verdana,sans-serif;
	font-size: 0.9em;
	color: #3d5066;
    background: #f4f6f8;
}

.bara_logo {    
    background: url(/img/olimp/top_bg.png) repeat-x; 
    height:64px;
}

.imagine_logo {
    margin-left:0px;
    float:left;
    position:relative;
}

td.logos {
  text-align: center;
  vertical-align: bottom;
}

.camp_cautare {
/* probleme la marirea paginii */
	font-family: Tahoma,Arial,Verdana,sans-serif;
	font-size: 11px;
    position:relative;
    float:right;
    margin-right:10px;
    margin-top:15px;
}    

.meniu_stanga {
/* probleme la marirea paginii */
    width: 150px;
    padding-left:10px;
    background: url(/img/olimp/left.png) left repeat-y;
    vertical-align: top;
}

.meniu_stanga A {
	width: 150px;
	margin: 0;
	float: inherit;
	display: block;
}

#hostedBy {
 	position:absolute; 
 	bottom:35px; 
 	left:20px;
 	float: none;
	width: auto;
}

#trafic {
 	position:absolute; 
 	bottom:15px; 
 	left:35px;
 	float: none;
	width: auto;
}

#trafic A {
	float: none;
	width: auto;
}

.text_pe_pagina {
    padding: 10px 5px 5px 10px;
    font-size: 1.1em;
    vertical-align: top;
    width:100%;
}

.titlu {
	font-family: Tahoma,Arial,Verdana,sans-serif;
	background-color:#DBE0E5;
	letter-spacing:2px;
    font-size: 1.0em;
	font-weight: bold;
	color: #3D5066;
	margin-top:3px;
	margin-bottom:3px;
	display:block;
}

.bara_subsol {
    display:block;
	letter-spacing:2px;
	color: #dedede;
    font-size: 0.8em;
   

}


.tabel {
	font-size: 1.0em;
	margin-top: 2px;
	margin-bottom: 5px;
	background: #DBE0E5;
}

.tabel TH {
	font-size: 1.1em;
	font-weight: normal;
	text-align: left;
	color: #3D5066;
}

.tabel TD {
	background: #FFFFFF;
	vertical-align: top;
}
 

.centru {
	margin-left:auto;
	margin-right:auto;
	display:block;
}

.tabel_utilizatori {
	background-color: #DBE0E5;
	font-size: 1.0em;
	margin-top: 2px;
	margin-bottom: 5px;
	margin-left: auto; 
	margin-right: auto;
}

.tabel_utilizatori TR.rand_par TD{
	background-color: #f4f6f8;
	vertical-align: top;
	text-align: center;
	
}

.tabel_utilizatori TR.rand_impar TD{
	background-color: white;
	vertical-align: top;
	text-align: center;

}

.tabel_utilizatori TH {
	font-size: 1.1em;
	font-weight: normal;
	text-align: center;
	color: #3D5066;
}
                               
.tabel_utilizatori TR TD.nume {
	text-align: left;
	padding-left: 5px;
	width: 200px;
}
                       
.tabel_utilizatori .navigare TD{
	padding-left:5px;
	padding-right:5px;
}


table.rightWrong {
  border-collapse: collapse;
  border-spacing: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 94%;
}

table.rightWrong tr th {
  background-color: #dbe0e5;
  border: 1px solid #cccccc;
}

table.rightWrong tr td {
  border: 1px solid #cccccc;
  padding: 4px;
  vertical-align: top;
}

table.rightWrong tr td.right {
  color: #006600;
  font-style: italic;
  width: 24%;
}

table.rightWrong tr td.wrong {
  color: #660000;
  font-style: italic;
  width: 24%;
}

table.rightWrong tr td.notes {
  width: 46%;
}

span.defComment {
  margin-left: 2em;
  margin-top: 16px;
  font-size: 90%;
  display: block;
}

a.noBorder img {
  border: 0;
}

div.resultBar {
	background: #DBE0E5;
	color: #3D5066;
  font-family: sans-serif;
  font-size: 1.1em;
  font-weight: normal;
  margin-top: 5px;
}

div.abbrev {
  float: right;
  font-weight: normal;
}

span.defDetails {
  font-size: 80%;
  margin-left: 2em;
}

div#adsense {
  float: right;
  margin: 5px;
}
