@import "common.css";

div.lexem {
  padding-left: 0;
}

span.lexemName {
  font-weight: bold;
}

.lexem {
  border-collapse: collapse;
  margin-left: 0;
  margin-top: 10px;
}

.lexem td {
  border: 1px solid #dddddd;
  padding: 0px 10px;
}

.lexem td.inflection {
  color: #555555;
  font-style: italic;
  font-size: small;
  text-align: center;
}

.lexem td.form {
  font-style: italic;
}

.lexem td.form .accented {
  font-weight: bold;
  font-style: normal;
}

.lexem td.spacer {
  height: 3px;
}

.lexem tr td.person {
  text-align: right;
}

div.noParadigm {
  color: #555555;
  font-style: italic;
  padding-left: 80px;
  white-space: nowrap;
}

span.isLoc {
  color: green;
  cursor: help;
  font-weight: bold;
}

#paradigmDiv {
  margin: 5px 50px;
  padding: 5px;
  white-space: nowrap;
}

.paradigmLink {
  font-size: small;
}

div.scrabbleModelName {
  font-weight: bold;
}

div.scrabbleModelName .accented {
  font-style: italic;
  font-weight: normal;
}

