@import "common.css";

div.paraLexem {
  margin-bottom: 10px;
}

a.paraEdit {
  background: url("../img/icons/pencil.png") no-repeat;
  font-size: 16px;
  padding-left: 16px;
  text-decoration: none;
}

span.lexemName {
  font-weight: bold;
}

.lexemModel {
  border-collapse: collapse;
  margin-left: 0;
  margin-top: 5px;
}

.lexemModel td {
  border: 1px solid #dddddd;
  padding: 0px 10px;
}

.lexemModel td.inflection {
  color: #555555;
  font-style: italic;
  font-size: small;
  text-align: center;
}

.lexemModel td.form {
  font-style: italic;
}

.lexemModel td.form .accented {
  font-weight: bold;
  font-style: normal;
}

.lexemModel td.spacer {
  height: 2px;
}

.lexemModel tr td.person {
  text-align: right;
}

div.noParadigm {
  color: #555555;
  font-style: italic;
  padding-left: 80px;
  white-space: nowrap;
}

span.isLoc {
  color: green;
  cursor: help;
  font-weight: bold;
}

span.lexemTags, span.lexemSources {
  font-size: 75%;
  color: green;
}

#paradigmDiv {
  margin: 5px 50px;
  padding: 5px;
  white-space: nowrap;
}

.paradigmLink {
  font-size: small;
}

div.scrabbleModelName {
  font-weight: bold;
}

div.scrabbleModelName .accented {
  font-style: italic;
  font-weight: normal;
}

span.notInLoc {
  color: #c01010;
  cursor: help;
  font-style: italic;
}

span.notRecommended {
  color: #1010c0;
  cursor: help;
  font-style: italic;
}

div.notRecommendedLegend {
  color: #1010c0;
  font-style: italic;
}
