@import "common.css";

body {
  background-color: #FFF;
  color: #000;
  font-family: serif;
  width: 875px;
  height: 100%;
  margin: 8px auto;
}

#menu {
  background: #dcf0ff;
  color: #000;
  border: 1px solid blue;
  font-family: sans-serif;
  min-height: 87px;
  padding: 0;
  width: 100%;
}

.theader td {
  padding-bottom: 8px;
  padding-top: 8px;
}

.theader .logo {
  padding-right: 8px;
  width: 1%;
}

.logo {
  width: 105px;
  height: 70px;
}

.theader td.title {
  font-size: 110%;
  padding-right: 10px;
  text-align: right;
  white-space: nowrap;
  width: 1%;
}

.theader td.searchBoxContainer {
  padding-left: 8px;
}

.noBorder img {
  border: 0;
}

.pageTitle {
  font-size: 130%;
  font-weight: bold;
}

.searchForm {
  margin: 0;
}

.definitionBodyCheckbox {
  font-family: sans-serif;
  font-size: 80%;
  margin-left: 10px;
}

.formPlug {
  color: #444444;
  font-size: 70%;
}

#mainMenu {
  font-size: 80%;
  margin: 0px 0 10px 0;
  padding: 3px 0 10px 6px;
}

#mainMenu li {
  float: left;
  list-style: none;
  margin-right: 8px;
}

#mainMenu li a {
  color: #00e;
  cursor: pointer;
  outline: none; /* Firefox */
  text-decoration: underline;
  white-space: nowrap;
}

#mainMenu li ul,
#userMenu li ul {
  background: #FFF;
  border: 1px solid blue;
  display: none;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 50;
}

#mainMenu li ul li,
#userMenu li ul li {
  display: inline;
  float: none;
}

#mainMenu li ul li a,
#userMenu li ul li a {
  display: block;
  padding: 3px 5px;
  width: auto;
}

#mainMenu .donateLink {
  background: #DCF0FF;
  border: 1px solid #00F;
  padding: 10px;
  position: fixed;
  top: 8%;
  right: 0%;
}

#mainMenu .donateLink a {
  background: url("../img/icons/coins.png") 67px 0px no-repeat;
  color: #00E;
  font-size: 14px;
  font-weight: bold;
  padding-right: 26px;
  padding-bottom: 4px;
}

@media (max-width: 1024px) {
  #mainMenu .donateLink {
    top: 18%;
  }
}

#userMenu li ul li a {
  min-width: 140px;
}

#userPic {
  background: url("../img/sprite3.png") -199px -82px no-repeat;
  float: left;
  height: 16px;
  margin-right: 3px;
  width: 16px;
}

.flashMessage {
  border: 2px solid red;
  padding: 0.5em;
  margin: 10px auto;
  text-align: center;
  width: 40em;
}

.errorType {
  background: url("../img/icons/exclamation.png") no-repeat 10px center;
  border: 2px solid red;
}

.infoType {
  background: url("../img/icons/info.png") no-repeat 10px center;
  border: 2px solid green;
}

.stopWords {
  color: #777777;
}

.def {
  cursor: pointer;
}

h4 {
  font-size: 100%;
  margin-bottom: 0;
  margin-top: 40px;
  color: #666;
}

.h4Sub {
  font-size: 85%;
  font-style: italic;
  color: #BFBFBF;
}

.defDetails {
  color: #999999;
  font-family: sans-serif;
  font-size: 80%;
}

.defDetails a {
  color: #777777;
}

.defDetails a:hover {
  color: #555555;
}

.defComment {
  border: 1px dashed gray;
  font-size: 90%;
  margin-left: 2em;
  margin-right: 130px;
  margin-top: 8px;
  padding-left: 4px;
  display: block;
}

.resultBar {
  font-family: sans-serif;
  font-size: 85%;
  font-weight: bold;
  margin-top: 5px;
}

.inflLink {
  color: #000;
  font-weight: normal;
  text-decoration: none;
}

.inflLink:focus {
  outline: none;
}

.debugInfo {
	font-size: 75%;
	color: #777;
}

pre.code {
  background: #dcf0ff;
  border: 1px solid blue;
  margin-left: 3em;
  margin-right: 3em;
  padding: 5px;
}

pre.exportSample {
  background: #ddffdd;
  border: 1px solid #000;
  padding: 5px;
  font-weight: bold;
}

.deemph {
  color: #777777;
}

.help {
  color: #777777;
  font-size: 85%;
}

.userEdit td {
  padding-bottom: 5px;
  vertical-align: top;
}

.spaced {
  letter-spacing: 3px;
}

.userTop {
  border-collapse: collapse;
  margin: 15px auto;
}

.userTop th {
  background: #d0d0d0;
}

.userTop td,
.userTop th {
  padding-right: 20px;
  border: 2px solid #FFF;
  text-align: center;
}

.userTop .nick {
  text-align: left;
  white-space: nowrap;
  width: 200px;
}

.userTop .color1 {
  background: #eee;
}

.userTop .color2 {
  background: #eee;
}

.userTop .fwdLink {
  text-align: right;
}

.userTopLinks {
  font-size: 80%;
}

/* jquery tablesorter stuff */
th.header {
  background: #999 url("../img/icons/jquery/bg.gif") no-repeat center right;
  cursor: pointer;
}

th.headerSortUp {
  background-image: url("../img/icons/jquery/asc.gif");
  background-color: #bb4848;
}

th.headerSortDown {
  background-image: url("../img/icons/jquery/desc.gif");
  background-color: #bb4848;
}

.widget {
  background: none repeat scroll 0 0 #DCF0FF;
  border: 1px solid blue;
  font-family: sans-serif;
  font-size: small;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  width: 200px;
  text-align: center;
}

.bottomLine {
  border-top: 1px solid #CCCCCC;
}

.fbBottom,
.plusBottom {
  padding-top: 15px;
}

.fbBottom {
  display: none; /* there are 2 Facebook plugins, we'll keep the smaller one */
}

.plusBottom {
  display: inline;
}

#mobileLink {
  background: url("../img/icons/phone.png") no-repeat;
  padding-left: 16px;
}

.wotdArchive {
  margin-bottom: 10px;
}

.wotdArchiveTable {
  font-family: sans-serif;
  border-collapse:collapse;
  border: 1px solid;
}

.wotdArchiveTable td {
  text-align:right;
  font-size: 12px;
  width: 90px;
  border: 1px solid blue;
  padding: 3px;
  color: #555;
}

.nav {
  cursor: pointer;
  color: #0000CC;
}

.nav:hover {
  text-decoration: underline;
  color: #0000FF;
}

.wotdDoM {
  font-size: 16px;
  font-weight: bold;
}

#wotdPrevNext {
  padding: 0 10px 10px 10px;
  width: 720px;
}

#wotdPrevNext .prev {
  float: left;
}

#wotdPrevNext .next {
  float: right;
}

#wotdImage {
  padding-left: 210px;
}

#wotdSocialMedia {
  float: right;
}

#wotdSocialMedia img {
  vertical-align: middle;
}

#toggleTitle {
  color: blue;
  cursor: pointer;
  padding-left: 20px;
  text-decoration: underline;
}

#toggleContents {
  display: none;
  border: 1px solid #ccc;
  margin: 5px 10px 0;
  padding: 5px;
}

.toggleOpen {
  background: url("../img/icons/bullet_arrow_up.png") no-repeat;
}

.toggleClosed {
  background: url("../img/icons/bullet_arrow_down.png") no-repeat;
}

.warning {
  background: url("../img/icons/exclamation.png") no-repeat 0px center;
  padding: 5px 20px;
}

.wikiArticleLink {
  background: #ffffff url("../img/icons/information.png") left center no-repeat;
  margin: 5px 0 0 5px;
  padding: 0px 0px 0px 20px;
}

.wikiArticle table {
  border-collapse: collapse;
}

.wikiArticle td,
.wikiArticle th {
  border: 1px solid #aaa;
  padding: 2px 10px;
}

.paragraphTitle {
  font-weight: bold;
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.sectionEdit {
  font-size: 80%;
  font-weight: normal;
  padding-left: 10px;
}

#guideNotice {
  background: #ffffff url("../img/icons/information.png") left center no-repeat;  
  font-size: 120%;
  font-weight: bold;
  margin: 0px 0px 10px 5px;
  padding: 5px 5px 5px 20px;
}

.favoriteDef {
  margin-bottom: 16px;
}

.favoriteDef span {
  padding-left: 2em;
}

#hostingSei {
  background: url("../img/hosting/sei.png") no-repeat;
  display: inline-block;
  height: 72px;
  vertical-align: top;
  width: 82px;
}

abbr {
  border-bottom: 1px dotted #aaa;
  cursor: help;
}

.sourceName {
  cursor: help;
  position: relative;
}

.sourceName span {
  margin-left: -999em;
  position: absolute;
}

.sourceName:hover span {
  background: #FFF;
  border: 1px solid #000;
  -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  margin-left: 0;
  padding: 10px;
  position: absolute;
  left: 1em;
  top: 2em;
  z-index: 99;
}

#sources td {
  text-align: left;
}

.sourceComplete {
  margin: 0px auto;
}

.sourceComplete0 {
  color: #000;
}

.sourceComplete1 {
  color: #CC0000;
}

.sourceComplete2 {
  color: orange;
}

.sourceComplete3 {
  color: #DAC003;
}

.sourceComplete4 {
  color: blue;
}

.sourceComplete5 {
  color: green;
}

.dictSourceTips {
  margin-left: 10px;
}


/****************** Medal stuff *******************/
.userProfileHeader {
  margin-top: 10px;
  overflow: hidden;
}

.userProfileHeader h3 {
  margin: 30px 0px 10px 55px;
  color: #333;
}

.avatar {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  float: left;
  height: 48px;
  margin-right: 10px;
  width: 48px;
}

#medalEditDiv {
 display: none;
 margin-bottom: 10px;
}

.medalCheckboxes {
  columns: 300px 2;
  -webkit-columns: 300px 2;
  margin: 5px 0px;
}

.profileEditLink {
  font-size: 12px;
  font-weight: normal;
  padding-left: 10px;
}

#rawAvatarContainer {
  margin-top: 10px;
  overflow-x: auto;
  overflow-y: hidden;
  width: 870px;
}

#avatarPreviewContainer {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  height: 48px;
  margin: 10px 0px;
  overflow: hidden;
  width: 48px;
}


/* CONVERT Polar HTML skin to CSS skin */
#searchHomePage,
#searchOtherPages {
  position: absolute;
  top: 30px;
}

.tagline {
  position: relative;
  left: 560px;
  top: -154px;
  text-align: right;
  width: 216px;
}

.siteLogo {
  display: inline-block;
  position: relative;
  top: -86px;
  left: 786px;
  width: 81px;
}

#userMenu {
  display: inline-block;
  font-size: 13px;
  left: 297px;
  list-style-type: none;
  position: relative;
  top: -33px;
  width: 70px;
  padding-left: 0;
}

#userMenu li ul {
  display: none;
}

.socialPlugins {
  display: none;
}

#advSearch {
  display: block !important;
  position: relative;
  top: 5px;
  margin-left: 3px;
}

#searchButton {
  box-shadow: none;
}

.searchField {
  margin-left: 5px;
  margin-top: 5px;
  width: 200px;
}

#advancedAnchor,
.widgetBox {
  display: none;
}

#banner_mainPage {
  position: relative;
  top: -125px;
  width: 728px;
}

#missionStatement {
  position: relative;
  top: -110px;
}

.widget.wotd {
  min-height: 50px;
  position: relative;
  top: -100px;
}

.widget.wotd img {
  float: left;
}

.widget.wotd label {
  vertical-align: top;
}

.topline.social {
  border-top: 1px solid #CCC;
  position: absolute;
  width: 875px;
  bottom: 135px;
}

.bottomline.social {
  position: absolute;
  bottom: 105px;
  width: 875px;
}

footer {
  font-size: 14px;
  float: left;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-top: 10px;
  position: relative;
  width: 875px;
  border-top: 1px solid #DDD;
}

footer ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

footer ul li {
  display: inline-block;
}

footer li:after {
  content: "•";
  margin: 0px 3px;
}

footer li:last-child:after {
  content: "";
  margin: 0px;
}

#banner_otherPages {
  margin-top: 4px;
  margin-bottom: 5px;
}

#homeLink {
  background: url("../img/polar/logo-dexonline.png") 0px 0px no-repeat;
  display: inline-block;
  height: 81px;
  position: relative;
  left: 785px;
  top: -5px;
  text-decoration: none;
  width: 82px;
}

#homeLink:before {
  content: "DEX online";
  color: #000;
  display: inline-block;
  font-family: serif;
  font-size: 21px;
  font-weight: bold;
  position: relative;
  top: 15px;
  text-decoration: none;
  right: 114px;
  width: 120px;
}

.secondary #menu {
  height: 87px;
}

.secondary #mainMenu {
  position: absolute;
  top: 9px;
}

.secondary #userMenu {
  position: relative;
  top: -10px;
  left: 210px;
}

pre.code {
  font-family: Courier;
  color: #444;
  white-space: pre-line;
}


/* Unelte table */
.toolsTable {
  min-width: 1108px;
}
