@import "common.css";

body {
  background-color: white;
  color: black;
  font-family: serif;
}

.theader {
  background: #dcf0ff;
  color: black;
  border: 1px solid blue;
  border-collapse: collapse;
  font-family: sans-serif;
  padding: 0;
  white-space: nowrap;
  width: 100%;
}

.theader td {
  padding-bottom: 8px;
  padding-top: 8px;
}

.theader td.logo {
  padding-right: 8px;
  width: 1%;
}

img.logo {
  width: 105px;
  height: 70px;
}

.theader td.title {
  font-size: 110%;
  padding-right: 10px;
  text-align: right;
  white-space: nowrap;
  width: 1%;
}

.theader td.searchBoxContainer {
  padding-left: 8px;
}

.noBorder img {
  border: 0;
}

span.pageTitle {
  font-size: 130%;
  font-weight: bold;
}

form.searchForm {
  margin: 0;
}

span.definitionBodyCheckbox {
  font-family: sans-serif;
  font-size: 80%;
  margin-left: 10px;
}

span.formPlug {
  color: #444444;
  font-size: 70%;
}

#mainMenu {
  font-size: 80%;
  margin: -10px 0 10px 0;
  padding: 0 0 10px 0;
}

#mainMenu li {
  float: left;
  list-style: none;
  margin-right: 5px;
}

#mainMenu li a {
  white-space: nowrap;
}

#mainMenu li ul {
  background: white;
  border: 1px solid blue;
  margin: 0;
  padding: 0;
  position: absolute;
  visibility: hidden;
  z-index: 50;
}

#mainMenu li ul li {
  display: inline;
  float: none;
}

#mainMenu li ul li a {
  display: block;
  padding: 3px 5px;
  width: auto;
}

div.flashMessage {
  border: 2px solid red;
  padding: 0.5em;
  margin: 10px auto;
  text-align: center;
  width: 40em;
}

div.errorType {
  background: url("../img/icons/exclamation.png") no-repeat 10px center;
  border: 2px solid red;
}

div.infoType {
  background: url("../img/icons/info.png") no-repeat 10px center;
  border: 2px solid green;
}

span.stopWords {
  color: #777777;
}

.footer {
  border-top: 1px solid #cccccc;
  font-family: sans-serif;
  font-size: 80%;
  margin-top: 10px;
  width: 100%;
}

.footer td {
  vertical-align: top;
}

.footer td.narrow {
  text-align: center;
  white-space: nowrap;
  width: 1%;
}

span.def {
  cursor: pointer;
  font-size: small;
}

h4 {
  font-size: 100%;
  margin-bottom: 0;
  margin-top: 40px;
  color: #666;
}

span.h4sub {
  font-size: 85%;
  font-style: italic;
  color: #AAA;
}

.defDetails {
  color: #999999;
  font-family: sans-serif;
  font-size: 80%;
}

.defDetails a {
  color: #777777;
}

.defDetails a:hover {
  color: #555555;
}

span.defComment {
  border: 1px dashed gray;
  font-size: 90%;
  margin-left: 2em;
  margin-right: 130px;
  margin-top: 8px;
  padding-left: 4px;
  display: block;
}

div.resultBar {
  font-family: sans-serif;
  font-size: 85%;
  font-weight: bold;
  margin-top: 5px;
}

a.inflLink {
  color: black;
  font-weight: normal;
  text-decoration: none;
}

a.inflLink:focus {
  outline: none;
}

div.debugInfo {
	font-size: 75%;
	color: #777;
}

pre.code {
  background: #dcf0ff;
  border: 1px solid blue;
  margin-left: 3em;
  margin-right: 3em;
  padding: 5px;
}

div.randomTip {
  background: #dcf0ff;
  border: 1px solid blue;
  font-family: sans-serif;
  font-size: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 3px 6px;
  width: 40%;
}

pre.exportSample {
  background: #ddffdd;
  border: 1px solid black;
  padding: 5px;
  font-weight: bold;
}

span.deemph {
  color: #777777;
}

span.help {
  color: #777777;
  font-size: 85%;
}

.userEdit td {
  padding-bottom: 5px;
  vertical-align: top;
}

span.spaced {
  letter-spacing: 3px;
}

.userTop {
  border-collapse: collapse;
  margin: 15px auto;
}

.userTop th {
  background: #d0d0d0;
}

.userTop td, .userTop th {
  padding-right: 20px;
  border: 2px solid white;
  text-align: center;
}

.userTop .nick {
  text-align: left;
  width: 200px;
}

.userTop .color1 {
  background: #eee;
}

.userTop .color2 {
  background: #eee;
}

.userTop .fwdLink {
  text-align: right;
}

.userTopLinks {
  font-size: 80%;
}

span.notRecommended {
  color: #1010c0;
  cursor: help;
  font-style: italic;
}

div.notRecommendedLegend {
  color: #1010c0;
  font-style: italic;
}

/* jquery tablesorter stuff */
th.header {
  background: #999 url("../img/icons/jquery/bg.gif") no-repeat center right;
  cursor: pointer;
}

th.headerSortUp {
  background-image: url("../img/icons/jquery/asc.gif");
  background-color: #bb4848;
}

th.headerSortDown {
  background-image: url("../img/icons/jquery/desc.gif");
  background-color: #bb4848;
}

/* autocomplete stuff */
.ac_results {
	padding: 0px;
	border: 1px solid black;
	background-color: white;
	overflow: hidden;
	z-index: 99999;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	/* 
	if width will be 100% horizontal scrollbar will apear 
	when scroll mode will be used
	*/
	/*width: 100%;*/
	font: menu;
	font-size: 12px;
	/* 
	it is very important, if line-height not setted or setted 
	in relative units scroll will be broken in firefox
	*/
	line-height: 16px;
	overflow: hidden;
}

.ac_loading {
	background: white url('../img/icons/hourglass.png') right center no-repeat;
}

.ac_odd {
	background-color: #eee;
}

.ac_over {
	background-color: #0A246A;
	color: white;
}

.statusReportMini {
  display: none;  
  background: none repeat scroll 0 0 #DCF0FF;
  border: 1px solid blue;
  font-family: sans-serif;
  font-size: small;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  width: 200px;
  text-align: center;
}

.bottomline {
  border-top: 1px solid #CCCCCC;
}

.fb_bottom, .plus_bottom {
  padding-top: 15px;
}

.fb_bottom {
  display: inline-block;
}

.plus_bottom {
  display: inline;
}

.fb_top, .plus_top {
  float: right;
}

#mobileLink {
  background: url("../img/icons/phone.png") no-repeat;
  padding-left: 16px;
}

.wotdArchive {
  margin-bottom: 10px;
}

.wotdArchiveTitle {
  font-family: sans-serif;
  font-size: 85%;
  font-weight: bold;
  margin-top: 5px;
}

.wotdArchiveTable {
  font-family: sans-serif;
  border-collapse:collapse;
  border: 1px solid;
}

.wotdArchiveTable td {
  text-align:right;
  font-size: 12px;
  width: 90px;
  border: 1px solid blue;
  padding: 3px;
  color: #555;
}

.wotdArchiveTable tr.wotdHeader td{
  text-align:center;
  font-size: 16px;
  font-weight: bold;
}

.nav {
  cursor: pointer;
  color: #0000CC;
}

.nav:hover {
  text-decoration: underline;
  color: #0000FF;
}

.wotdDoM {
  font-size: 16px;
  font-weight: bold;
}

#contribLogin {
  background: url("../img/icons/exclamation.png") no-repeat 0px center;
  padding: 5px 20px;
}

.wikiArticleLink {
  background: #ffffff url("../img/icons/information.png") left center no-repeat;
  margin: 5px 0 0 5px;
  padding: 0px 0px 0px 20px;
}

.wikiArticle table {
  border-collapse: collapse;
}

.wikiArticle td, .wikiArticle th {
  border: 1px solid #aaa;
  padding: 2px 10px;
}

div.wikiTitle {
  font-weight: bold;
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 10px;
}

#guideNotice {
  background: #ffffff url("../img/icons/information.png") left center no-repeat;  
  font-size: 120%;
  font-weight: bold;
  margin: 0px 0px 10px 5px;
  padding: 5px 5px 5px 20px;
}

.favoriteDef {
  margin-bottom: 16px;
}

.favoriteDef span {
  padding-left: 2em;
}
