@import "common.css";

body {
  background-color: white;
  color: black;
  font-family: serif;
  width: 875px;
  height: 100%;
  margin: 8px auto;
}

#menu {
  background: #dcf0ff;
  color: black;
  border: 1px solid blue;
  font-family: sans-serif;
  min-height: 87px;
  padding: 0;
  width: 100%;
}

.theader td {
  padding-bottom: 8px;
  padding-top: 8px;
}

.theader td.logo {
  padding-right: 8px;
  width: 1%;
}

img.logo {
  width: 105px;
  height: 70px;
}

.theader td.title {
  font-size: 110%;
  padding-right: 10px;
  text-align: right;
  white-space: nowrap;
  width: 1%;
}

.theader td.searchBoxContainer {
  padding-left: 8px;
}

.noBorder img {
  border: 0;
}

span.pageTitle {
  font-size: 130%;
  font-weight: bold;
}

form.searchForm {
  margin: 0;
}

span.definitionBodyCheckbox {
  font-family: sans-serif;
  font-size: 80%;
  margin-left: 10px;
}

span.formPlug {
  color: #444444;
  font-size: 70%;
}

#mainMenu {
  font-size: 80%;
  margin: 0px 0 10px 0;
  padding: 3px 0 10px 6px;
}

#mainMenu li {
  float: left;
  list-style: none;
  margin-right: 5px;
}

#mainMenu li a {
  color: #00e;
  cursor: pointer;
  outline: none; /* Firefox */
  text-decoration: underline;
  white-space: nowrap;
}

#mainMenu li ul {
  background: white;
  border: 1px solid blue;
  display: none;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 50;
}

#mainMenu li ul li {
  display: inline;
  float: none;
}

#mainMenu li ul li a {
  display: block;
  padding: 3px 5px;
  width: auto;
}

div.flashMessage {
  border: 2px solid red;
  padding: 0.5em;
  margin: 10px auto;
  text-align: center;
  width: 40em;
}

div.errorType {
  background: url("../img/icons/exclamation.png") no-repeat 10px center;
  border: 2px solid red;
}

div.infoType {
  background: url("../img/icons/info.png") no-repeat 10px center;
  border: 2px solid green;
}

span.stopWords {
  color: #777777;
}

.footer {
  border-top: 1px solid #cccccc;
  font-family: sans-serif;
  font-size: 80%;
  margin-top: 10px;
  width: 100%;
}

.footer td {
  vertical-align: top;
}

.footer td.narrow {
  text-align: center;
  white-space: nowrap;
  width: 1%;
}

span.def {
  cursor: pointer;
  font-size: small;
}

h4 {
  font-size: 100%;
  margin-bottom: 0;
  margin-top: 40px;
  color: #666;
}

span.h4sub {
  font-size: 85%;
  font-style: italic;
  color: #AAA;
}

.defDetails {
  color: #999999;
  font-family: sans-serif;
  font-size: 80%;
}

.defDetails a {
  color: #777777;
}

.defDetails a:hover {
  color: #555555;
}

span.defComment {
  border: 1px dashed gray;
  font-size: 90%;
  margin-left: 2em;
  margin-right: 130px;
  margin-top: 8px;
  padding-left: 4px;
  display: block;
}

div.resultBar {
  font-family: sans-serif;
  font-size: 85%;
  font-weight: bold;
  margin-top: 5px;
}

a.inflLink {
  color: black;
  font-weight: normal;
  text-decoration: none;
}

a.inflLink:focus {
  outline: none;
}

div.debugInfo {
	font-size: 75%;
	color: #777;
}

pre.code {
  background: #dcf0ff;
  border: 1px solid blue;
  margin-left: 3em;
  margin-right: 3em;
  padding: 5px;
}

div.randomTip {
  background: #dcf0ff;
  border: 1px solid blue;
  font-family: sans-serif;
  font-size: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 3px 6px;
  width: 40%;
}

pre.exportSample {
  background: #ddffdd;
  border: 1px solid black;
  padding: 5px;
  font-weight: bold;
}

span.deemph {
  color: #777777;
}

span.help {
  color: #777777;
  font-size: 85%;
}

.userEdit td {
  padding-bottom: 5px;
  vertical-align: top;
}

span.spaced {
  letter-spacing: 3px;
}

.userTop {
  border-collapse: collapse;
  margin: 15px auto;
}

.userTop th {
  background: #d0d0d0;
}

.userTop td, .userTop th {
  padding-right: 20px;
  border: 2px solid white;
  text-align: center;
}

.userTop .nick {
  text-align: left;
  white-space: nowrap;
  width: 200px;
}

.userTop .color1 {
  background: #eee;
}

.userTop .color2 {
  background: #eee;
}

.userTop .fwdLink {
  text-align: right;
}

.userTopLinks {
  font-size: 80%;
}

/* jquery tablesorter stuff */
th.header {
  background: #999 url("../img/icons/jquery/bg.gif") no-repeat center right;
  cursor: pointer;
}

th.headerSortUp {
  background-image: url("../img/icons/jquery/asc.gif");
  background-color: #bb4848;
}

th.headerSortDown {
  background-image: url("../img/icons/jquery/desc.gif");
  background-color: #bb4848;
}

.widget {
  background: none repeat scroll 0 0 #DCF0FF;
  border: 1px solid blue;
  font-family: sans-serif;
  font-size: small;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  width: 200px;
  text-align: center;
}

.bottomline {
  border-top: 1px solid #CCCCCC;
}

.fb_bottom, .plus_bottom {
  padding-top: 15px;
}

.fb_bottom {
  display: none; /* there are 2 Facebook plugins, we'll keep the smaller one */
}

.plus_bottom {
  display: inline;
}

#mobileLink {
  background: url("../img/icons/phone.png") no-repeat;
  padding-left: 16px;
}

.wotdArchive {
  margin-bottom: 10px;
}

.wotdArchiveTable {
  font-family: sans-serif;
  border-collapse:collapse;
  border: 1px solid;
}

.wotdArchiveTable td {
  text-align:right;
  font-size: 12px;
  width: 90px;
  border: 1px solid blue;
  padding: 3px;
  color: #555;
}

.nav {
  cursor: pointer;
  color: #0000CC;
}

.nav:hover {
  text-decoration: underline;
  color: #0000FF;
}

.wotdDoM {
  font-size: 16px;
  font-weight: bold;
}

#wotdPrevNext {
  padding: 0 10px 10px 10px;
  width: 720px;
}

#wotdPrevNext .prev {
  float: left;
}

#wotdPrevNext .next {
  float: right;
}

#wotdImage {
  padding-left: 210px;
}

#wotdSocialMedia {
  float: right;
}

#wotdSocialMedia img {
  vertical-align: middle;
}

#toggleTitle {
  color: blue;
  cursor: pointer;
  padding-left: 20px;
  text-decoration: underline;
}

#toggleContents {
  display: none;
  border: 1px solid #ccc;
  margin: 5px 10px 0;
  padding: 5px;
}

.toggleOpen {
  background: url("../img/icons/bullet_arrow_up.png") no-repeat;
}

.toggleClosed {
  background: url("../img/icons/bullet_arrow_down.png") no-repeat;
}

.warning {
  background: url("../img/icons/exclamation.png") no-repeat 0px center;
  padding: 5px 20px;
}

.wikiArticleLink {
  background: #ffffff url("../img/icons/information.png") left center no-repeat;
  margin: 5px 0 0 5px;
  padding: 0px 0px 0px 20px;
}

.wikiArticle table {
  border-collapse: collapse;
}

.wikiArticle td, .wikiArticle th {
  border: 1px solid #aaa;
  padding: 2px 10px;
}

p.paragraphTitle {
  font-weight: bold;
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.sectionEdit {
  font-size: 80%;
  font-weight: normal;
  padding-left: 10px;
}

#guideNotice {
  background: #ffffff url("../img/icons/information.png") left center no-repeat;  
  font-size: 120%;
  font-weight: bold;
  margin: 0px 0px 10px 5px;
  padding: 5px 5px 5px 20px;
}

.favoriteDef {
  margin-bottom: 16px;
}

.favoriteDef span {
  padding-left: 2em;
}

#hostingElvsoft {
  background: url("../img/sprite3.png") 0px -82px no-repeat;
  display: inline-block;
  height: 31px;
  vertical-align: top;
  width: 88px;
}

#hostingSei {
  background: url("../img/hosting/sei.png") no-repeat;
  display: inline-block;
  height: 72px;
  vertical-align: top;
  width: 82px;
}

abbr {
  border-bottom: 1px dotted #aaa;
  cursor: help;
}

span.sourceName {
  cursor: help;
  position: relative;
}

span.sourceName span {
  margin-left: -999em;
  position: absolute;
}

span.sourceName:hover span {
  background: white;
  border: 1px solid black;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3); -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.3); -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.3);
  margin-left: 0;
  padding: 10px;
  position: absolute;
  left: 1em;
  top: 2em;
  z-index: 99;
}

span.sourceShortName {
  color: #444;
  font-size: 80%;
  padding-left: 10px;
}

div.sourceComplete {
  margin: 0px auto;
  height: 16px;
  width: 16px;
}

div.sourceComplete0 {
  background: url("../img/icons/page_white.png") no-repeat;
}

div.sourceComplete1 {
  background: url("../img/icons/flag_red.png") no-repeat;
}

div.sourceComplete2 {
  background: url("../img/icons/flag_orange.png") no-repeat;
}

div.sourceComplete3 {
  background: url("../img/icons/flag_yellow.png") no-repeat;
}

div.sourceComplete4 {
  background: url("../img/icons/flag_blue.png") no-repeat;
}

div.sourceComplete5 {
  background: url("../img/icons/flag_green.png") no-repeat;
}

/****************** Medal stuff *******************/

.userProfileHeader {
  margin-top: 10px;
  overflow: hidden;
}

.userProfileHeader h3 {
  margin: 30px 0px 10px 55px;
  color: #333030;
}

.avatar {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  float: left;
  height: 48px;
  margin-right: 10px;
  width: 48px;
}

#medalEditDiv {
 display: none;
 margin-bottom: 10px;
}

.medalCheckboxes {
  columns: 300px 2;
  -webkit-columns: 300px 2;
  margin: 5px 0px;
}

.profileEditLink {
  font-size: 12px;
  font-weight: normal;
  padding-left: 10px;
}

#rawAvatarContainer {
  margin-top: 10px;
  overflow-x: auto;
  overflow-y: hidden;
  width: 870px;
}

#avatarPreviewContainer {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  height: 48px;
  margin: 10px 0px;
  overflow: hidden;
  width: 48px;
}


/* CONVERT Polar HTML skin to CSS skin */
#searchHomePage,
#searchOtherPages {
  position: absolute;
  top: 30px;
}

#whoami {
  position: relative;
  top: -145px;
  left: 525px;
  width: 216px;
}

#Logo {
  display: inline-block;
  position: relative;
  top: -80px;
  left: 750px;
  width: 105px;
}

#userMenu {
  display: inline-block;
  font-size: 13px;
  left: 320px;
  list-style-type: none;
  position: relative;
  top: -33px;
  width: 100px;
}

#userMenu li ul {
  display: none;
}

.socialPlugins {
  /*bottom: 110px;
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  padding: 5px 5px 0px;
  position: absolute;
  width: 875px;*/
  display: none;
}

/*.fb_top {
  display: inline-block;
}

.plus_top {
  display: inline-block;
}*/

#advSearch {
  display: block !important;
  position: relative;
  top: -24px;
  margin-left: 3px;
}

#sourceDropDown {
  position: relative;
  top: -27px;
  left: -110px;
}

#search_button {
  position: relative;
  top: -26px;
  left: 330px;
  box-shadow: none;
}

#inlineBlock1 {
  margin-left: 5px;
  margin-top: 5px;
}

#advancedAnchor,
.widgetBox {
  display: none;
}

#banner_mainPage {
  position: relative;
  top: -125px;
}

#missionStatement {
  position: relative;
  top: -110px;
}

.widget.wotd {
  min-height: 50px;
  position: relative;
  top: -100px;
}

.widget.wotd img {
  float: left;
}

.widget.wotd label {
  vertical-align: top;
}

.topline.social {
  /*margin-top: -70px;
  border-top: 1px solid #CCC;*/
  border-top: 1px solid #CCC;
  position: absolute;
  width: 875px;
  bottom: 135px;
}

.bottomline.social {
  /*margin-top: 40px;
  margin-bottom: 10px;*/
  position: absolute;
  bottom: 105px;
  width: 875px;
}

.statusReport {
  font-size: 14px;
  float: left;
  position: relative;
  bottom: -40px;
}

#Footer {
  font-size: 14px;
  float: left;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-top: 10px;
  position: relative;
  width: 875px;
  border-top: 1px solid #DDD;
}

.homepage #Footer {
  padding-top: 40px;
  margin-top: 0;
}

#links {
  float: right;
  margin-right: 10px;
  margin-top: -40px;
  position: relative;
  text-align: right;
  width: 230px;
}

.homepage #links {
  margin-top: -70px;
}

#banner_otherPages {
  margin-top: 4px;
  margin-bottom: 5px;
}

#homeLink {
  background: url("../img/polar/dexonline.png") 0px 0px no-repeat;
  display: inline-block;
  height: 70px;
  position: relative;
  left: 750px;
  top: 10px;
  width: 105px;
}

.secondary #menu {
  height: 87px;
}

.secondary #mainMenu {
  position: absolute;
  top: 9px;
}

.secondary #userMenu {
  position: relative;
  top: -54px;
  left: 210px;
}

pre.code {
font-family: Courier;
color: #444;
white-space: pre-line;
}



