body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background: #EEE url('/img/slick/bg.gif') center center repeat-y;
	text-align: center;
	margin: 0px;
	padding: 0px;
}
form {
	margin:0px;
	padding: 0px;}
#fond {
	margin: 0px auto;
	width: 730px;
	text-align: left;
}
.spatiu {
	padding: 0px 20px;
}
#antet {
}
#meniu, #footer {
	background: #fff url('/img/slick/m.gif') repeat-x;
	padding: 0px 5px;
	border-bottom: 1px solid #986;
}
#meniu table, #footer table {
	border-collapse: collapse;
	border-spacing: 0px;
}
#meniu td, #footer td {
	padding: 0px 6px 0px 10px;
	margin: 0px;
	text-align: center;
	font-size: 0.8em;
	color: #999;
	white-space: nowrap;
}
#meniu td.sel a, #footer td.sel a {
	background: #fff url('/img/slick/m.sel.gif') no-repeat;
}
#meniu td.sel, #footer td.sel {
	background: #fff url('/img/slick/m.sel.end.gif')  right top no-repeat;
}
#meniu td a, #footer td a {
	display: block;
	padding: 2px 0px 1px 5px;;
	color: #000;
	width: 100%;
	text-decoration: none;
}
#meniu td a:hover, #footer td a:hover {
	color: #00B;
}
#cautare {
	background: #fff url('/img/slick/cauta.gif') repeat-x;
	text-align: center;
	padding: 10px 5px 20px;
	font-size: 0.8em;
}
#cautare input, #cautare select, #cautare option, .stare cautare input, .stare select, stare  option  {
	font-size: 11px;
}	
#corp {
	padding: 10px;
	height: 400px;
	font-family: serif;
}
#fond>#corp {
	height: auto;
	min-height: 400px;
}
table.tabelSumar {
	margin-top: 0px;
	color: #888;
	padding: 0px;
	font-size: 0.8em;
	background: #EEE;
}
table.tabelSumar tr td {
  vertical-align: top;
}
table.tabelSumar tr td.ingust {
  white-space: nowrap;
  width: 1%;
}
div.resultBar {
	font-size: 0.8em;
	padding: 2px 5px;
	margin: 10px 0px;
	background: #DEF;
}

div.resultBar a {
	color: #009;
	text-decoration: none;
}

div.abbrev {
  float: right;
  font-weight: normal;
}

.cuvant {
}
.cuvant dfn {
	font-weight: bold;
	font-style: normal;
}

p {
	border-top: 1px dotted #CCC;
	line-height: 150%;
	margin: 15px 0px;
	padding: 0px 0px 0px 50px;
	text-indent: -50px;
}

p a {
	text-decoration: none;
	border-bottom: 1px dotted #CCF;
	color: #005;
}

p a:hover {
	border-bottom: 1px dotted #66C;
	color: #33F;
}

.cuvant .scule a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.75em;
	text-decoration: none;
	padding: 1px 2px;
	color: #C99;
	border: 1px solid #EEE;
	-moz-border-radius: 5px;
}
.cuvant .scule a:hover {
	color: #F00;
	border: 1px solid #F66;
	background: #FEE;
}

span.defDetails {
	margin-top: 0px;
	font-size: 0.75em;
	color: #999;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

span.defDetails a {
	color: #668;
	font-weight: normal;
	text-decoration: none;
	border-bottom: 1px dotted #CCC;
}

span.defDetails a:hover {
	color: #00C;
}

table.rightWrong {
  border-collapse: collapse;
  border-spacing: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 94%;
}

table.rightWrong tr th {
  background: #eeeeee;
  border: 1px solid #cccccc;
}

table.rightWrong tr td {
  border: 1px solid #cccccc;
  padding: 4px;
  vertical-align: top;
}

table.rightWrong tr td.right {
  color: #006600;
  font-style: italic;
  width: 24%;
}

table.rightWrong tr td.wrong {
  color: #660000;
  font-style: italic;
  width: 24%;
}

table.rightWrong tr td.notes {
  width: 46%;
}

span.defComment {
  margin-left: 50px;
  font-size: 90%;
  line-height: 100%;
}

a.noBorder img {
  border: 0;
}

div#adsense {
  float: right;
  margin: 5px;
}

div.flashMessage {
  border: 2px solid red;
  padding: 0.5em;
  margin: 10px auto;
  text-align: center;
  width: 40em;
}

div.errorType {
  border: 2px solid red;
}

div.infoType {
  border: 2px solid green;
}
