#meaningsDiv {
  float: left;
  margin-right: 10px;
}

.ui-jqgrid tr.jqgrow td {
  white-space: normal !important;
}

#actionBar {
  font-family: arial;
  font-size: 80%;
  padding: 5px;
  text-align: right;
}

#actionBar a {
  color: #000;
  padding-left: 16px;
}

#moveLink {
  background: url("../img/icons/control_play.png") no-repeat;
}

#moveAllLink {
  background: url("../img/icons/control_fastforward.png") no-repeat;
}

#lexemTabs {
  float: left;
  height: 440px;
  width: 600px;
}

.tabContainer {
  overflow-y: auto;
  height: 390px;
}

.existingMeanings {
  border-collapse: collapse;
  width: 100%;
}

.existingMeanings .actions {
  width: 1px;
}

.existingMeanings td.hierarchy {
  font-size: 12px;
  font-weight: bold;
  vertical-align: middle;
  width: 1px;
}

.existingMeanings .text {
  width: 100%;
}

.unindent {
  background: url("../img/icons/bullet_go_flop.png") no-repeat;
  padding-left: 16px;
}

.indent {
  background: url("../img/icons/bullet_go.png") no-repeat;
  padding-left: 16px;
}
