.box {
  border: 1px solid #444;
  -webkit-box-shadow: 2px 2px 5px #424242;
  box-shadow: 2px 2px 5px #424242;
  -moz-box-shadow: 2px 2px 5px #424242;
  margin-bottom: 10px;
  margin-right: 10px;
}

.boxTitle {
  background: #444 url("../img/icons/cog.png") no-repeat 5px 6px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 5px 5px 25px;
}

.boxContents {
  padding: 5px;
}

#parameters {
  margin-right: 250px;
}

#parameters label {
  display: inline-block;
  margin-top: 4px;
  width: 100px;
}

#dexEditLeftColumn {
  float: left;
}

#dexEditRightColumn {
  margin-left: 412px;
}

#definitionBox {
  overflow: auto;
}

#meaningEditor {
  width: 400px;
}

#saveButtonContainer {
  float: right;
  padding-bottom: 5px;
  padding-right: 10px;
}

#dexEditSaveButton {
  font-size: 20px;
  font-weight: bold;
  height: 40px;
  width: 200px;
}

#stemNode {
  display: none;
}

#meaningTreeContainer {
  overflow: auto;
}

#meaningTree .id, #meaningTree .internalRep, #meaningTree .internalComment, #meaningTree .sourceIds,
#meaningTree .meaningTagIds, #meaningTree .synonymIds, #meaningTree .antonymIds {
  display: none;
}

#meaningTree .htmlRep {
  font-size: 14px;
  margin-right: 10px;
}

#meaningTree .tag {
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  font-size: 10px;
  margin-right: 5px;
  padding: 1px 4px;
}

#meaningTree .sources span {
  background: #f7eada;
  border-color: #e0c29d;
}

#meaningTree .meaningTags span {
  background: #dbf7da;
  border-color: #9fe09d;
}

#meaningTree .synonyms span {
  background: #daebf7;
  border-color: #9dc5e0;
}

#meaningTree .antonyms span {
  background: #f7dcda;
  border-color: #e0a19d;
}

#editorInternalRep {
  width: 382px;
}

#editorInternalComment {
  width: 382px;
}

.editorLabel {
  float: left;
  margin: 4px 0px;
}

.editorFieldContainer {
  float: right;
  margin: 4px 0px;
}

abbr {
  border-bottom: 1px dotted #aaa;
  cursor: help;
}

div.defInternalRep {
  font-family: courier;
  margin-top: 10px;
}

div.defHtmlRep {
  display: none;
  margin-top: 10px;
}

.commentInternalRep {
  color: #333;
  margin-left:15px;
  margin-top: 5px;
  padding: 5px;
}

span.defDetails {
  color: #999999;
  font-family: sans-serif;
  font-size: 80%;
}

span.defDetails a {
  color: #777777;
}

span.defDetails a:hover {
  color: #555555;
}

span.tooltip {
  background: url("../img/icons/information.png") no-repeat;
  display: inline-block;
  width: 16px;
}

.select2-container-multi, .select2-result {
  font-size: 12px;
}

.ui-tooltip {
  font-size: 12px;
}