.jcrop-holder { /* jQuery custom selector */
  border: 1px solid black;
}

#jCropCanvas,
#fixedCanvas img {
  float: left;
  max-width: 500px;
  max-height: 500px;
}

#tagOptions {
  float: left;
  width: 320px;
  margin: 0 0 15px 13px;
}

#savedTags {
  float: left;
  width: 430px;
}

#gallery {
  float: right;
}

#gallery img {
  display: block;
}

#prototypeCanvas, 
#prototypeTagsToggleButton {
  display: none;
}

#activeCanvas {
  position: absolute;
  top: 5px;
  left: 5px;
}

#tagsToggle {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background-color: #fff;
  cursor: pointer;
}

#revised {
  float: left;
}

#unrevised {
  float: right;
}

.mainLexeme {
  font-weight: bold;
}

.allLexemes {
  white-space: pre-line;
}

.missingImageError,
.extraAdminHeaderLinks,
#helpText,
#tagsInfo {
  display: none;
}
