/* Zepu theme redesigned by Sonia Andriu */

/* GLOBAL */
body {
  background: #fff;
  color: #000;
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px;
  height: 100%;
  margin: 0px;
  padding: 0px;
  text-align: left;
  width: 100%;
}
  
a {
  color: #761818;
} 

a:hover {
  color: #c00;
}

h2 {
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  font-weight: normal;
  margin: 15px 0px;
}

h3, h4{
  font-size: 14px;
  font-weight: bold;
  line-height: 110%;
  margin-bottom: 5px;
  margin-top: 10px;
}

h4 {
  color: #761818;
}

span.h4sub {
  font-style: italic;
  color: #AAA;
}

p {
  margin: 0px;
  padding-bottom: 20px;
  padding: 10px;
}

table {
  border-collapse: collapse;
}

table td, table th {
  border: 1px solid #aaa;
  padding: 2px 10px;
}

.clearer {
  clear: both;
  height: 1px;
}

abbr {
  border-bottom: 1px dotted #aaa;
  cursor: help;
}

img {
  border: 0px; /* IE */
}


#staticBody {
  background: #fff;
  margin: 10px 5px;
}

#mobileLink {
  background: url("../img/icons/phone.png") no-repeat;
  padding-left: 16px;
}

#userNick {
  display: block;
  float: right;
  margin-bottom: 10px;
  padding-top: 2px;
  padding-right: 10px;
}

#userPic {
  background: url("../img/sprite2.png") -355px -50px no-repeat;
  float: left;
  height: 16px;
  margin-right: 3px;
  width: 16px;
}

/* BANNER */
#banner_mainPage {
  margin-left: 71px;
}

#banner_beforeResults {
  margin-left: 73px; /* 73 is half of the white space left behind */
}


/* NAVIGATION MENU */
#menu {
  background: #eee;
  border: 1px solid #BFBFBF;
  border-radius: 4px;
  -moz-border-radius: 4px;
  height: 35px;
  margin: -59px auto 10px;
  padding-left: 15px;
  width: 860px;
}

#menuShadow{
  background: url("../img/zepu/shadows/shadow875.png") no-repeat;
  height:22px;
  margin-top: 40px;
  width: 875px; /* do not omit png's width */
}

#homeLink {
  background: url("../img/zepu/dexonline_logo_mic.png") no-repeat;
  float: left;
  margin-right: 15px;
  margin-top: 3px;
  height: 25px;
  width: 111px;
}

#mainMenu {
  float: left;
  margin: 0;
  padding: 9px 0px;
}

#userMenu {
  float: right;
  margin: 0;
  padding: 9px 10px;
}

#mainMenu li, #userMenu li{
  float: left;
  font-size: 11px;
  list-style: none;
}

#mainMenu li a, #userMenu li a {
  color: #424242;
  display: block;
  padding: 1px 15px 5px 0px;
  text-decoration: none;
  white-space: nowrap;
}

#mainMenu li ul, #userMenu li ul {
  background: #eee;
  border: 1px solid #BFBFBF;
  border-radius: 4px;
  -moz-border-radius: 4px;
  margin: 0;
  padding: 3px 0px;
  position: absolute;
  visibility: hidden;
  z-index: 50;
}

#mainMenu li ul li, #userMenu li ul li {
  display: inline;
  float: none;
}

#mainMenu li ul li a, #userMenu li ul li a {
  color: #761818;
  padding: 3px 5px;
  width: auto;
}

#mainMenu li ul li a:hover, #userMenu li ul li a:hover {
  text-decoration: underline;
}

.fb_top, .plus_top {
  float: right;
  margin-top: -3px;
  padding: 10px 0px;
}


/* SITE IDENTITY */
#Logo {
  background: url("../img/sprite2.png") -550px -25px no-repeat;
  height: 82px;
  margin: 30px auto 5px auto;
  width: 316px;
}

#whoami {
  color: #424242;
  font-size: 14px;
  letter-spacing: 1px;
  margin: -10px auto 10px;
  padding: 0px 0px 0px 100px;
  text-align: center;
}


/* SEARCH */
#searchHomePage {
  margin: 25px 0px 25px 170px;
  padding: 0px;
  width: 555px;
}

#searchForm {
 float: left;
 padding-left: 13px;
 width: 600px;
}

#searchOtherPages {
  margin: 10px auto 15px;
  width: 550px;
}

#search_button {
  background: #761818;
  border: 0px; /* border: 0px, otherwise it draws a gray border around button */
  border-radius: 4px;
  -moz-border-radius: 4px;
  
  -webkit-box-shadow: 2px 2px 2px #424242; /* Safari and Chrome */
  box-shadow: 2px 2px 2px #424242; /* FF 4 ; CSS3 */
  -moz-box-shadow: 2px 2px 2px #424242; /* FF 3.5-3.6 */
  
  color: #fff;
  cursor: pointer;
  font-size: 13px;
  height: 22px;
  letter-spacing:1px;
  margin-top: 1px;
  width: 56px;
}

#search_button:hover {
  -webkit-box-shadow: 2px 2px 2px #888; /* Safari and Chrome */
  box-shadow: 2px 2px 2px #888; /* FF 4 ; CSS3 */
  -moz-box-shadow: 2px 2px 2px #888; /* FF 3.5-3.6 */
}

#advancedAnchor { /* the link for "căutare avansată" */
  float: right;
  margin-right: 10px;
  margin-top: 5px;
  margin-left: 5px;
}

#advSearch { /* not Sonia's! */
  color: #761818;
  float: left;
  margin: 0px;
}

#inlineBlock1{
  width: 360px;
  display: inline;
  float: left;
  margin-right: 2px;
}

#inlineBlock2{
  width: 180px;
  display: inline; 
  float: left;
  margin-right: 20px;
}

.search_field {
  border: 1px solid #761818;
  border-radius: 4px;
  -moz-border-radius: 4px;
  font: 18px Arial;
  margin: 0px 5px 0px 0px;
  padding: 0px 0px 0px 2px;
  width: 352px;
}

.search_field:focus {
  outline-style: none; /* Chrome */  
}

#searchShadow {
  background: url("../img/zepu/shadows/shadow350.png") no-repeat;
  display: inline-block; /* used to generate a block box, laid out as an inline box (no line break before or after the element) */
  height: 16px; /* png's height is 16px */
  margin-top: 0px;
  padding-left: 2px;
  width: 347px;
}

#sourceDropDown {
  width: 175px;
}


/* CONTAINER */
#Container {
  width: 875px;
  height: 100%;
  margin: 8px auto;
}

#contentProper {
  margin-top: 10px;
}


/* WORD OF THE DAY */
.statusReportMini {
  background: #eee;
  border: 1px solid #BFBFBF;
  border-radius: 4px;
  -moz-border-radius: 4px;
  color: #424242;
  font-size: 12px;
  margin: 35px auto 0px;
  padding: 8px;
  width: 200px;
  text-align: center;
}

#wotdShadow {
  background: url("../img/zepu/shadows/shadow216.png") no-repeat;
  height: 14px;
  margin: 0px 0px 35px 330px;
}


/* FACEBOOK AND GOOGLE PLUS PLUGIN */
.fb_bottom {
  border-bottom: 1px solid #BFBFBF;
  border-top: 1px solid #BFBFBF;
  margin: 0px auto 10px;
  padding: 5px 0px 0px 3px;
  width: 875px;
}

.fb_top, .plus_top{
  float: right;
  margin-top: -3px;
}


/* MISSION STATEMENT */
#missionStatement {
  color: #424242;
  font-size: 10px;
  margin: 25px auto 20px;
  padding-left: 31px;
  text-align: center;
  width: 550px;
}


/* WORDS LIST */
.statusReport {
  background: #eee;
  border: 1px solid #BFBFBF;
  border-radius: 4px;
  -moz-border-radius: 4px;
  color: #424242;
  font-size: 10px;
  line-height: 150%;
  margin: 5px 0px 0px 182px;
  padding: 5px;
  width: 528px;
  text-align: center;
}

#statusReportShadow {
  background: url("../img/zepu/shadows/shadow538.png") no-repeat;
  height: 21px;
  margin-left: 185px;
  width: 538px;
}


/* FOOTER */
#Footer {
  color: #761818;
  font-size: 10px;
  height: 20px;
  margin: 0px auto;
  padding-top: 5px;
  text-align: center;
  width: 875px;
}
 
/* traffic and hosting icons */
#links {
  margin-top: 2px;
  margin-bottom: 10px;
  text-align: center;
}

#hostingElvsoft {
  background: url("../img/sprite2.png") -460px -50px no-repeat;
  display: inline-block;
  height: 31px;
  vertical-align: top;
  width: 88px;
}

#hostingSei {
  background: url("../img/hosting/sei.png") no-repeat;
  display: inline-block;
  height: 72px;
  vertical-align: top;
  width: 82px;
}


/* others */
.txt {
  padding: 10px;
}

.def {
  cursor: pointer;
}

.defDetails {
  color :#999;
  display: block;
  font-size: 11px;
  padding-top: 2px;
}

.defDetails a {
  text-decoration: none;
}

.defDetails a:hover {
  text-decoration: underline;
}

.defComment {
  background: #f4f4f4;
  color: #333;
  display: block;
  margin-left:15px;
  margin-top: 5px;
  padding: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

div.resultBar {
  background: #eee;
  border: 1px solid #aaa;
  font-size: 11px;
  margin: 10px 15px 0px 15px;
  padding: 5px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.stopWords {
  background: #f4f4f4;
  border: 1px solid #aaa;
  font-size: 11px;
  margin: 0px 0px 10px 5px;
  padding: 5px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.wikiArticleLink {
  background: #ffffff url("../img/icons/information.png") left center no-repeat;
  font-size: 11px;
  margin: 0px 0px 10px 5px;
  padding: 5px 5px 5px 20px;
}

div.wikiTitle {
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 5px;
}

/* note about the new look of the expressions guide */
#guideNotice {
  background: #eee url("../img/icons/information.png") 5px center no-repeat; 
  border: 1px solid #BFBFBF;
  border-radius: 4px;
  -moz-border-radius: 4px;
  font-size: 120%;
  font-weight: bold;
  padding: 5px 5px 5px 25px;
}

/* GUIDE INFO */
#guideInfo {
  color: #424242;
}

a.inflLink {
  font-weight: bold;
}

div.lexem {
  padding-left: 0;
}

span.lexemName {
  font-weight: bold;
}

.lexem {
  border-collapse: collapse;
  margin-left: 0;
  margin-top: 10px;
}

.lexem td.inflection {
  color: #555555;
  font-size: small;
  font-style: italic;
  text-align: center;
}

.lexem td.form {
}

.lexem td.form .accented{
  font-style: normal;
  font-weight: bold;
}

.lexem td.spacer {
  height: 3px;
}

.lexem tr td.person {
  text-align: right;
}

div.noParadigm {
  color: #555555;
  font-style: italic;
  padding-left: 80px;
  white-space: nowrap;
}

span.isLoc {
  color: green;
  cursor: help;
  font-weight: bold;
}

div.paradigmShow, div.paradigmHide {
  margin: 5px 15px;
  padding: 5px;
  white-space: nowrap;
}

div.paradigmShow {
  display: block;
}

div.paradigmHide {
  display: none;
}

.paradigmLink {
  font-size: small;
}

span.notRecommended {
  color: #1010c0;
  cursor: help;
  font-style: italic;
}

div.notRecommendedLegend {
  color: #1010c0;
  font-style: italic;
}

.scrabbleModelName {
  font-size: 110%;
  font-weight: bold;
  margin-top: 20px;
}

.scrabbleModelName .accented {
  font-style: italic;
  font-weight: normal;
}

.noBorder {
  border: 0px;
}

#offlineClients {
  border-collapse: collapse;
  font-size: 90%;
  margin-top: 20px;
  text-align: center;
  vertical-align: middle;
}

#offlineClients td {
  padding: 2px 5px;
  white-space: nowrap;
}

#offlineClients td.clientHeader {
  font-weight: bold;
  text-align: left;
  vertical-align: middle;
}

#offlineClients td.empty {
  border-left: 0px;
  border-top: 0px;
}

#offlineClients .clientName {
  font-weight: bold;
}

#offlineClients .optionDesc {
  font-size: 85%;
  font-weight: normal;
  padding-left: 15px;
  white-space: normal;
}

div.flashMessage {
  font-weight: bold;
  margin: 10px auto;
  padding: 10px;
  width: 40em;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

div.flashMessage div.pic {
  float: left;
  height: 16px;
  margin-right: 10px;
  width: 16px;
}

div.flashMessage div.text {
  float: left;
}

div.errorType {
  border: 2px solid #eea77e;
  color: #c00;
}

div.errorType div.pic {
  background: url("../img/sprite2.png") -370px -50px no-repeat;
}

div.infoType {
  border: 2px solid #a7ee7e;
  color: green;
}

div.infoType div.pic {
  background: url("../img/icons/info.png") no-repeat;
}

.userEdit td {
  border: 0;
  padding-bottom: 5px;
  padding-right: 5px;
  vertical-align: top;
}

.userTop {
  border-collapse: collapse;
  margin: 15px auto;
}

.userTop td, .userTop th {
  text-align: center;
  padding-right: 20px;
}

.userTop .nick {
  text-align: left;
  white-space: nowrap;
  width: 200px;
}

.userTop .fwdLink {
  text-align: right;
}

.userTopLinks td {
  border: 0px;
  font-size: 80%;
}

span.spaced {
  letter-spacing: 3px;
}

.contribPreview {
  border: 1px solid #aaa;
  margin-left: 20px;
  padding: 10px;
}

.contribExample {
  border-collapse: collapse;
  margin-left: 20px;
}

.contribExample th {
  font-weight: bold;
  text-align: center;
}

.contribExample td, .contribExample th {
  border: 1px solid #aaa;
  padding: 3px 10px;
}

#contribLogin {
  background: url("../img/icons/exclamation.png") no-repeat 0px center;
  padding: 5px 20px;
}

#formattingLink {
  background: url("../img/icons/page_white_text.png") no-repeat 0px center;
  float: right;
  padding: 5px 0 0 20px;
}

table.static {
  margin-left: 20px;
}

/* jquery tablesorter stuff */
th.header {
  background: url("../img/icons/jquery/bg.gif") no-repeat center right;
  cursor: pointer;
}

th.headerSortUp {
  background-image: url("../img/icons/jquery/asc.gif");
  background-color: #bb4848;
}

th.headerSortDown {
  background-image: url("../img/icons/jquery/desc.gif");
  background-color: #bb4848;
}

input.pagedisplay {
  border: 0px;
  text-align: center;
  vertical-align: top;
  width: 50px;
}

/* autocomplete stuff */
.ac_results {
  padding: 0px;
  border: 1px solid black;
  background-color: white;
  overflow: hidden;
  z-index: 99999;
}

.ac_results ul {
  width: 100%;
  list-style-position: outside;
  list-style: none;
  padding: 0;
  margin: 0;
}

.ac_results li {
  margin: 0px;
  padding: 2px 5px;
  cursor: default;
  display: block;
  /* 
  if width will be 100% horizontal scrollbar will apear 
  when scroll mode will be used
  */
  /*width: 100%;*/
  font: menu;
  font-size: 12px;
  /* 
  it is very important, if line-height not setted or setted 
  in relative units scroll will be broken in firefox
  */
  line-height: 16px;
  overflow: hidden;
}

.ac_loading {
  background: white url('../img/icons/hourglass.png') right center no-repeat;
}

.ac_odd {
  background-color: #eee;
}

.ac_over {
  background-color: #6a0a24;
  color: white;
}



/* WORD OF THE DAY ARCHIVE */
.wotdArchive {
  margin-left: 10px;
  padding: 5px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.wotdArchiveTitle {
  width: 767px;
  background: #f4f4f4;
  border: 1px solid #aaa;
  font-size: 11px;
  margin: 10px 15px 0px 15px;
  padding: 5px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.wotdArchiveTable td {
  text-align:right;
  width: 90px;
}

.wotdArchiveTable tr.wotdHeader td{
  text-align:center;
  font-size: 16px;
  font-weight: bold;
}

.nav {
  cursor: pointer;
  color: #761818;
}

.nav:hover {
  text-decoration: underline;
  color: #CC0000;
}

.wotdDoM {
  font-size: 16px;
  font-weight: bold;
}
/* end word of the day archive */

.favoriteDef {
  margin-bottom: 16px;
}

.favoriteDef span {
  padding-left: 2em;
}

.istoriaDefinitieiContainer .changeSetHeader {
  margin: 1em 0;
  color: #999;
  border-bottom: 1px solid #CCC;
}

.istoriaDefinitieiContainer .changeSetDiff {
  margin-left: 2em;
}

div.internalRepDiff {
  border-left: 5px solid #eee;
  padding-left: 15px;
}

div.internalRepDiff ins {
  background-color: #AFA;
  text-decoration: none;
}

div.internalRepDiff del {
  background-color: #FAA;
}
