/* Zepu theme redesigned by Sonia Andriu */

@import "mobileAndDesktop.css";
@import "common.css";

/* GLOBAL */
body {
  background: #fff;
  color: #000;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  height: 100%;
  margin: 0px;
  padding: 0px;
  text-align: left;
  width: 100%;
}
  
a {
  color: #761818;
} 

a:hover {
  color: #c00;
}

h2 {
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  font-weight: normal;
  margin: 15px 0px;
}

h3, h4{
  font-size: 14px;
  font-weight: bold;
  line-height: 110%;
  margin-bottom: 5px;
  margin-top: 10px;
}

h4 {
  color: #761818;
}

span.h4sub {
  font-style: italic;
  color: #AAA;
}

p {
  margin: 0px;
  padding-bottom: 20px;
  padding: 10px;
}

.clearer {
  clear: both;
}

abbr {
  border-bottom: 1px dotted #aaa;
  cursor: help;
}

img {
  border: 0px; /* IE */
}

#staticBody {
  background: #fff;
  margin: 10px 5px;
}

#mobileLink {
  background: url("../img/icons/phone.png") no-repeat;
  padding-left: 16px;
}

#userNick {
  display: block;
  float: right;
  margin-bottom: 10px;
  padding-top: 2px;
  padding-right: 10px;
}

#userPic {
  background: url("../img/sprite3.png") -199px -82px no-repeat;
  float: left;
  height: 16px;
  margin-right: 3px;
  width: 16px;
}


/* BANNER */
#banner_mainPage {
  margin: 25px auto;
  width: 730px;
}

#banner_otherPages {
  margin: 0px auto;
  width: 730px;
}


/* NAVIGATION MENU */
#menu {
  background: #eee;
  border: 1px solid #BFBFBF;
  border-radius: 4px;
  -moz-border-radius: 4px;
  height: 35px;
  margin: -2px auto 10px;
  padding-left: 15px;
  width: 944px;
}

#homeLink {
  background: url("../img/sprite3.png") -88px -82px no-repeat;
  float: left;
  margin-right: 15px;
  margin-top: 3px;
  height: 25px;
  width: 111px;
}

#mainMenu {
  float: left;
  margin: 0;
  padding: 9px 0px;
}

#userMenu {
  float: right;
  margin: 0;
  padding: 8px 10px;
}

#mainMenu > li, #userMenu > li {
  float: left;
  font-size: 13px;
  list-style: none;
}

#mainMenu > li > a:hover, 
#userMenu > li > a:hover {
  color: #761818;
  text-decoration: underline;
}

#mainMenu li a, 
#userMenu li a {
  color: #424242;
  cursor: pointer;
  display: block;
  outline: none; /* Firefox */
  padding: 1px 15px 5px 0px;
  text-decoration: none;
  white-space: nowrap;
}

#mainMenu li ul, 
#userMenu li ul {
  background: #eee;
  border: 1px solid #BFBFBF;
  border-radius: 4px;
  -moz-border-radius: 4px;

  -webkit-box-shadow: 2px 2px 5px #424242; /* Safari and Chrome */
  box-shadow: 2px 2px 5px #424242; /* FF 4 ; CSS3 */
  -moz-box-shadow: 2px 2px 5px #424242; /* FF 3.5-3.6 */

  display: none;
  margin: 0;
  padding: 3px 0px;
  position: absolute;
  z-index: 50;
}

#mainMenu li ul li, 
#userMenu li ul li {
  display: inline;
  float: none;
}

#mainMenu li ul li a, 
#userMenu li ul li a {
  color: #761818;
  padding: 3px 5px;
  width: auto;
}

#mainMenu li ul li a:hover, 
#userMenu li ul li a:hover {
  text-decoration: underline;
}

.fb_bottom { 
  border-bottom: 1px solid #BFBFBF; 
  border-top: 1px solid #BFBFBF; 
  margin: 20px auto 10px;/*it was 0 auto 10*/ 
  padding: 5px 0px 5px 3px; 
  width: 960px;
} 

.fb_top, 
.plus_top {
  float: right;
  margin-top: -3px;
  padding: 10px 0px;
}


/* SITE IDENTITY */
#Logo {
  background: url("../img/sprite3.png") no-repeat; 
  height: 82px;
  margin: 30px auto 5px auto;
  width: 316px;
}

#whoami {
  color: #424242;
  font-size: 14px;
  letter-spacing: 1px;
  margin: -10px auto 10px;
  padding: 0px 0px 0px 100px;
  text-align: center;
}


/* SEARCH */
#searchHomePage {
  margin: 25px auto;
  padding: 0px;
  width: 640px;
}

#searchForm {
 float: left;
 padding-left: 13px;
 width: 600px;
}

#searchOtherPages {
  margin: 10px auto 15px;
  width: 550px;
}

#search_button {
  background: #761818;
  border: 0px; /* border: 0px, otherwise it draws a gray border around button */
  border-radius: 4px;
  -moz-border-radius: 4px;
  
  -webkit-box-shadow: 2px 2px 2px #424242; /* Safari and Chrome */
  box-shadow: 2px 2px 2px #424242; /* FF 4 ; CSS3 */
  -moz-box-shadow: 2px 2px 2px #424242; /* FF 3.5-3.6 */
  
  color: #fff;
  cursor: pointer;
  font-size: 13px;
  height: 22px;
  letter-spacing:1px;
  margin-top: 1px;
  width: 56px;
}

#search_button:hover {
  -webkit-box-shadow: 2px 2px 2px #888; /* Safari and Chrome */
  box-shadow: 2px 2px 2px #888; /* FF 4 ; CSS3 */
  -moz-box-shadow: 2px 2px 2px #888; /* FF 3.5-3.6 */
}

#advancedAnchor { /* the link for "căutare avansată" */
  float: right;
  margin-right: 10px;
  margin-top: 5px;
  margin-left: 5px;
}

#advSearch { /* not Sonia's! */
  color: #761818;
  float: left;
  margin: 10px 0px 0px;
}

#inlineBlock1{
  width: 360px;
  display: inline;
  float: left;
  margin-right: 2px;
}

#inlineBlock2{
  width: 190px;
  display: inline; 
  float: left;
  margin-right: 1px;
}

.search_field {
  border: 1px solid #761818;
  border-radius: 4px;
  -moz-border-radius: 4px;
  font: 18px Arial;
  margin: 0px 5px 0px 0px;
  padding: 0px 0px 0px 2px;
  width: 352px;
}

.search_field:focus {
  outline-style: none; /* Chrome */  
}

#sourceDropDown {
  width: 175px;
}

/* special search*/

#searchFormCuv {
 float: left;
 padding-left: 13px;
}

#searchCuv {
  margin: 10px auto 15px;
}

.search_field_cuv {
  border: 1px solid #761818;
  border-radius: 4px;
  -moz-border-radius: 4px;
  font: 18px Arial;
  margin: 0px 5px 0px 0px;
  padding: 0px 0px 0px 2px;
  width: 100px;
}

.cbgItem {
  width: 100px;
  display: inline-block;
}

.sourceCheckboxGroup {
}

/* CONTAINER */
#Container {
  width: 960px;
  height: 100%;
  margin: 8px auto;
}

#contentProper {
  margin-top: 10px;
}


/* FACEBOOK AND GOOGLE PLUS PLUGIN */
.fb_top, 
.plus_top{
  float: right;
  margin-top: -3px;
}


/* MISSION STATEMENT */
#missionStatement {
  color: #424242;
  font-size: 13px;
  margin: 25px auto 20px;
  text-align: center;
  width: 640px;
}


/* WORDS LIST */
.statusReport {
  background: #eee;
  border: 1px solid #BFBFBF;
  border-radius: 4px;
  -moz-border-radius: 4px;
  color: #424242;
  font-size: 13px;
  line-height: 150%;
  margin: 5px auto;
  padding: 5px;
  width: 628px;
  text-align: center;
}

.statusReport a {
  display: inline-block;
  padding: 0 2px;
}


/* FOOTER */
#Footer {
  color: #761818;
  font-size: 12px;
  height: 20px;
  margin: 0px auto;
  padding-top: 5px;
  text-align: center;
  width: 960px;
}
 
/* traffic and hosting icons */
#links {
  margin-top: 2px;
  margin-bottom: 10px;
  text-align: center;
}

#hostingElvsoft {
  background: url("../img/sprite3.png") 0px -82px no-repeat;
  display: inline-block;
  height: 31px;
  vertical-align: top;
  width: 88px;
}

#hostingSei {
  background: url("../img/hosting/sei.png") no-repeat;
  display: inline-block;
  height: 72px;
  vertical-align: top;
  width: 82px;
}


/* others */
.toolsLicense {
  background: #eee url("../img/icons/exclamation.png") no-repeat 5px 5px;
  color: #444;
  margin: 10px 0px;
  border: 1px solid #BFBFBF;
  border-radius: 4px;
  -moz-border-radius: 4px;
  padding: 5px 25px;
  text-align: justify;
}

.browserIntegration {
  margin-top: 0px;
}

.txt {
  padding: 10px;
}

.def {
  cursor: pointer;
}

.defDetails {
  color :#999;
  display: block;
  font-size: 12px;
  padding-top: 2px;
}

.defDetails a {
  text-decoration: none;
}

.defDetails a:hover {
  text-decoration: underline;
}

.defComment {
  background: #f4f4f4;
  color: #333;
  display: block;
  margin-left:15px;
  margin-top: 5px;
  padding: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

div.resultBar {
  background: #eee;
  border: 1px solid #aaa;
  font-size: 13px;
  margin: 20px 15px 0px 15px;
  padding: 5px 5px 5px 10px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

.stopWords {
  background: #f4f4f4;
  border: 1px solid #aaa;
  font-size: 11px;
  margin: 0px 0px 10px 5px;
  padding: 5px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

.wikiArticleLink {
  background: #ffffff url("../img/icons/information.png") left center no-repeat;
  font-size: 11px;
  margin: 0px 0px 10px 5px;
  padding: 5px 5px 5px 20px;
}


/* note about the new look of the expressions guide */
#guideNotice {
  background: #eee url("../img/icons/information.png") 5px center no-repeat; 
  border: 1px solid #BFBFBF;
  border-radius: 4px;
  -moz-border-radius: 4px;
  /*font-size: 120%;
  font-weight: bold;*/
  padding: 5px 5px 5px 25px;
}

/* GUIDE INFO */
#guideInfo {
  color: #424242;
  display: none;
}

a.inflLink {
  font-weight: bold;
}

span.notRecommended {
  color: #1010c0;
  cursor: help;
  font-style: italic;
}

div.notRecommendedLegend {
  color: #1010c0;
  font-style: italic;
}

.noBorder {
  border: 0px;
}

#offlineClients {
  border-collapse: collapse;
  font-size: 90%;
  margin-top: 20px;
  text-align: center;
  vertical-align: middle;
}

#offlineClients td {
  padding: 2px 5px;
  white-space: nowrap;
}

#offlineClients td.clientHeader {
  font-weight: bold;
  text-align: left;
  vertical-align: middle;
}

#offlineClients td.empty {
  border-left: 0px;
  border-top: 0px;
}

#offlineClients .clientName {
  font-weight: bold;
}

#offlineClients .optionDesc {
  font-size: 85%;
  font-weight: normal;
  padding-left: 15px;
  white-space: normal;
}

div.flashMessage {
  font-weight: bold;
  margin: 10px auto;
  padding: 10px;
  width: 480px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

div.flashMessage div.pic {
  float: left;
  height: 16px;
  margin-right: 10px;
  width: 16px;
}

div.flashMessage div.text {
  float: left;
  width: 450px;
}

div.errorType {
  border: 2px solid #eea77e;
  color: #c00;
}

div.errorType div.pic {
  background: url("../img/sprite3.png") -215px -82px no-repeat;
}

div.infoType {
  border: 2px solid #a7ee7e;
  color: green;
}

div.infoType div.pic {
  background: url("../img/icons/info.png") no-repeat;
}


/* TOPUL VOLUNTARILOR page */
.userTop {
  border-collapse: collapse;
  margin: 15px auto;
}

.userTop td, .userTop th {
  border: 1px solid #aaa;
  text-align: center;
  padding-right: 20px;
}

.userTop .nick {
  text-align: left;
  white-space: nowrap;
  width: 200px;
}

.userTop .fwdLink {
  text-align: right;
}

.userTopLinks td {
  border: 0px;
  font-size: 80%;
}

span.spaced {
  letter-spacing: 3px;
}


/* CONTRIBUIE page */
.warning {
  background: #eee url("../img/icons/exclamation.png") no-repeat 2px center;
  border: 1px solid #BFBFBF;
  border-radius: 4px;
  -moz-border-radius: 4px;
  padding: 5px 0px 5px 20px;
}

#frmContrib {
  margin-top: 15px;
}

#defUserEdit {
  background: #eee;
  width: 100%;
}

#defUserEdit td {
  border: 1px solid white;
  min-width: 100px;
  padding: 3px;
  vertical-align: top;
}

.userEdit td {
  border: none;
  padding: 3px;
  vertical-align: top;
}

.labelContribute {
  padding: 5px 0px 0px 0px;
  float: right;
}

#defTextarea {
  width: 755px;
  margin: 5px 0px;
}

.addWord {
  float: left;
  margin-left: 5px;
}

.contribPreview {
  border: 1px solid #aaa;
  margin-left: 20px;
  padding: 10px;
}

.contribExample {
  border-collapse: collapse;
  margin-left: 20px;
}

.contribExample th {
  font-weight: bold;
  text-align: center;
  background: #eee;
}

.contribExample td, .contribExample th {
  border: 1px solid #aaa;
  padding: 3px 10px;
}

#formattingLink {
  background: url("../img/icons/page_white_text.png") no-repeat 0px center;
  float: right;
  padding: 5px 0 0 20px;
}

table.static {
  margin-left: 20px;
}

table.static th, table.static td {
  border: 1px solid #aaa;
}


/* AUTENTIFICARE UTILIZATOR page */
.vertSpace {
  margin: 40px 0px 20px;
}

#loginForm {
  width: 875px;
}

#claimIdForm input[type="radio"] {
  margin-top: 10px;
}

div.radioButtonIndent {
  margin-left: 26px;
}

#openidProviders a {
  margin-right: 20px;
}

#openidProviders a img {
  vertical-align: middle;
}

#openidHeadline span {
  vertical-align: 15px;
}

#moveTR {
  padding: 5px 0px 10px 185px;  /* padding-top: 5px, otherwise the 2 textinputs will be united in Opera */
  display: block;
}

#moveTR2 {
  padding-left: 230px;
}

.normalSize {
  font-size: 12px; /* otherwise Firefox will put 14.667px on textinputs */
  width: 211px;
}


/* jquery tablesorter stuff */
th.header {
  background: url("../img/icons/jquery/bg.gif") no-repeat center right;
  cursor: pointer;
}

th.headerSortUp {
  background-image: url("../img/icons/jquery/asc.gif");
  background-color: #bb4848;
}

th.headerSortDown {
  background-image: url("../img/icons/jquery/desc.gif");
  background-color: #bb4848;
}

input.pagedisplay {
  border: 0px;
  text-align: center;
  vertical-align: top;
  width: 50px;
}


/* WORD OF THE DAY ARCHIVE */
.wotdArchive {
  margin-left: 3px;
  padding: 5px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

#wotdArchiveHeader {
  border-radius: 4px;
  -moz-border-radius: 4px;
  background: #6B6B6B;
  height: 30px;
  width: 775px;
  text-align: center;
}

.nav {
  background: white;
  width: 25px;
  height: 25px;
  cursor: pointer;
  color: #761818;
}

#navLeft {
  background: url('../img/icons/control_rewind.png') 5px 3px no-repeat;
  float: left;
  margin-left: 10px;
  margin-top: 5px;
}

#wotdDate {
  display: inline;
  color: white;
  font-weight: bold;
  font-size: 14px;
  line-height: 30px; /* do not omit, otherwise the paragraph won't be centered */
  width: 200px;
}

#navRight {
  background: url('../img/icons/control_fastforward.png') 5px 3px no-repeat;
  float: right;
  margin-right: 10px;
  margin-top: 5px;
}

.wotdArchiveTable td {
  border: 1px solid white;
}

.wotdArchiveTable .thumb {
  height: 48px;
  padding: 5px 0px;
}

.wotdArchiveTable td.activeMonth {
  text-align: center;
  width: 90px;
  background: #ddd;
  border: 1px solid white;
}

.wotdArchiveTable tr.wotdDays td {
  padding: 10px 0px;
  background: white;
  text-align: center;
  font-weight: bold;
  color: #6B6B6B;
}

.wotdDoM {
  font-size: 16px;
  font-weight: bold;
  text-align: right;
}

#wotdPrevNext {
  padding: 0 10px 10px 10px;
}

#wotdPrevNext .prev {
  float: left;
}

#wotdPrevNext .next {
  float: right;
}

#wotdImage {
  text-align: center;
}

#wotdImage .copyright {
  color: #aaa;
  margin: 0px auto;
  padding-top: 2px;
  text-align: right;
  width: 300px;
}

#wotdSocialMedia {
  float: right;
}

#wotdSocialMedia img {
  vertical-align: middle;
}

#toggleTitle {
  color: #761818;
  cursor: pointer;
  padding-left: 20px;
}

#toggleTitle:hover {
  text-decoration: underline;
}

#toggleContents {
  border: 1px solid #BFBFBF;
  border-radius: 4px;
  -moz-border-radius: 4px;
  display: none;
  -webkit-box-shadow: 2px 2px 5px #424242; /* Safari and Chrome */
  box-shadow: 2px 2px 5px #424242; /* FF 4 ; CSS3 */
  -moz-box-shadow: 2px 2px 5px #424242; /* FF 3.5-3.6 */
  margin: 5px 10px 0;
  padding: 5px;
}

.toggleOpen {
  background: url("../img/icons/bullet_arrow_up.png") no-repeat;
}

.toggleClosed {
  background: url("../img/icons/bullet_arrow_down.png") no-repeat;
}

/* end word of the day archive */


.favoriteDef {
  margin-bottom: 16px;
}

.favoriteDef span {
  padding-left: 2em;
}

.istoriaDefinitieiContainer .changeSetHeader {
  margin: 1em 0;
  color: #999;
  border-bottom: 1px solid #CCC;
}

.istoriaDefinitieiContainer .changeSetDiff {
  margin-left: 2em;
}

div.internalRepDiff {
  border-left: 5px solid #eee;
  padding-left: 15px;
}

div.internalRepDiff ins {
  background-color: #AFA;
  text-decoration: none;
}

div.internalRepDiff del {
  background-color: #FAA;
}

span.sourceName {
  cursor: help;
  position: relative;
}

span.sourceName span {
  margin-left: -999em;
  position: absolute;
}

span.sourceName:hover span {
  background: white;
  border: 1px solid black;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3); 
  -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.3); 
  -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.3);
  margin-left: 0;
  padding: 10px;
  position: absolute;
  left: 1em;
  top: 2em;
  z-index: 99;
}

span.sourceShortName {
  color: #444;
  font-size: 80%;
  padding-left: 10px;
}

div.sourceComplete {
  margin: 0px auto;
  height: 16px;
  width: 16px;
}

div.sourceComplete0 {
  background: url("../img/icons/page_white.png") no-repeat;
}

div.sourceComplete1 {
  background: url("../img/icons/flag_red.png") no-repeat;
}

div.sourceComplete2 {
  background: url("../img/icons/flag_orange.png") no-repeat;
}

div.sourceComplete3 {
  background: url("../img/icons/flag_yellow.png") no-repeat;
}

div.sourceComplete4 {
  background: url("../img/icons/flag_blue.png") no-repeat;
}

div.sourceComplete5 {
  background: url("../img/icons/flag_green.png") no-repeat;
}

.meaningTag {
  background: #ddd;
  border: 1px solid #888;
  border-radius: 4px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.meaningTag .value {
  border-right: 1px solid #888;
  float: left;
  padding: 5px;
}

.meaningTag .link {
  float: left;
  padding: 5px 3px;
}

.meaningTag .link:hover {
  background: #e77;
}

.meaningTag a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}


/* REDESIGN WIDGETS January 2013 */
.widgetBox {
  position: absolute;
  top: 100px;
  right: 0px;
  width: 240px;
  font-size: 13px;
}

.widgetList {
  background: #E4EFF7;
  background-image: -webkit-linear-gradient(left, #F2F9FD, #C5D3DD);
  background-image: -moz-linear-gradient(left, #F2F9FD, #C5D3DD);
  background-image: -o-linear-gradient(left, #F2F9FD, #C5D3DD);
  border: 1px solid #CCC;
  padding: 20px 10px 5px 15px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.widgetList li {
  list-style-type: none;
  display: inline-block;
  margin-bottom: 20px;
}

.widgetList span {
  float: right;
  max-width: 150px;
}

.lightBorder {
  float: left;
  margin-right: 7px;
  border: 1px solid #777;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  box-shadow: 1px 1px 2px #979899;
  -webkit-box-shadow: 1px 1px 2px #979899;
}

.widgetList label {
  color: #64778A;
  font-weight: bold;
}

.socialNetworks {
  margin-left: 10px;
  margin-top: 10px;
}

body .socialNetworks label {
  display: block;
  margin-bottom: 5px;
  color: #3B4753;
}

.socialNetworks img {
  box-shadow: 2px 2px 2px #999;
  -webkit-box-shadow: 2px 2px 2px #999;
  border-radius: 6px;
  -webkit-border-radius: 6px;
}

.socialNetworks img:hover {
  box-shadow: 2px 2px 2px #777;
  -webkit-box-shadow: 2px 2px 2px #777;
}

.socialNetworks a {
  display: inline-block;
  padding-left: 11px;
}

li.widgetsPreferences {
  background: url("../img/icons/cog.png") no-repeat 0px 0px;
  height: 16px;
  margin: 0px 0px 10px 12px;
  padding-top: 2px;
  padding-left: 20px;
}

.widgetsPreferences a {
  color: #777;
  font-size: 13px;
}

.widgetsPreferences a:hover {
  color: #999;
}

.gameIcon {
  width: 48px;
}

/* align banner to the left only on small resolutions;
   adjust widget box size from homepage, on small resolutions */
@media screen and (max-width: 1093px) {
  #banner_mainPage {
    margin-left: 0px;
  }

  .widgetBox {
    width: 200px;
  }

  .widgetList span {
    float: left;
    max-width: 113px;
  }

  .widgetList li img {
    clear: both;
  }

  li.widgetsPreferences {
    margin: 0px 0px 20px 10px;
  }
}

@media screen and (max-width: 1024px) {
  #searchHomePage,
  #missionStatement,
  .statusReport {
    width: 570px;
  }

  #banner_mainPage {
    margin-left: 40px;
  }
}

/* hide widget box for very small resolutions */
@media screen and (max-width: 983px) {
  .widgetBox {
    display: none;
  }

  #banner_mainPage {
    margin-left: 71px;
  }
}


/****************** Medal stuff *******************/

#medalEditDiv {
 display: none;
 margin-bottom: 10px;
}

.medalCheckboxes {
  columns: 350px 2;
  -webkit-columns: 350px 2;
  margin: 5px 0px;
}


/* RICH USER PROFILE */
.userProfileHeader {
  overflow: hidden;
}

.userProfileHeader,
.userProfileSection {
  margin-left: 15px;
}

.userProfileHeader h3 {
  margin: 30px 0px 10px 55px;
  color: #333030;
}

.avatar {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  float: left;
  height: 48px;
  margin-right: 10px;
  width: 48px;
}

.userProfileSection {
  margin-top: 10px;
  border: 0px;
  padding: 10px 10px 10px 0px;
  margin-bottom: 10px;
}

.userProfileSection legend {
  color: #525151;
  display: block;
  font-weight: bold;
}

.userFields {
  color: #888;
  display: inline-block;
  width: 150px;
  margin: 0px 10px 5px 5px;
}

.userNoMedals {
  color: #888;
  display: inline-block;
  margin: 0px 10px 5px 5px;
}

.sectionEdit {
  display: block;
  margin: -23px 0px 15px 55px;
}

.profileEditLink {
  font-size: 10px;
  font-weight: normal;
  padding-left: 10px;
}

#rawAvatarContainer {
  margin-top: 10px;
  overflow-x: auto;
  overflow-y: hidden;
  width: 870px;
}

#avatarPreviewContainer {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  height: 48px;
  margin: 10px 0px;
  overflow: hidden;
  width: 48px;
}


/* DONATE PAGE */
span.tooltip2 {
  background: url("../img/icons/information.png") no-repeat;
  display: inline-block;
  width: 16px;
}

.donateContent {
  padding: 0px 15px;
  line-height: 17px;
  padding-top: 10px;
}
	  
.paymentSection {
  display: inline-block;
  background: #D4EFFA;
  width: 290px;
  height: 175px;
  margin: 15px 7px 0px 0px;
  vertical-align: top;
  padding-bottom: 15px;
  border: 1px solid #BDE5F5;
  box-shadow: 1px 1px 7px #B6B5B5;
  -webkit-box-shadow: 1px 1px 7px #B6B5B5;
}
		
.paymentSection h3 {
  background: #9DD6EC;
  margin: 0px 0px 10px 0px;
  padding: 8px 10px 8px 20px;
  color: #1A5774;
}
		
.paypal {
  width: 220px;
}
		
.paymentSection label {
  display: inline-block;
  width: 50px;
  padding-left: 15px;
  margin-top: 10px;
}
		
#donateOnlineEmail {
  width: 190px;
}
.donateContent ul li {
  list-style-type: square;
}
		
.paymentSection label.tipText {
  width: 260px;
  color: #757E75;
  font-size: 12px;
  margin-top: 10px;
  padding-left: 35px;
}
		
.onlineDonationButton {
  margin-top: 20px;
  margin-left: 15px;
  padding: 0;
  background: #D4EFFA url("../img/donate.png") 0px 0px no-repeat;
  border: 0px;
  border-radius: 12px;
  box-shadow: 1px 1px 2px #777;
  cursor: pointer;
  width: 252px;
  height: 34px;
}
		
.onlineDonationButton:hover {
  box-shadow: 2px 2px 2px #999;
}
		
.payPalButton {
  margin-top: 35px;
  margin-left: 30px;
  border: 0px;
}
		
.bankTransfer ul {
  padding-left: 15px;
}
		
.bankTransfer ul li {
	list-style-type: none;
	margin-top: 7px;
	color: #888;
}
		
.bankAccount {
  font-weight: bold;
  color: #555;
  font-size: 13px;
}

.donateDetailLink {
  font-size: 12px;
  font-weight: normal;
  margin-left: 10px;
}

.donateProjectDetails {
  display: none;
  background: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 4px;
  -moz-border-radius: 4px;
}

.wotdReason {
  padding: 10px;
}


/* CSS shadow */
.bend-shadow {
  position: relative;
}

.bend-shadow:before,
.bend-shadow:after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 6px;
  width: 200px;
  height: 20px;

  -webkit-box-shadow: 0 9px 3px #BBB;
  -moz-box-shadow: 0 9px 3px #bbb;
  box-shadow: 0 9px 3px #BBB;
  -webkit-box-shadow: 0 8px 3px #AAA;
}

.bend-shadow:before {
  -webkit-transform: rotate(356deg);
  -moz-transform: rotate(356deg);
  -o-transform: rotate(356deg);
  transform: rotate(356deg);
  left: 6px;
}

.bend-shadow:after {
  -webkit-transform: rotate(4deg);
  -moz-transform: rotate(4deg);
  -o-transform: rotate(4deg);
  transform: rotate(4deg);
  right: 6px;
}

.tiny-shadow:before,
.tiny-shadow:after {
  width: 100px;
  bottom: 6px;
}

.widgetBox.bend-shadow {
  position: absolute;
}

.widgetBox.bend-shadow:before {
  bottom: 20px;
  width: 170px;
}

.widgetBox.bend-shadow:after {
  display: none;
}


