body {
  background: #fff;
  color: #000;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  height: 100%;
  margin: 0px;
  padding: 0px;
  text-align: left;
  width: 100%;
}
  
a {
  color: #761818;
} 

a:hover {
  color: #c00;
}

h2 {
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  font-weight: normal;
  margin: 15px 0px;
}

h3 {
  font-size: 14px;
  font-weight: bold;
  line-height: 110%;
  margin-bottom: 5px;
  margin-top: 10px;
}

p {
  margin: 0px;
  padding-bottom: 20px;
  padding: 10px;
}

table {
  border-collapse: collapse;
}

table td, table th {
  border: 1px solid #aaa;
  padding: 2px 10px;
}

.clearer {
  clear: both;
  height: 1px;
}

#staticBody {
  background: #fff;
  margin: 0px 5px;
}

#staticHeader {
  background: url("../img/zepu/bgMenuTop.png") no-repeat bottom #761818;
  height: 20px;
}

#userActions {
  float: right;
  text-align: right;
}

#userActions ul {
  list-style: none;
  margin-top: 5px;
  padding: 0px;
  display: inline;
}

#userActions a {
  font-size: 11px;
  text-decoration: none;
}

#userActions a:hover {
  text-decoration: underline;
}

#userActions.withBanner li {
  display: block;
  padding-top: 6px;
}

#userActions.withoutBanner li {
  display: inline;
  padding-left: 10px;
}

#userNick {
  background: url("../img/icons/user_orange.png") no-repeat;
  padding-left: 18px;
}

#header {
  background: url("../img/zepu/bhHeader.png") no-repeat bottom #fff;
}

#header.withBanner {
  height: 110px;
}

#header.withoutBanner {
  height: 36px;
}

#headerContainer {
  margin: 8px auto;
  width: 860px;
}

#banner_top_728x90 {
  float: left;
}

#banner_main_468x60 {
  margin-left: 201px;
}

#banner_beforeResults_728x90 {
  margin-left: 15px;
}

#menu {
  background: url("../img/zepu/menuBG.png") no-repeat bottom;
  height: 35px;
  margin: auto;
  padding-left: 15px;
  width: 860px;
}

#menu ul {
  height: auto;
  line-height: normal;
  list-style: none;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

#menu li {
  display: inline;
  height: auto;
  text-decoration: none;
}

#menu a {
  float: left;
  font-size: 11px;
  height: 20px;
  line-height: 180%;
  margin-right: 5px;
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: none;
  width: auto;
}

#menu a:hover {
  text-decoration: underline;
}

#Logo {
  height: 82px;
  margin: 30px auto 5px auto;
  width: 316px;
}

#whoami {
  font-size: 16px;
  margin: 0px auto;
  text-align: center;
}

#Search {
  margin: 25px 0px 25px 170px;
  padding: 0px;
  width: 545px;
}

#searchForm {
  float: left;
}

#Search2 {
  margin: 10px 0px 15px 15px;
  padding: 0px;
}

.search_button {
  border: 0px;
  left: 100px;
  margin-left: 5px;
  vertical-align: top;
}

.search_field {
  border: 1px solid #761818;
  font: 18px Arial;
  margin-left: 0px;
  margin-top: 10px;
  padding: 0px 0px 0px 2px;
  width: 452px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

#sourceDropDown {
  width: 175px;
}

#Container {
  width: 875px;
  height: 100%;
  margin: auto;
}

.hptxt {
  margin: 35px 0px 15px 100px;
  width: 670px;
}

.txt {
  padding: 10px;
}

.def {
  cursor: pointer;
}

.defDetails {
  color :#999;
  display: block;
  font-size: 11px;
  padding-top: 2px;
}

.defDetails a {
  text-decoration: none;
}

.defDetails a:hover {
  text-decoration: underline;
}

.defComment {
  background: #f4f4f4;
  color: #333;
  display: block;
  margin-left:15px;
  margin-top: 5px;
  padding: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#contentProper {
  margin-top: 10px;
}

.statusReport {
  background: #f4f4f4;
  border: 1px solid #761818;
  color: #333;
  margin: 45px 0px 10px 160px;
  padding: 10px;
  width: 530px;
  text-align: center;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.statusReportMini {
  display: none;  
  background: #f4f4f4;
  border: 1px solid #761818;
  color: #333;
  margin: 45px auto 10px;
  padding: 5px;
  width: 200px;
  text-align: center;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

div.resultBar {
div.resultBar {
  background: #f4f4f4;
  border: 1px solid #aaa;
  font-size: 11px;
  margin: 10px 15px 0px 15px;
  padding: 5px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.stopWords {
  background: #f4f4f4;
  border: 1px solid #aaa;
  font-size: 11px;
  margin: 0px 0px 10px 5px;
  padding: 5px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

a.inflLink {
  font-weight: bold;
}

div.lexem {
  padding-left: 0;
}

span.lexemName {
  font-weight: bold;
}

.lexem {
  border-collapse: collapse;
  margin-left: 0;
  margin-top: 10px;
}

.lexem td.inflection {
  color: #555555;
  font-size: small;
  font-style: italic;
  text-align: center;
}

.lexem td.form {
}

.lexem td.form .accented{
  font-style: normal;
  font-weight: bold;
}

.lexem td.spacer {
  height: 3px;
}

.lexem tr td.person {
  text-align: right;
}

div.noParadigm {
  color: #555555;
  font-style: italic;
  padding-left: 80px;
  white-space: nowrap;
}

span.isLoc {
  color: green;
  cursor: help;
  font-weight: bold;
}

div.paradigmShow, div.paradigmHide {
  margin: 5px 15px;
  padding: 5px;
  white-space: nowrap;
}

div.paradigmShow {
  display: block;
}

div.paradigmHide {
  display: none;
}

.paradigmLink {
  font-size: small;
}

span.notRecommended {
  color: #1010c0;
  cursor: help;
  font-style: italic;
}

div.notRecommendedLegend {
  color: #1010c0;
  font-style: italic;
}

.scrabbleModelName {
  font-size: 110%;
  font-weight: bold;
  margin-top: 20px;
}

.scrabbleModelName .accented {
  font-style: italic;
  font-weight: normal;
}

#Footer {
  background: url("../img/zepu/footerBG.png") no-repeat top center;
  color: #761818;
  font-size: 10px;
  height: 30px;
  margin-top: 20px;
  margin: auto;
  padding-top: 20px;
  text-align: center;
  width: 875px;
}

#links {
  margin-top: 10px;
  text-align: center;
}

.noBorder {
  border: 0px;
}

#offlineClients {
  border-collapse: collapse;
  font-size: 90%;
  margin-top: 20px;
  text-align: center;
  vertical-align: middle;
}

#offlineClients td {
  padding: 2px 5px;
  white-space: nowrap;
}

#offlineClients td.clientHeader {
  font-weight: bold;
  text-align: left;
  vertical-align: middle;
}

#offlineClients td.empty {
  border-left: 0px;
  border-top: 0px;
}

#offlineClients .clientName {
  font-weight: bold;
}

#offlineClients .optionDesc {
  font-size: 85%;
  font-weight: normal;
  padding-left: 15px;
  white-space: normal;
}

.rightWrong {
  border-collapse: collapse;
  border-spacing: 0px;
}

.rightWrong th {
  text-align: center;
}

.rightWrong td {
  vertical-align: top;
}

.rightWrong td.right {
  color: #060;
  width: 25%;
}

.rightWrong td.wrong {
  color: #600;
  width: 25%;
}

.rightWrong td.notes {
  width: 50%;
}

.rightWrong td.actions {
  font-size: 80%;
  vertical-align: middle;
}

div.guideEntryAddLink {
  font-size: 80%;
  text-align: center;
}

div.flashMessage {
  font-weight: bold;
  margin: 10px auto;
  padding: 10px 10px 10px 40px;
  width: 40em;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

div.errorType {
  background: url("../img/icons/error.png") no-repeat 10px center;
  border: 2px solid #eea77e;
  color: #c00;
}

div.infoType {
  background: url("../img/icons/info.png") no-repeat 10px center;
  border: 2px solid #a7ee7e;
  color: green;
}

.userEdit td {
  border: 0;
  padding-bottom: 5px;
  padding-right: 5px;
  vertical-align: top;
}

.userTop {
  border-collapse: collapse;
  margin: 15px auto;
}

.userTop td, .userTop th {
  text-align: center;
  padding-right: 20px;
}

.userTop .nick {
  text-align: left;
  white-space: nowrap;
  width: 200px;
}

.userTop .fwdLink {
  text-align: right;
}

.userTopLinks td {
  border: 0px;
  font-size: 80%;
}

span.spaced {
  letter-spacing: 3px;
}

.contribPreview {
  border: 1px solid #aaa;
  margin-left: 20px;
  padding: 10px;
}

.contribExample {
  border-collapse: collapse;
  margin-left: 20px;
}

.contribExample th {
  font-weight: bold;
  text-align: center;
}

.contribExample td, .contribExample th {
  border: 1px solid #aaa;
  padding: 3px 10px;
}

table.static {
  margin-left: 20px;
}

/* jquery tablesorter stuff */
th.header {
  background: url("../img/icons/jquery/bg.gif") no-repeat center right;
  cursor: pointer;
}

th.headerSortUp {
  background-image: url("../img/icons/jquery/asc.gif");
  background-color: #bb4848;
}

th.headerSortDown {
  background-image: url("../img/icons/jquery/desc.gif");
  background-color: #bb4848;
}

input.pagedisplay {
  border: 0px;
  text-align: center;
  vertical-align: top;
  width: 50px;
}

/* autocomplete stuff */
.ac_results {
	padding: 0px;
	border: 1px solid black;
	background-color: white;
	overflow: hidden;
	z-index: 99999;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	/* 
	if width will be 100% horizontal scrollbar will apear 
	when scroll mode will be used
	*/
	/*width: 100%;*/
	font: menu;
	font-size: 12px;
	/* 
	it is very important, if line-height not setted or setted 
	in relative units scroll will be broken in firefox
	*/
	line-height: 16px;
	overflow: hidden;
}

.ac_loading {
	background: white url('../img/icons/hourglass.png') right center no-repeat;
}

.ac_odd {
	background-color: #eee;
}

.ac_over {
	background-color: #6a0a24;
	color: white;
}
