/* Zepu theme redesigned by Sonia Andriu */

@import "mobileAndDesktop.css";
@import "common.css";

/* GLOBAL */
body {
  background: #fff;
  color: #000;
  font-family: 'Trebuchet MS', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  height: 100%;
  margin: 0px;
  padding: 0px;
  text-align: left;
  width: 100%;
}

#staticBody {
  width: 98%;
}
  
a {
  color: #761818;
} 

a:hover {
  color: #c00;
}

h2 {
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  font-weight: normal;
  margin: 15px 0px;
}

h3, h4 {
  font-size: 14px;
  font-weight: bold;
  line-height: 110%;
  margin-bottom: 5px;
  margin-top: 10px;
}

h4 {
  color: #761818;
}

.h4Sub {
  font-style: italic;
  color: #BFBFBF;
}

p {
  margin: 0px;
  padding-bottom: 20px;
  padding: 10px;
}

.clearer {
  clear: both;
}

abbr {
  border-bottom: 1px dotted #BFBFBF;
  cursor: help;
}

img {
  border: 0px; /* IE */
}

#staticBody {
  background: #fff;
  margin: 10px 5px;
}

#mobileLink {
  background: url("../img/icons/phone.png") no-repeat;
  padding-left: 16px;
}

#userNick {
  display: block;
  float: right;
  margin-bottom: 10px;
  padding-top: 2px;
  padding-right: 10px;
}

#userPic {
  background: url("../img/sprite3.png") -199px -82px no-repeat;
  float: left;
  height: 16px;
  margin-right: 3px;
  width: 16px;
}


/* CONTENT */
#contentProper {
  height: 100%;
  margin: 8px auto;
  width: 960px;
}


/* BANNER */
#banner_mainPage {
  margin: 25px auto;
  width: 730px;
}

#banner_otherPages {
  margin: 0px auto 10px;
  width: 730px;
}


/* NAVIGATION MENU */
#menu {
  background: #eee;
  border: 1px solid #BFBFBF;
  border-radius: 4px;
  height: 35px;
  margin: 5px auto 10px;
  padding-left: 15px;
  width: 944px;
}

#homeLink {
  background: url("../img/sprite3.png") -88px -82px no-repeat;
  float: left;
  margin-right: 15px;
  margin-top: 3px;
  height: 25px;
  width: 111px;
}

#mainMenu {
  float: left;
  margin: 0;
  padding: 9px 0px;
}

#userMenu {
  float: right;
  margin: 0;
  padding: 8px 10px;
}

#mainMenu > li,
#userMenu > li {
  float: left;
  font-size: 13px;
  list-style: none;
}

#mainMenu > li > a:after {
  content: "▼";
  margin-left: 3px;
}

#mainMenu > .donateLink > a:after {
  content: "";
  margin-left: 0px;
}

#mainMenu > li > a:hover,
#userMenu > li > a:hover {
  color: #761818;
  text-decoration: underline;
}

#mainMenu li a,
#userMenu li a {
  color: #444;
  cursor: pointer;
  display: block;
  outline: none; /* Firefox */
  padding: 1px 15px 5px 0px;
  text-decoration: none;
  white-space: nowrap;
}

#mainMenu li ul,
#userMenu li ul {
  background: #eee;
  border: 1px solid #BFBFBF;
  border-radius: 4px;
  display: none;
  margin: 0;
  padding: 3px 0px;
  position: absolute;
  z-index: 50;
}

#mainMenu li ul li,
#userMenu li ul li {
  display: inline;
  float: none;
}

#mainMenu li ul li a,
#userMenu li ul li a {
  color: #761818;
  padding: 3px 5px;
  width: auto;
}

#mainMenu li ul li a:hover,
#userMenu li ul li a:hover {
  text-decoration: underline;
}

#mainMenu .donateLink {
  background: #DDD;
  background-image: -webkit-linear-gradient(right, #FFF, #DDD);
  background-image: -moz-linear-gradient(right, #FFF, #DDD);
  background-image: -o-linear-gradient(right, #FFF, #DDD);
  background-image: linear-gradient(to left, #FFF, #DDD);
  border: 1px solid #CCC;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  padding: 10px 10px 6px;
  position: fixed;
  top: 8%;
  left: 0%;
}

#mainMenu .donateLink a {
  background: url("../img/icons/coins.png") 63px 3px no-repeat;
  color: #761818;
  font-size: 14px;
  font-weight: bold;
  padding-right: 26px;
}

.fbBottom {
  border-bottom: 1px solid #BFBFBF; 
  border-top: 1px solid #BFBFBF; 
  margin: 20px auto 10px;/*it was 0 auto 10*/ 
  padding: 5px 0px 5px 3px; 
  width: 960px;
}

.fbTop,
.plusTop {
  float: right;
  margin-top: -3px;
  padding: 10px 0px;
}


/* SITE IDENTITY */
.siteLogo {
  background: url("../img/sprite3.png") no-repeat; 
  height: 82px;
  margin: 30px auto 5px auto;
  width: 316px;
}

.tagline {
  color: #444;
  font-size: 14px;
  letter-spacing: 1px;
  margin: -10px auto 10px;
  padding: 0px 0px 0px 100px;
  text-align: center;
}


/* SEARCH */
#searchHomePage {
  margin: 25px auto;
  padding: 0px;
  width: 730px;
}

#searchForm {
 float: left;
 width: 100%;
}

#searchOtherPages {
  margin: 10px auto 15px;
  width: 730px;
}

#searchButton {
  background: #761818;
  border: 0px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  letter-spacing: 1px;
  padding: 12px 13px;
  margin: 0px 0px 0px -5px;
  height: 41px;
  box-shadow: none;
}

#searchButton:hover {
  background: #5A0707;
}

#advancedAnchor { /* the link for "căutare avansată" */
  float: right;
  padding: 11px 10px 0 0;
}

#advSearch { /* not Sonia's! */
  color: #761818;
  float: left;
  margin: 10px 0px 0px;
}

.searchTextField {
  width: 596px;
  display: inline;
  float: left;
  margin-right: 2px;
}

.searchField, .scrabbleSearchField {
  border: 1px solid #761818;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font: 18px Arial;
  margin: 0;
  padding: 9px 2px;
  width: 500px;
  vertical-align: top;
}

.searchField:focus {
  outline-style: none; /* Chrome */  
}

#sourceDropDown {
  width: 175px;
}

/* special search*/
#searchFormCuv {
 float: left;
 padding-left: 13px;
}

#searchCuv {
  margin: 10px auto 15px;
}

.searchFieldCuv {
  border: 1px solid #761818;
  border-radius: 4px;
  font: 18px Arial;
  margin: 0px 5px 0px 0px;
  padding: 0px 0px 0px 2px;
  width: 100px;
}

.cbgItem {
  width: 100px;
  display: inline-block;
}


/* FACEBOOK AND GOOGLE PLUS PLUGIN */
.fbTop,
.plusTop {
  float: right;
  margin-top: -3px;
}


/* MISSION STATEMENT */
#missionStatement {
  color: #444;
  font-size: 13px;
  margin: 25px auto 20px;
  text-align: center;
  width: 650px;
}


/* FOOTER */
footer {
  font-size: 12px;
  height: 20px;
  margin: 0px auto;
  padding-top: 5px;
  text-align: center;
  width: 960px;
}

footer ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

footer ul li {
  display: inline-block;
}

footer li:after {
  content: "•";
  margin: 0px 3px;
}

footer li:last-child:after {
  content: "";
  margin: 0px;
}
 
#hostingSei {
  background: url("../img/hosting/sei.png") no-repeat;
  display: inline-block;
  height: 72px;
  vertical-align: top;
  width: 82px;
}


/* others */
.toolsLicense {
  background: #eee url("../img/icons/exclamation.png") no-repeat 5px 5px;
  color: #444;
  margin: 10px 0px;
  border: 1px solid #BFBFBF;
  border-radius: 4px;
  padding: 5px 25px;
  text-align: justify;
}

.browserIntegration {
  margin-top: 0px;
}

.txt {
  padding: 10px;
}

.def {
  cursor: pointer;
}

.defDetails {
  color :#999;
  display: block;
  font-size: 12px;
  padding-top: 2px;
}

.defDetails a {
  text-decoration: none;
}

.defDetails a:hover {
  text-decoration: underline;
}

.defComment {
  background: #f4f4f4;
  color: #333;
  display: block;
  margin-left:15px;
  margin-top: 5px;
  padding: 5px;
  border-radius: 5px;
}

.resultBar {
  background: #eee;
  border: 1px solid #BFBFBF;
  font-size: 13px;
  margin: 20px 15px 0px 15px;
  padding: 5px 5px 5px 10px;
  border-radius: 7px;
}

.stopWords {
  background: #f4f4f4;
  border: 1px solid #BFBFBF;
  font-size: 11px;
  margin: 0px 0px 10px 5px;
  padding: 5px;
  border-radius: 7px;
}

.wikiArticleLink {
  background: #ffffff url("../img/icons/information.png") left center no-repeat;
  font-size: 11px;
  margin: 0px 0px 10px 5px;
  padding: 5px 5px 5px 20px;
}


/* note about the new look of the expressions guide */
#guideNotice {
  background: #eee url("../img/icons/information.png") 5px center no-repeat; 
  border: 1px solid #BFBFBF;
  border-radius: 4px;
  /*font-size: 120%;
  font-weight: bold;*/
  padding: 5px 5px 5px 25px;
}

/* GUIDE INFO */
#guideInfo {
  color: #444;
  display: none;
}

.inflLink {
  font-weight: bold;
}

.noBorder {
  border: 0px;
}

.flashMessage {
  font-weight: bold;
  margin: 10px auto;
  padding: 10px;
  width: 480px;
  border-radius: 7px;
}

.flashMessage .pic {
  float: left;
  height: 16px;
  margin-right: 10px;
  width: 16px;
}

.flashMessage .text {
  float: left;
  width: 450px;
}

.errorType {
  border: 2px solid #eea77e;
  color: #c00;
}

.errorType .pic {
  background: url("../img/sprite3.png") -215px -82px no-repeat;
}

.infoType {
  border: 2px solid #a7ee7e;
  color: green;
}

.infoType .pic {
  background: url("../img/icons/info.png") no-repeat;
}


/* TOPUL VOLUNTARILOR page */
.userTop {
  border-collapse: collapse;
  margin: 15px auto;
}

.userTop td,
.userTop th {
  border: 1px solid #BFBFBF;
  text-align: center;
  padding-right: 20px;
}

.userTop .nick {
  text-align: left;
  white-space: nowrap;
  width: 200px;
}

.userTop .fwdLink {
  text-align: right;
}

.userTopLinks td {
  border: 0px;
  font-size: 80%;
}

.spaced {
  letter-spacing: 3px;
}


/* CONTRIBUIE page */
.warning {
  background: #eee url("../img/icons/exclamation.png") no-repeat 2px center;
  border: 1px solid #BFBFBF;
  border-radius: 4px;
  padding: 5px 0px 5px 20px;
}

#frmContrib {
  margin-top: 15px;
}

#defUserEdit {
  background: #eee;
  width: 100%;
}

#defUserEdit td {
  border: 1px solid #FFF;
  min-width: 100px;
  padding: 3px;
  vertical-align: top;
}

.userEdit td {
  border: none;
  padding: 3px;
  vertical-align: top;
}

.labelContribute {
  padding: 5px 0px 0px 0px;
  float: right;
}

#defTextarea {
  width: 755px;
  margin: 5px 0px;
}

.addWord {
  float: left;
  margin-left: 5px;
}

.contribPreview {
  border: 1px solid #BFBFBF;
  margin-left: 20px;
  padding: 10px;
}

.contribExample {
  border-collapse: collapse;
  margin-left: 20px;
}

.contribExample th {
  font-weight: bold;
  text-align: center;
  background: #eee;
}

.contribExample td,
.contribExample th {
  border: 1px solid #BFBFBF;
  padding: 3px 10px;
}

#formattingLink {
  background: url("../img/icons/page_white_text.png") no-repeat 0px center;
  float: right;
  padding: 5px 0 0 20px;
}

.static {
  margin-left: 20px;
}

.static th,
.static td {
  border: 1px solid #BFBFBF;
}


/* AUTENTIFICARE UTILIZATOR page */
.vertSpace {
  margin: 40px 0px 20px;
}

#loginForm {
  width: 875px;
}

#claimIdForm input[type="radio"] {
  margin-top: 10px;
}

.radioButtonIndent {
  margin-left: 26px;
}

#openidProviders a {
  margin-right: 20px;
}

#openidProviders a img {
  vertical-align: middle;
}

#openidHeadline span {
  vertical-align: 15px;
}

#moveTR {
  padding: 5px 0px 10px 185px;  /* padding-top: 5px, otherwise the 2 textinputs will be united in Opera */
  display: block;
}

#moveTR2 {
  padding-left: 230px;
}

.normalSize {
  font-size: 12px; /* otherwise Firefox will put 14.667px on textinputs */
  width: 211px;
}


/* jquery tablesorter stuff */
th.header {
  background: url("../img/icons/jquery/bg.gif") no-repeat center right;
  cursor: pointer;
}

th.headerSortUp {
  background-image: url("../img/icons/jquery/asc.gif");
  background-color: #bb4848;
}

th.headerSortDown {
  background-image: url("../img/icons/jquery/desc.gif");
  background-color: #bb4848;
}

input.pagedisplay {
  border: 0px;
  text-align: center;
  vertical-align: top;
  width: 50px;
}


/* WORD OF THE DAY ARCHIVE */
.wotdArchive {
  margin-left: 3px;
  padding: 5px;
  border-radius: 7px;
}

#wotdArchiveHeader {
  border-radius: 4px;
  background: #777;
  height: 30px;
  width: 100%;
  text-align: center;
}

.nav {
  background: #FFF;
  width: 25px;
  height: 25px;
  cursor: pointer;
  color: #761818;
}

#navLeft {
  background: url('../img/icons/control_rewind.png') 5px 3px no-repeat;
  float: left;
  margin-left: 10px;
  margin-top: 5px;
}

#wotdDate {
  display: inline;
  color: #FFF;
  font-weight: bold;
  font-size: 14px;
  line-height: 30px; /* do not omit, otherwise the paragraph won't be centered */
  width: 200px;
}

#navRight {
  background: url('../img/icons/control_fastforward.png') 5px 3px no-repeat;
  float: right;
  margin-right: 10px;
  margin-top: 5px;
}

.wotdArchiveTable {
  width: 100%;
}

.wotdArchiveTable td {
  border: 1px solid #FFF;
}

.wotdArchiveTable .thumb {
  height: 48px;
  padding: 5px 0px;
}

.wotdArchiveTable .activeMonth {
  text-align: center;
  width: 90px;
  background: #ddd;
  border: 1px solid #FFF;
}

.wotdArchiveTable .wotdDays td {
  padding: 10px 0px;
  background: #FFF;
  text-align: center;
  font-weight: bold;
  color: #777;
}

.wotdDoM {
  font-size: 16px;
  font-weight: bold;
  text-align: right;
}

#wotdPrevNext {
  padding: 0 10px 10px 10px;
}

#wotdPrevNext .prev {
  float: left;
}

#wotdPrevNext .next {
  float: right;
}

#wotdImage {
  text-align: center;
}

#wotdImage .copyright {
  color: #BFBFBF;
  margin: 0px auto;
  padding-top: 2px;
  text-align: right;
  width: 300px;
}

#wotdSocialMedia {
  float: right;
}

#wotdSocialMedia img {
  vertical-align: middle;
}

#toggleTitle {
  color: #761818;
  cursor: pointer;
  padding-left: 20px;
}

#toggleTitle:hover {
  text-decoration: underline;
}

#toggleContents {
  border: 1px solid #BFBFBF;
  border-radius: 4px;
  display: none;
  margin: 5px 10px 0;
  padding: 5px;
}

.toggleOpen {
  background: url("../img/icons/bullet_arrow_up.png") no-repeat;
}

.toggleClosed {
  background: url("../img/icons/bullet_arrow_down.png") no-repeat;
}

.word-of-the-day {
  margin-top: 10px;
}
/* end word of the day archive */


.favoriteDef {
  margin-bottom: 16px;
}

.favoriteDef span {
  padding-left: 2em;
}

.istoriaDefinitieiContainer .changeSetHeader {
  margin: 1em 0;
  color: #999;
  border-bottom: 1px solid #CCC;
}

.istoriaDefinitieiContainer .changeSetDiff {
  margin-left: 2em;
}

.internalRepDiff {
  border-left: 5px solid #eee;
  padding-left: 15px;
}

.internalRepDiff ins {
  background-color: #AFA;
  text-decoration: none;
}

.internalRepDiff del {
  background-color: #FAA;
}

.sourceName {
  cursor: help;
  position: relative;
}

.sourceName span {
  margin-left: -999em;
  position: absolute;
}

.sourceName:hover span {
  background: #FFF;
  border: 1px solid #000;
  margin-left: 0;
  padding: 10px;
  position: absolute;
  left: 1em;
  top: 2em;
  z-index: 99;
}

.sourceComplete {
  margin: 0px auto;
}

.sourceComplete0 {
  color: #000;
}

.sourceComplete1 {
  color: #CC0000;
}

.sourceComplete2 {
  color: orange;
}

.sourceComplete3 {
  color: #DAC003;
}

.sourceComplete4 {
  color: blue;
}

.sourceComplete5 {
  color: green;
}

.dictSourceTips {
  margin-left: 10px;
}

.meaningTag {
  background: #ddd;
  border: 1px solid #777;
  border-radius: 4px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.meaningTag .value {
  border-right: 1px solid #777;
  float: left;
  padding: 5px;
}

.meaningTag .link {
  float: left;
  padding: 5px 3px;
}

.meaningTag .link:hover {
  background: #e77;
}

.meaningTag a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}


/* REDESIGN WIDGETS January 2013 */
.widgetBox {
  position: absolute;
  top: 8%;
  right: 0px;
  width: 240px;
  font-size: 13px;
}

.widgetList {
  background: #DDD;
  background-image: -webkit-linear-gradient(left, #FFF, #DDD);
  background-image: -moz-linear-gradient(left, #FFF, #DDD);
  background-image: -o-linear-gradient(left, #FFF, #DDD);
  background-image: linear-gradient(to right, #FFF, #DDD);
  border: 1px solid #CCC;
  padding: 20px 10px 5px 15px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.widgetList li {
  list-style-type: none;
  display: inline-block;
  margin-bottom: 20px;
}

.widgetList span {
  float: right;
  max-width: 150px;
}

.widgetList img {
  float: left;
  margin-right: 7px;
}

.widgetList label {
  color: #555;
  font-weight: bold;
}

.socialNetworks {
  margin-left: 10px;
  margin-top: 10px;
}

body .socialNetworks label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.socialNetworks a {
  display: inline-block;
  padding-left: 11px;
}

.widgetsPreferences {
  background: url("../img/icons/cog.png") no-repeat 0px 0px;
  height: 16px;
  margin: 0px 0px 10px 12px;
  padding-top: 2px;
  padding-left: 20px;
}

.widgetsPreferences a {
  color: #777;
  font-size: 13px;
}

.widgetsPreferences a:hover {
  color: #999;
}

.gameIcon {
  width: 48px;
}

.scrabbleSection {
  margin-bottom: 10px;
}

.scrabbleSection .title {
  background: #ccc;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-size: 120%;
  font-weight: bold;
  padding: 5px;
}

.scrabbleSection .body {
  border: 1px solid black;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 5px;
}

.scrabbleSearchDiv {
  text-align: center;
}

.scrabbleVerif {
  display: inline-block;
  height: 24px;
  padding: 9px 0px;
  vertical-align: middle;
  width: 24px;
}

.scrabbleVerifYes {
  background: url("../img/icons/check.png") 0px 9px no-repeat;
}

.scrabbleVerifNo {
  background: url("../img/icons/cross.png") 0px 9px no-repeat;
}

.locDiff .del {
  color: red;
}

.locDiff .ins {
  color: green;
}

/* align banner to the left only on small resolutions;
   adjust widget box size from homepage, on small resolutions */
@media screen and (max-width: 1093px) {
  #banner_mainPage {
    margin-left: 0px;
  }

  .widgetBox {
    width: 200px;
  }

  .widgetList span {
    float: left;
    max-width: 113px;
  }

  .widgetList li img {
    clear: both;
  }

  li.widgetsPreferences {
    margin: 0px 0px 20px 10px;
  }
}

@media screen and (max-width: 1024px) {
  #searchHomePage {
    margin-left: 40px;
  }

  #missionStatement {
    width: 470px;
  }

  #banner_mainPage {
    margin-left: 40px;
  }

  #mainMenu .donateLink {
    top: 8%;
  }
}

/* hide widget box for very small resolutions */
@media screen and (max-width: 983px) {
  .widgetBox {
    display: none;
  }

  #banner_mainPage {
    margin-left: 71px;
  }
}


/* Medal stuff */
#medalEditDiv {
 display: none;
 margin-bottom: 10px;
}

.medalCheckboxes {
  columns: 350px 2;
  -webkit-columns: 350px 2;
  margin: 5px 0px;
}


/* RICH USER PROFILE */
.userProfileHeader {
  overflow: hidden;
}

.userProfileHeader,
.userProfileSection {
  margin-left: 15px;
}

.userProfileHeader h3 {
  margin: 30px 0px 10px 55px;
  color: #333;
}

.avatar {
  border-radius: 4px;
  float: left;
  height: 48px;
  margin-right: 10px;
  width: 48px;
}

.userProfileSection {
  margin-top: 10px;
  border: 0px;
  padding: 10px 10px 10px 0px;
  margin-bottom: 10px;
}

.userProfileSection legend {
  color: #555;
  display: block;
  font-weight: bold;
}

.userFields {
  color: #777;
  display: inline-block;
  width: 150px;
  margin: 0px 10px 5px 5px;
}

.userNoMedals {
  color: #777;
  display: inline-block;
  margin: 0px 10px 5px 5px;
}

.sectionEdit {
  display: block;
  margin: -23px 0px 15px 55px;
}

.profileEditLink {
  font-size: 10px;
  font-weight: normal;
  padding-left: 10px;
}

#rawAvatarContainer {
  margin-top: 10px;
  overflow-x: auto;
  overflow-y: hidden;
  width: 870px;
}

#avatarPreviewContainer {
  border-radius: 4px;
  height: 48px;
  margin: 10px 0px;
  overflow: hidden;
  width: 48px;
}


/* CSS shadow */
.bendShadow {
  position: relative;
}

.bendShadow:before,
.bendShadow:after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 6px;
  width: 200px;
  height: 20px;
  -webkit-box-shadow: 0 8px 3px #BFBFBF;
  -moz-box-shadow: 0 8px 3px #BFBFBF;
  box-shadow: 0 8px 3px #BFBFBF;
}

.bendShadow:before {
  -webkit-transform: rotate(356deg);
  -moz-transform: rotate(356deg);
  -o-transform: rotate(356deg);
  transform: rotate(356deg);
  left: 6px;
}

.bendShadow:after {
  -webkit-transform: rotate(4deg);
  -moz-transform: rotate(4deg);
  -o-transform: rotate(4deg);
  transform: rotate(4deg);
  right: 6px;
}

.tinyShadow:before,
.tinyShadow:after {
  width: 100px;
  bottom: 6px;
}

.widgetBox.bendShadow {
  position: absolute;
}

.widgetBox.bendShadow:before {
  bottom: 20px;
  width: 170px;
}

.widgetBox.bendShadow:after {
  display: none;
}
