.frequent-color {
  border: 1px solid var(--bs-gray-600);
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  width: 20px;
}

.frequent-color-background {
  background-color: var(--c-tag-bg);
}

.frequent-color-foreground {
  background-color: var(--c-tag);
}
