#tag-tree {
  line-height: 200%;
}

#tag-tree > ul {
  padding-left: 0px;
}

#tag-tree li {
  list-style: none;
}

.expand {
  cursor: pointer;
  transition: all 0.5s;
}

.expand.expanded {
  transform: rotate(180deg);
}
