.lexeme-links a {
  color: var(--bs-secondary) !important;
}

#similarDiff ins, #similarDiff del {
  cursor: pointer;
}

#similarRecord, #diffPopover {
  display: none;
}

.popover {
  max-width: 100%;
}
