Order Deny,Allow
Allow from all
<IfModule mod_php5.c>
  php_flag magic_quotes_gpc off
</IfModule>

RewriteEngine on
# Uncomment the next line when running DEX online from within a user directory
# RewriteBase /~cata/DEX/wwwbase/

# redirect mobiles to mobile's server
RewriteCond %{HTTP_user_agent} ^(DoCoMo|J-PHONE|KDDI|UP.Browser|DDIPOCKET|.*iPhone.*|.*iPod.*|.*BlackBerry.*|.*Windows.CE.*|.*LG.*|.*HTC.*|.*MOT.*|.*Motorola.*|.*Nokia.*|.*Samsung.*|.*SonyEricsson.*|.*Palm.*|.*Symbian.*) [NC]
RewriteRule (.*)  http://m.dexonline.ro/ [R,L]

# SEO rewrites
RewriteRule ^text(-([^/]+))?/(.*)$ search.php?cuv=$3&source=$2&text=1 [L]

# Third argument is always /paradigma
RewriteCond %{REQUEST_URI} /(definitie|lexem)(-([^/]+))?/.+/paradigma$
RewriteRule (.*)/paradigma$ $1&showParadigm=1

RewriteRule ^spre/(.*)$ goto.php?key=$1 [PT,L]
RewriteRule ^utilizator/(.*)$ user.php?n=$1 [PT,L]

RewriteRule ^definitie(-([^/]+))?/(.*)$ search.php?cuv=$3&source=$2 [PT,L]
RewriteRule ^lexem(-([^/]+))?/(.*)$ search.php?lexemId=$3&source=$2 [PT,L]

RewriteRule ^flexiune/lexem/(.*)$ paradigm.php?lexemId=$1 [PT,L]
RewriteRule ^(declinare|conjugare)/lexem/(.*)$ paradigm.php?lexemId=$2&type=$1 [PT,L]
RewriteRule ^flexiune/(.*)$ paradigm.php?cuv=$1 [PT,L]
RewriteRule ^(declinare|conjugare)/(.*)$ paradigm.php?cuv=$2&type=$1 [PT,L]

# Non-search pages
RewriteRule ^404$ simple.php?p=404 [PT,L]
RewriteRule ^cod-sursa$ simple.php?p=codeAccess [PT,L]
RewriteRule ^contact$ simple.php?p=contact [PT,L]
RewriteRule ^informatii$ simple.php?p=faq [PT,L]
RewriteRule ^legaturi$ simple.php?p=links [PT,L]
RewriteRule ^licenta-gpl$ simple.php?p=license [PT,L]
RewriteRule ^publicitate$ simple.php?p=ads [PT,L]
RewriteRule ^cuvinte/(.*)$ wordList.php?letter=$1 [PT,L]

# Redirect old php pages to new ones (only where we care about the link / pagerank)
RewriteRule ^faq.php$ informatii [R=301,L]
RewriteRule ^codeAccess.php$ cod-sursa [R=301,L]
RewriteRule ^contact.php$ contact [R=301,L]
RewriteRule ^contrib.php$ contribuie [R=301,L]
RewriteRule ^corect.php$ ghid [R=301,L]
RewriteRule ^license.php$ licenta-gpl [R=301,L]
RewriteRule ^scrabbleCheckInflection.php$ scrabble-flexiune [R=301,L]
RewriteRule ^scrabbleLoc.php$ scrabble-loc [R=301,L]
RewriteRule ^tools.php$ unelte [R=301,L]

# Append .php when a file by that name exists
RewriteCond %{REQUEST_URI} /[-a-z]+$
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule (.*)$ $1.php [L]
