Order Deny,Allow
Allow from all
<IfModule mod_php5.c>
  php_value error_reporting 32767
  php_flag display_errors on
</IfModule>

RewriteEngine on
Options -MultiViews
# Uncomment the next line when running DEX online from within a user directory
# RewriteBase /~cata/DEX/wwwbase/

#####################################################################################
# This section is desktop-specific and it should be commented out on m.dexonline.ro #
#####################################################################################

# Redirect mobiles to mobile's server, unless they have a cookie saying they want the desktop version
# Keep this in sync with phplib/util.php:util_isMobile() and with the Varnish configuration
RewriteCond %{HTTP_user_agent} ^(DoCoMo|J-PHONE|KDDI|UP.Browser|DDIPOCKET|.*iPhone.*|.*iPod.*|.*BlackBerry.*|.*Windows.CE.*|.*LG.*|.*HTC.*|.*MOT.*|.*Motorola.*|.*Nokia.*|.*Samsung.*|.*SonyEricsson.*|.*Palm.*|.*Symbian.*|.*Android.*) [NC]
RewriteCond %{HTTP_COOKIE} !desktopVersion=1
RewriteRule (.*)  http://m.dexonline.ro/$1 [R,L]

# When the user visits dexonline.ro/mobil, delete the desktopVersion cookie and send them to m.dexonline.ro
RewriteRule ^mobil$ http://m.dexonline.ro [CO=desktopVersion:0:.dexonline.ro:-1]

#####################################################################################################
# This section is mobile-specific and it should be commented out on all sites except m.dexonline.ro #
#####################################################################################################

# When the user visits m.dexonline.ro/desktop, set a 10-year cookie and send them to dexonline.ro
# Keep this cookie name in sync with the Varnish rules on the production server
RewriteRule ^desktop$ http://dexonline.ro [CO=desktopVersion:1:.dexonline.ro:5256000]

################################################################
# The rest of the file is common to mobile and desktop servers #
################################################################

# SEO rewrites
RewriteRule ^text(-([^/]+))?/(.*)$ search.php?cuv=$3&source=$2&text=1 [L]

RewriteRule ^spre/(.*)$ goto.php?key=$1 [PT,L]
RewriteRule ^utilizator/(.*)$ user.php?n=$1 [PT,L]

RewriteRule ^definitie(-([^/]+))?/([^/]+)(/([0-9]+))?(/paradigma)?(/xml)? search.php?cuv=$3&source=$2&defId=$5&showParadigm=$6&xml=$7 [PT,L]
RewriteRule ^lexem(-([^/]+))?/([^/]+)(/([0-9]+))?(/paradigma)? search.php?cuv=$3&source=$2&lexemId=$5&showParadigm=$6 [PT,L]

# Rewrites for old syntax used by dex-online.ro
RewriteRule ^([^/]+)/cauta/?$ /definitie/$1 [R=301,L]
RewriteRule ^cauta.php /search.php [R=301,L]

RewriteRule ^flexiune/lexem/(.*)$ paradigm.php?lexemId=$1 [PT,L]
RewriteRule ^(declinare|conjugare)/lexem/(.*)$ paradigm.php?lexemId=$2&type=$1 [PT,L]
RewriteRule ^flexiune/(.*)$ paradigm.php?cuv=$1 [PT,L]
RewriteRule ^(declinare|conjugare)/(.*)$ paradigm.php?cuv=$2&type=$1 [PT,L]
RewriteRule ^cuvantul-zilei$ wotd.php [PT,L]
RewriteRule ^cuvantul-zilei/(.*)$ wotd.php?d=$1 [PT,L]
RewriteRule ^cuvantul-lunii$ wotm.php [PT,L]
RewriteRule ^cuvantul-lunii/(\d*)/(\d*)$ wotm.php?d=$1-$2 [PT,L]
RewriteRule ^da-mi/cuvantul-zilei$ wotd.php?t=url [PT,L]
RewriteRule ^rss/cuvantul-zilei$ wotd.php?t=rss [PT,L]
RewriteRule ^rss/cuvântul-zilei$ wotd.php?t=blog [PT,L]
RewriteRule ^rss/cuvântul-zilei/(\d+)$ wotd.php?t=blog&h=$1 [PT,L]
RewriteRule ^arhiva/cuvantul-zilei/(\d+)/(\d+)/?$ wotdArchive.php?y=$1&m=$2 [PT,L]
RewriteRule ^arhiva/cuvantul-zilei/$ wotdArchive.php [PT,L]
RewriteRule ^cuvinte-aleatoare$ randomList.php [PT,L]
RewriteRule ^cuvinte-aleatoare/(\d+)$ randomList.php?n=$1 [PT,L]
RewriteRule ^lista/cuvinte-aleatoare$ randomList.php?k=1 [PT,L]
RewriteRule ^lista/cuvinte-aleatoare/(\d+)$ randomList.php?n=$1&k=1 [PT,L]

# Non-search pages
RewriteRule ^404$ simple.php?p=404 [PT,L]
RewriteRule ^contact$ simple.php?p=contact [PT,L]
RewriteRule ^informatii$ simple.php?p=faq [PT,L]
RewriteRule ^legaturi$ simple.php?p=links [PT,L]
RewriteRule ^licenta-gpl$ simple.php?p=license [PT,L]
RewriteRule ^publicitate$ simple.php?p=ads [PT,L]
RewriteRule ^lista-cuvinte/(.*)$ wordList.php?letter=$1 [PT,L]
RewriteRule ^articol/(.*)$ wikiArticle.php?title=$1 [PT,L]
RewriteRule ^rss/articole$ articole.php?t=rss [PT,L]
RewriteRule ^spanzuratoarea$ hangman.php [PT,L]
RewriteRule ^moara$ mill.php [PT,L]

# Redirect old php pages to new ones (only where we care about the link / pagerank)
RewriteRule ^faq.php$ /informatii [R=301,L]
RewriteRule ^contact.php$ /contact [R=301,L]
RewriteRule ^contrib.php$ /contribuie [R=301,L]
RewriteRule ^corect.php$ /articol/Ghid_de_exprimare_corectă [R=301,L]
RewriteRule ^ghid-exprimare$ /articol/Ghid_de_exprimare_corectă [R=301,L]
RewriteRule ^license.php$ /licenta-gpl [R=301,L]
RewriteRule ^scrabbleCheckInflection.php$ /scrabble-flexiune [R=301,L]
RewriteRule ^scrabbleLoc.php$ /scrabble-loc [R=301,L]
RewriteRule ^tools.php$ /unelte [R=301,L]

# Append .php when a file by that name exists
RewriteCond %{REQUEST_URI} /[-a-zA-Z]+$
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule (.*)$ $1.php [L]
