server {
  listen 80;
  server_name localhost;
  root /var/www/DEX/wwwbase;
  index index.php index.html;
  # rewrite_log on;

  try_files $uri $uri/ =404;

  # Note: this directive only works for actually broken URLS.
  # Once Nginx passes control to PHP, we are responsible for providing the content of the 404 page as well.
  # See http://stackoverflow.com/questions/437256/why-wont-my-php-app-send-a-404-error
  error_page 404 /404;

  location / {

    rewrite ^/text(-([^/]+))?/(.*)$ /search.php?cuv=$3&source=$2&text=1 last;
    rewrite ^/spre/(.*)$ /goto.php?key=$1 last;
    rewrite ^/utilizator/(.*)$ /user.php?n=$1 last;

    rewrite ^/definitie(-([^/]+))?/([^/]+)(/([0-9]+))?(/expandat)?(/(paradigma|sinteza))?(/(xml|json))?$ /search.php?cuv=$3&source=$2&defId=$5&tab=$8&all=$6&format=$10 last;
    rewrite ^/intrare(-([^/]+))?/([^/]+)(/([0-9]+))?(/(paradigma|sinteza))?(/(xml|json))?$ /search.php?cuv=$3&source=$2&entryId=$5&tab=$7&format=$9 last;
    rewrite ^/lexem/([^/]+)(/([0-9]+))?$ /search.php?cuv=$1&lexemeId=$3 last;

    # Rewrites for old syntax used by dex-online.ro
    rewrite ^/([^/]+)/cauta/?$ /definitie/$1 last;

    rewrite ^/flexiune/lexem/(.*)$ /paradigm.php?lexemeId=$1 last;
    rewrite ^/(declinare|conjugare)/lexem/(.*)$ /paradigm.php?lexemeId=$2&type=$1 last;
    rewrite ^/model-flexiune/(.*)$ /model-flexiune.php?model=$1 last;
    rewrite ^/modele-flexiune/(.*)$ /modele-flexiune.php?modelType=$1 last;
    rewrite ^/(declinare|conjugare)/(.*)$ /paradigm.php?cuv=$2&type=$1 last;
    rewrite ^/cuvantul-zilei$ /wotd.php last;
    rewrite ^/cuvantul-zilei/(.*)$ /wotd.php?d=$1 last;
    rewrite ^/cuvantul-lunii$ /wotm.php last;
    rewrite ^/cuvantul-lunii/(\d*)/(\d*)$ /wotm.php?d=$1-$2 last;
    rewrite ^/da-mi/cuvantul-zilei$ /wotd.php?t=url last;
    rewrite ^/rss/cuvantul-zilei$ /wotd.php?t=rss last;
    rewrite ^/rss/cuvântul-zilei/(\d+)$ /wotd.php?t=blog&h=$1 last;
    rewrite ^/arhiva/cuvantul-zilei/(\d+)/(\d+)/?$ /wotdArchive.php?y=$1&m=$2 last;
    rewrite ^/arhiva/cuvantul-zilei/$ /wotdArchive.php last;
    rewrite ^/cuvinte-aleatoare$ /randomList.php last;
    rewrite ^/cuvinte-aleatoare/(\d+)$ /randomList.php?n=$1 last;
    rewrite ^/lista/cuvinte-aleatoare$ /randomList.php?k=1 last;
    rewrite ^/lista/cuvinte-aleatoare/(\d+)$ /randomList.php?n=$1&k=1 last;
    rewrite ^/lista/cuvintele-zilei-aleatoare$ /randomList.php?w=15 last;
    rewrite ^/lista/cuvintele-zilei-aleatoare/(\d+)$ /randomList.php?w=$1 last;

    # Non-search pages
    rewrite ^/404$ /simple.php?p=404 last;
    rewrite ^/contact$ /simple.php?p=contact last;
    rewrite ^/informatii$ https://wiki.dexonline.ro/wiki/Informații last;
    rewrite ^/legaturi$ /simple.php?p=links last;
    rewrite ^/articol/(.*)$ /wikiArticle.php?title=$1 last;
    rewrite ^/rss/articole$ /articole.php?t=rss last;
    rewrite ^/spanzuratoarea$ /hangman.php last;
    rewrite ^/moara$ /mill.php last;
    rewrite ^/omleta$ /scramble.php last;

    # Redirect old php pages to new ones (only where we care about the link / pagerank)
    rewrite ^/ghid-exprimare$ /articol/Ghid_de_exprimare_corectă permanent;

    if (-f $document_root/$uri.php) {
      rewrite ^(.*)$ $uri.php last;
    }
  }

  location ~ \.php$ {
    include fastcgi_params;
    fastcgi_param SCRIPT_FILENAME $request_filename;
    # cata: Necessary for OpenID return URLs
    fastcgi_param SERVER_PORT 80;
    fastcgi_pass php;
    # fastcgi_read_timeout 180;

    # cata: This seems helpful in preventing fpm crashes
    fastcgi_keep_conn on;

    set $cors 0;
    if ($arg_xml) {
      set $cors 1;
    }
    if ($arg_json) {
      set $cors 1;
    }
    if ($cors) {
      add_header Access-Control-Allow-Origin *;
    }

    # Redirect old php pages to new ones (only where we care about the link / pagerank)
    rewrite ^/faq.php$ https://wiki.dexonline.ro/wiki/Informații permanent;
    rewrite ^/contact.php$ /contact permanent;
    rewrite ^/corect.php$ /articol/Ghid_de_exprimare_corectă permanent;
    rewrite ^/tools.php$ /unelte permanent;
  }

}
