server {
  listen 80;
  server_name localhost;
  root /var/www/DEX/wwwbase;
  index index.php index.html;
  # rewrite_log on;

  try_files $uri $uri/ =404;

  # Note: this directive only works for actually broken URLS.
  # Once Nginx passes control to PHP, we are responsible for providing the content of the 404 page as well.
  # See http://stackoverflow.com/questions/437256/why-wont-my-php-app-send-a-404-error
  error_page 404 = /404;

  location / {

    rewrite ^/text(-([^/]+))?/(.*)$ /search.php?cuv=$3&source=$2&text=1 last;
    rewrite ^/spre/(.*)$ /goto.php?key=$1 last;
    rewrite ^/utilizator/(.*)$ /user.php?n=$1 last;
    rewrite ^/definitie(-([^/]+))?/([^/]+)(/([0-9]+))?(/paradigma)?(/xml)?(/expandat)? /search.php?cuv=$3&source=$2&defId=$5&showParadigm=$6&xml=$7&all=$8 last;
    rewrite ^/lexem(-([^/]+))?/([^/]+)(/([0-9]+))?(/paradigma)? /search.php?cuv=$3&source=$2&lexemId=$5&showParadigm=$6 last;

    # Rewrites for old syntax used by dex-online.ro
    rewrite ^/([^/]+)/cauta/?$ /definitie/$1 last;

    rewrite ^/flexiune/lexem/(.*)$ /paradigm.php?lexemId=$1 last;
    rewrite ^/(declinare|conjugare)/lexem/(.*)$ /paradigm.php?lexemId=$2&type=$1 last;
    rewrite ^/flexiune/(.*)$ /paradigm.php?cuv=$1 last;
    rewrite ^/(declinare|conjugare)/(.*)$ /paradigm.php?cuv=$2&type=$1 last;
    rewrite ^/cuvantul-zilei$ /wotd.php last;
    rewrite ^/cuvantul-zilei/(.*)$ /wotd.php?d=$1 last;
    rewrite ^/cuvantul-lunii$ /wotm.php last;
    rewrite ^/cuvantul-lunii/(\d*)/(\d*)$ /wotm.php?d=$1-$2 last;
    rewrite ^/da-mi/cuvantul-zilei$ /wotd.php?t=url last;
    rewrite ^/rss/cuvantul-zilei$ /wotd.php?t=rss last;
    rewrite ^/rss/cuvântul-zilei/(\d+)$ /wotd.php?t=blog&h=$1 last;
    rewrite ^/arhiva/cuvantul-zilei/(\d+)/(\d+)/?$ /wotdArchive.php?y=$1&m=$2 last;
    rewrite ^/arhiva/cuvantul-zilei/$ /wotdArchive.php last;
    rewrite ^/cuvinte-aleatoare$ /randomList.php last;
    rewrite ^/cuvinte-aleatoare/(\d+)$ /randomList.php?n=$1 last;
    rewrite ^/lista/cuvinte-aleatoare$ /randomList.php?k=1 last;
    rewrite ^/lista/cuvinte-aleatoare/(\d+)$ /randomList.php?n=$1&k=1 last;
    rewrite ^/lista/cuvintele-zilei-aleatoare$ /randomList.php?w=15 last;
    rewrite ^/lista/cuvintele-zilei-aleatoare/(\d+)$ /randomList.php?w=$1 last;
  
    # Non-search pages
    rewrite ^/404$ /simple.php?p=404 last;
    rewrite ^/contact$ /simple.php?p=contact last;
    rewrite ^/informatii$ http://wiki.dexonline.ro/wiki/Informații last;
    rewrite ^/legaturi$ /simple.php?p=links last;
    rewrite ^/licenta-gpl$ /simple.php?p=license last;
    rewrite ^/publicitate$ /simple.php?p=ads last;
    rewrite ^/articol/(.*)$ /wikiArticle.php?title=$1 last;
    rewrite ^/rss/articole$ /articole.php?t=rss last;
    rewrite ^/spanzuratoarea$ /hangman.php last;
    rewrite ^/moara$ /mill.php last;
  
    # Redirect old php pages to new ones (only where we care about the link / pagerank)
    rewrite ^/ghid-exprimare$ /articol/Ghid_de_exprimare_corectă permanent;

    if (-f $document_root/$uri.php) {
      rewrite ^(.*)$ $uri.php last;
    }
  }

  location ~ \.php$ {
    fastcgi_split_path_info ^(.+\.php)(/.+)$;
    fastcgi_pass unix:/var/run/php5-fpm.sock;
    fastcgi_index index.php;
    include fastcgi_params;

    # Redirect old php pages to new ones (only where we care about the link / pagerank)
    rewrite ^/faq.php$ http://wiki.dexonline.ro/wiki/Informații permanent;
    rewrite ^/contact.php$ /contact permanent;
    rewrite ^/contrib.php$ /contribuie permanent;
    rewrite ^/corect.php$ /articol/Ghid_de_exprimare_corectă permanent;
    rewrite ^/license.php$ /licenta-gpl permanent;
    rewrite ^/tools.php$ /unelte permanent;
  }
}
