.notClickable {
  opacity: 0.5;
  z-index: 9999;
  display: block;
  pointer-events: none;
}

.ld-dual-ring {
  width: 1em;
  height: 1em;
  position: relative;
  color: inherit;
  display: inline-block;
}

.ld-dual-ring:after {
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  margin: 1px;
  border-radius: 50%;
  border: 0.15em solid #FFFFFF;
  border-color: #FFFFFF transparent #FFFFFF transparent;
  animation: ld-dual-spin 0.3s linear infinite;
}

@keyframes ld-dual-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ld-ring {
  width: 1em;
  height: 1em;
  position: relative;
  color: inherit;
  display: inline-block;
/*
  &:before
    content: "◎"
    display: block
    visibility: hidden
  */
}

.ld-ring:after {
  position: absolute;
  margin: auto;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: " ";
  display: inline-block;
  background: center center no-repeat;
  background-size: cover;
}

.ld-ring:after {
  border-radius: 50%;
  border-style: solid;
  border-width: 0.15em;
  background-clip: padding-box;
  border-color: currentColor currentColor currentColor transparent;
  box-sizing: border-box;
}

@keyframes ld-spin {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(180deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ld.ld-spin {
  animation: ld-spin 1s infinite;
}

@keyframes ld-spin-fast {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(540deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1080deg);
  }
}

.ld.ld-spin-fast {
  animation: ld-spin-fast 1s infinite;
}

.ld-ext-right,
.ld-ext-left {
  position: relative;
  transition: all 0.3s;
  transition-timing-function: ease-in;
  overflow: hidden;
}

.ld-ext-right > .ld,
.ld-ext-left > .ld {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -0.5em;
  opacity: 0;
  z-index: -100;
  transition: all 0.3s;
  transition-timing-function: ease-in;
}

.ld-ext-right.running > .ld,
.ld-ext-left.running > .ld {
  opacity: 1;
  z-index: auto;
}

.ld-ext-right.running {
  padding-right: 2.5em !important;
}

.ld-ext-right > .ld {
  top: 50%;
  left: auto;
  right: 1em;
}

.ld-ext-left.running {
  padding-left: 2.5em !important;
}

.ld-ext-left > .ld {
  top: 50%;
  right: auto;
  left: 1em;
}

td.internalRep, th.internalRep {
  display: none;
}
