#similarRecord {
  display: none;
}

#similarDiff ins {
  background-color: #AFA;
  cursor: pointer;
  text-decoration: none;
}

#similarDiff del {
  background-color: #FAA;
  cursor: pointer;
  text-decoration: none;
}

