.defWrapper .rep {
  margin-top: 10px;
}

.defWrapper .internal {
  font-family: courier;
}

.defWrapper .hiddenRep {
  display: none;
}

.commentInternalRep {
  color: #333;
  margin-left:15px;
  margin-top: 5px;
  padding: 5px;
}
