.tip {
  margin: 10px;
  text-align: center;
}

.tip span {
  background: #e3f2fa;
  border: 1px solid #90c9e8;
  border-radius: 8px;
  padding: 10px;
}

#tagTree li {
  cursor: pointer;
  list-style: none;
}

.expand {
  float: left;
  width: 24px;
  height: 24px;
}

.expand.open {
  background: url("../../img/icons/minus.png") 3px 5px no-repeat;
}

.expand.closed {
  background: url("../../img/icons/plus.png") 3px 5px no-repeat;
}

.value {
  min-height: 25px;
  padding: 3px;
}

#valueBox {
  max-height: 2em;
}

#tagTree .selected ul {
  background: #e3f2fa;
}

#menuBar {
  background-color: #90c9e8;
  display: none;
  line-height: 2.5em;
}

#menuActions {
  float: right;
  margin-right: 5px;
}
