#stemNode {
  display: none;
}

#meaningMenu .arrowButton {
  float: right;
  padding: 0em 1em;
}

#meaningEditor label {
  display: inline-block;
  width: 80px;
}

#editorRep,
#editorEtymology,
#editorComment {
  display: block;
  margin-bottom: 10px;
  width: 500px;
}

abbr {
  border-bottom: 1px dotted #aaa;
  cursor: help;
}

input[readonly] {
  background-color: #f4f4f4;
}
