.millArea form {
  margin-bottom: 10px;
}

.millArea .word {
  font-weight: bold;
  font-size: 26px;
  text-align: left;
  margin-right: 5px;
}

#mill {
  margin: 20px 0px 10px 0px;
}

#mill button {
  text-align: left;
  white-space: normal;
}

#questionPage,
#resultsPage,
#defPanel {
  display: none;
}

.questionImage {
  display: inline-block;
  margin-right: 10px;
}

.questionNumber {
  display: inline-block;
  margin-left: -10px;
  color: #777;
}
