#gamePanel, #wordListPanel {
  display: none;
}

canvas {
  border: 1px solid;
  display: block;
  margin: 0 auto;
}

#gameStats {
  font-size: 30px;
  margin: 0 auto;
  text-align: center;
  width: 480px;
}
