#gamePanel,
#wordListPanel,
#restartGameButton {
  display: none;
}

#canvasWrap {
  height: auto;
  margin: 0 auto;
  max-width: 480px;
  width: 100%;
}

canvas {
  border: 1px solid black;
}

#gameStats {
  font-size: 30px;
  margin: 0 auto;
  max-width: 480px;
  text-align: center;
  width: 100%;
}
