.drawArea {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

.canvasArea{
  border: 1px solid;
}

#resultSearch span {
  font-size: 16px;
  font-style: italic;
  margin-top: 20px;
  padding-left:  10px;
  display: inline-block;

}
