/* used from bits/wotdArchive.tpl, but only included (via Ajax) in wotd.tpl */
.wotdArchiveTable {
  text-align: center;
  vertical-align: middle;
  table-layout: fixed;
}

.wotdArchiveTable .wotdDoM {
  text-align: right;
  font-weight: bold;
}

.wotdArchiveTable td {
  width: 90px;
  height: 90px;
}

.wotd-navigation {
  height: 29px;
}

.wotd-navigation span {
  font-size: 28px;
}

@media (max-width: 767px) {
  .wotdArchiveTable tbody td {
    display: block;
    width: auto;
    height: auto;
    font-size: 1.2em;
    text-align: left;
    border: none;
    background: #fff;
  }

  .wotdArchiveTable thead,
  .wotdArchiveTable tbody td:not(.activeMonth) {
    display: none;
  }

  .wotdArchiveTable tbody td > div {
    display: inline-block;
  }

  .wotdArchiveTable .wotdDoM {
    width: 5%;
  }

  .wotd-link {
    width: 78%;
  }
}

@media (max-width: 320px) {
  .wotdArchiveTable .wotdDoM {
    width: 8%;
  }

  .wotd-link {
    width: 70%;
  }
}
