AuthType Basic
AuthName "Password Protected Area"
AuthUserFile /etc/php5/apache2/.htpasswd

Order Deny,Allow
Deny from all
Allow from 127.0.0.1

<Files "index.php">
	Order Allow,Deny
	Allow from all
	Require valid-user
</Files>
