/* Styles for pages which only admins can see. */
.navbar {
  margin-bottom: 0;
}

body.search section.search,
body.other section.search {
  margin-top: 20px;
}

.card-admin .defWrapper {
  padding: 0 3px;
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 0.8em;
}

/* center the pencil icon vertically */
.select2-selection__choice .material-icons {
  margin-top: -3px;
}

.btn-charmap {
  width: 3em;
  margin: 2px;
}

[data-bs-toggle="collapse"].collapsed .if-not-collapsed {
  display: none;
}
[data-bs-toggle="collapse"]:not(.collapsed) .if-collapsed {
  display: none;
}

/* SortableJS */
.drag-indicator {
  cursor: grab;
}
