.frequentObjects .btn-group {
  display: flex; /* prevent the name + trash icon from wrapping during drag */
}

#frequentObjectsTrash {
  display: none;
  left: 20px;
  position: fixed;
  top: 50%;
  z-index: 99;
}

.frequentObjectsTrashActive button {
  transition: font-size 0.2s linear;
  font-size: 180%;
}
