#cboxLoadedContent canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.img-label {
  background: #eee;
  max-width: 100px;
  position: absolute;
  transform: translate(-50%, -50%);
  white-space: normal;
}

#toggle-tags {
  bottom: 0.5rem;
  position: absolute;
  right: 0.5rem;
}
