#gallery {
  float: right;
  padding-left: 10px;
}

#gallery img {
  box-shadow: 2px 2px 10px var(--bs-gray-400);
  display: block;
  margin-bottom: 5px;
}

#prototypeTagsToggleButton {
  display: none;
}

#cboxLoadedContent canvas {
  position: absolute;
  top: 5px;
  left: 5px;
}

#cboxLoadedContent .badge {
  background: #eee;
  max-width: 100px;
  position: absolute;
  transform: translate(-50%, -50%);
  white-space: normal;
}

#tagsToggle {
  background-color: #fff;
  bottom: 5px;
  color: var(--bs-body-color);
  cursor: pointer;
  position: absolute;
  right: 5px;
}

@media (max-width: 480px) {
  #gallery {
    float: none;
    margin-top: 10px;
    padding-left: 0;
  }

  #gallery img {
    display: inline;
    margin-bottom: 5px;
  }
}
