body {
  /* prevent ligatures for the following reasons:
   * 1. tonic accent (underline) is not displayed in ~fi~ segments
   * 2. %fig.%, %refl.% etc. look bad when spaced.                 */
  font-variant-ligatures: no-common-ligatures;
}

pre {
  white-space: pre-wrap;
}

/* Keep a visual indication of the last clicked link. Helpful when opening
   links in a new tab. */
a:focus {
  text-decoration: underline;
}

.list-inline-bullet li:not(:first-child):before {
  content: '•';
  opacity: 0.5; /* don't force a color, use opacity instead */
  padding-right: .5rem;
}

.list-inline-bullet.list-inline-bullet-sm li:not(:first-child):before {
  padding-right: .25rem;
}

.list-inline-bullet-sm .list-inline-item:not(:last-child) {
    margin-right: .25rem;
}


/*********** navbar and its elements ***********/

.navbar {
  background-color: var(--c-navbar-bg);
  border-bottom: 1px solid var(--c-navbar-border);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, .1);
}

.navbar .avatar {
  border-radius: 4px;
  margin: -15px 5px;
}

/* Accomodate non-collapsible donate link. */
.navbar-toggler {
  margin-left: 5px;
}


/**************************** material icons ****************************/

.material-icons {
  direction: ltr;
  display: inline-block;
  font-family: 'Material Icons';
  font-size: 125%;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
  text-transform: none;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: normal;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.btn .material-icons {
  margin-right: 3px;
  position: relative;
  top: -1px;
}


/********************************* tags *********************************/

.tag .material-icons {
  margin-top: -1px;
}

.tag a {
  /* if you go below this, badges with material icons may end up taller than */
  /* those without them */
  line-height: 1.4;
}

.tag-tooltip {
  cursor: help;
}


/*********** search form ***********/

#searchClear {
  margin-left: -40px;
  padding-right: 4px;
  z-index: 100;
}

#advancedAnchor {
  text-decoration: underline;
}

#searchForm .form-control:focus {
  box-shadow: 0 1px 1px rgba(0, 0, 0, .075), 0 0 4px var(--c-search-shadow);
}

#select2-sourceDropDown-results li {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* autocomplete options */
#ui-id-1 {
  box-shadow: 0 6px 8px 0px var(--c-ddd);
}

#ui-id-1 .ui-menu-item-wrapper:hover {
  background: var(--c-eee);
  border-color: var(--c-eee);
  color: inherit;
}


/*********** banner ***********/

.banner-section {
  display: flex;
  justify-content: center;
  margin-bottom: 1.6em;
}

header .banner-section {
  margin-bottom: 0;
  max-width: 100%;
}

.fakeBanner {
  background: var(--c-777);
  color: var(--bs-body-bg);
  font-size: 60px;
  height: 90px;
  text-align: center;
  width: 728px;
}


/*********** footer ***********/

footer {
  border-top: 1px solid var(--c-eee);
  margin-top: 1rem;
  padding-top: 1rem;
}

.fbBottom {
  overflow-x: hidden;
}


/*********** definitions ***********/

/* The default underline sticks to the bottom of the text with no padding. */
abbr[title] {
  border-bottom: 1px dotted var(--c-777);
  text-decoration: none;
}

.defWrapper {
  margin: 1.6em 0; /* top/bottom margins to match the line-height */
  font-size: 1.15em; /* define the font-size on the wrapper, for better encapsulation */
  line-height: 1.6;
}

.hasDependants, .dependantsWrapper {
  border-left: 3px solid var(--c-ccc);
  margin-left: -1rem;
  padding-left: 1rem;
}

.dependantsWrapper {
  border-left-style: dashed;
}

/* prevent some jitter caused by collapsing margins
   https://css-tricks.com/what-you-should-know-about-collapsing-margins/ */
.dependantsWrapper .defWrapper:first-child {
  margin-top: 0;
}

.dependantsWrapper .defWrapper:last-child {
  margin-bottom: 0;
}

.def {
  color: var(--c-000);
  cursor: pointer;
}

.defDetails {
  margin: 0; /* remove paragraph margin */
  font-size: 0.85em;
  line-height: 1.88; /* equivalent line height: 1.6 / 0.85em */
}

.spaced {
  letter-spacing: 3px;
  padding-left: 2px;
}

.deemph {
  color: var(--c-ccc);
}

.emph {
  color: var(--c-000);
}

.tonic-accent {
  text-decoration: underline;
}

.secondary-accent {
  text-decoration: underline double;
}

.rareGlyph {
  background: red;
  color: white;
}

sup.footnote {
  cursor: auto;
  font-style: normal; /* do not inherit bold/italic */
  font-weight: normal;
  padding-left: 2px;
}

.card-footnotes {
  color: var(--c-444);
  font-size: 85%;
  margin: 20px 0 10px 30px;
}

.card-footnotes .card-body {
  padding: 0 15px;
}

.card-footnotes:before {
  background-color: var(--c-fff);
  border-left: 1px solid var(--c-ddd);
  border-top: 1px solid var(--c-ddd);
  content: "\00a0";
  display: block;
  height: 20px;
  left: 20px;
  position: relative;
  top: -11px;
  transform: rotate(45deg);
  width: 20px;
}

.callout {
  border: 1px solid var(--c-eee);
  border-left-width: 5px;
  border-radius: 3px;
  margin: 20px 0;
  overflow: hidden;
  padding: 10px 20px;
}

.callout-info {
  border-left-color: var(--bs-info);
}

.callout-info h3 {
  color: var(--bs-info);
}

/************** labels inside headers **************/

h3 .badge {
  font-size: 12px;
  vertical-align: middle;
}

/************** scanned page modal **************/

#pageModal .modal-dialog {
  max-width: 100%;
  width: 95%;
}

#pageModal .alert {
  display: none;
  margin-bottom: 0px;
}

#pageImage {
  width: 100%;
}

.pageScan {
  min-height: 64px;
  overflow: hidden;
}

/*********** links in alerts ***********/

.alert .alert-link {
  text-decoration: underline;
}

/*********** misc helpers ***********/

a.disabled {
  pointer-events: none;
}

/* articles images (imported from wiki */

div.tright {
  margin: .5em 0 1.3em 1.4em;
  clear: right;
  float: right;
}

div.thumb {
  margin-bottom: .5em;
  width: auto;
  background-color: transparent;
}

/* for select2 field which contains too many items */
.overflownSelect2 .select2-selection__rendered {
  max-height: 81px;
  overflow-y: scroll !important;
}

.linkBox {
  background-color: var(--c-eee);
  border: 1px solid var(--c-aaa);
  border-radius: 4px;
  cursor: default;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  padding: 0 5px;
}

.form-control.overflown {
  padding: 0 5px 5px 5px;
  height: auto;
  max-height: 88px;
  overflow-y: auto;
}

.userNick {
  white-space: nowrap;
}

/* tablesorter */

.tablesorter-header,
.tablesorter-pager th {
  background-color: white !important;
}

/****************** „Read more” link for long sections ******************/

.read-more {
  overflow: hidden;
  position: relative;
}

.read-more .read-more-btn {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8) 0%, #ccc 100%);
  border: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
}
