.meaningTree {
  margin-bottom: 0px;
  margin-top: 0px;
  padding-left: 0px;
}

.meaningTree ul {
  padding-left: 30px;
  margin-left: 10px;
}

.meaningTree ul ul {
  padding-left: 30px;
  margin-left: 10px;
}

.meaningTree li {
  list-style: none;
}

.meaningTree .meaningContainer {
  padding: 2px 0px;
}

.meaningTree .bc:not(:empty) {
  margin-right: 5px;
}

.meaningTree .typeName:not(:empty) {
  font-weight: bold;
  margin-right: 5px;
  margin-bottom: 3px;
  color: var(--bs-gray-700);
}

.meaningTree .mention {
  border-bottom: 1px dotted var(--bs-gray-800);
  color: inherit;
  text-decoration: none;
}

.meaningTree .tag-group a {
  color: var(--bs-gray-800);
}

.meaningTree .meaning-tags .badge {
  background-color: inherit !important;
  border: 1px solid var(--bs-gray-400);
  font-weight: normal;
}

.meaningTree .badge-source {
  background: var(--bs-gray-200);
  color: var(--bs-gray-800) !important;
  cursor: help;
  font-weight: normal;
}

.meaningTree .badge-relation {
  font-weight: normal;
  margin-left: 8px;
}

.meaningTree .badge-relation a:hover {
  filter: brightness(75%);
  text-decoration: none;
}

.meaningTree .badge-relation a,
.meaningTree .badge-relation a:hover {
  color: var(--bs-gray-700);
}

.meaningTree .badge-relation-1 a,
.meaningTree .badge-relation-1 a:hover {
  color: var(--bs-green);
}

.meaningTree .badge-relation-2 a,
.meaningTree .badge-relation-2 a:hover {
  color: var(--bs-red);
}

.meaningContainer:target {
  background: var(--bs-gray-300);
  border: 1px solid transparent;
  border-radius: 5px;
}

.textcomplete-dropdown {
  max-height: 155px;
  overflow-y: scroll;
}

.textcomplete-item a {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 500px;
}

.etymologyBc {
  font-weight: bold;
}

.depth-0 {
  margin-top: 10px;
}

.depth-0 > .meaningContainer > .meaning-row {
  font-size: 18px;
}

.etymology {
  font-size: 80%;
  margin-top: 10px;
}

.etymology .meaningTree  {
  padding-left: 42px;
}

.bc,
.etymology-heading {
  font-weight: bold;
}

.meaning-relations {
  padding-left: 42px;
}

.meaning-sources {
  line-height: 100%; /* prevents a vertical glitch when toggling sources */
  vertical-align: 10%;
}

.type-etymology .meaning-row {
  margin-bottom: 3px;
}

.type-example .def { /* example */
  color: var(--bs-gray-700);
}

.meaning-icon {
  color: var(--bs-gray-500);
  font-size: 80%;
  padding: 0 0.6rem;
}

.tree-heading {
  border-bottom: 1px solid var(--bs-gray-500);
  font-weight: bold;
  padding-bottom: 10px;
}

.tree-body {
  margin-bottom: 40px;
  padding-left: 20px;
}

/* visibility control; works in conjunction with the checkboxes on the tree tab */
.meaning-sources,
.type-example,
.type-expression.depth-1,
.type-expression.depth-2,
.type-meaning.depth-0 ~ .type-expression,
.type-meaning.depth-1 {
  display: none;
}

@media (max-width: 480px) {
  .meaning-relations {
    padding-left: 32px;
  }

  .meaningTree ul {
    padding-left: 20px;
    margin-left: 0;
  }

  .meaningTree ul ul {
    padding-left: 28px;
    margin-left: 0;
  }
}

@media (max-width: 320px) {
  .card-body {
    padding: 0;
  }

  .meaning-relations {
    padding-left: 4px;
  }

  .meaningTree ul,
  .meaningTree ul ul {
    padding-left: 0;
    margin-left: 0;
  }
}
