/* stylesheet only for custom tweaks regarding responsive layout on ALL pages.
    Do Not use this stylesheet for tweaks applied to only a page, use the specific page stylesheet instead */

@media (max-width: 767px) {
  #advancedAnchor {
    float: right;
    padding: 9px 9px 5px 0px;
  }
}

@media (min-width: 993px) {
  header .container {
    padding: 0;
  }
}
