#scrollTopButton {
  background-color: #333;
  border-radius: 7px;
  border: none;
  bottom: 20px;
  color: white;
  display: none;
  font-size: 18px;
  padding: 15px;
  position: fixed;
  right: 20px;
  z-index: 99;
}

#scrollTopButton:hover {
  background-color: #777;
}
