/*********** select2 overrides ***********/
/* for too long lines (ex.: dictionary names)*/
.select2-results>ul>li {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* for a field which contains too many items */
.overflownSelect2 .select2-selection__rendered {
  max-height: 81px;
  overflow-y: scroll !important;
}

.input-group span.select2-selection.select2-selection--single {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
